﻿<div class="ui-sortable-content">
    <div class="row">
        <div class="pull-left">
            <b>{{$index + 1}}</b>
            <img ng-src="{{item.image}}" />
        </div>
        <div class="col-xs-9 col-sm-10 col-md-10 col-lg-10 item-name"><b>{{item.name}}</b></div>
    </div>
</div>