﻿<div class="signin">
    <div class="signin-close" ng-click="close()">
        <i class="fa fa-times fa-2x"></i>
    </div>
    <div class="row signin-logo">
        <figure class="col-xs-8 col-xs-offset-2">
            <img class="img-responsive" src="/public/assets/images/logo_big.png" alt="logo" />
        </figure>
    </div>
    <div class="row form-group">
        <div class="col-xs-8 col-xs-offset-2">
            <input type="text" class="form-control" placeholder="Login"/>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-xs-8 col-xs-offset-2">
            <input type="password" class="form-control" placeholder="Password"/>
        </div>
    </div>
    <div class="row first-col-bottom-align">
        <div class="col-xs-4 col-xs-offset-2">
            <a class="signin-password lighter">Forgot password?</a>
        </div>
        <div class="col-xs-4 col-xs-offset-2 hidden-xs"></div>
        <div class="col-xs-4 text-right">
            <a class="btn btn-default btn-lg btn-lg-white" role="button">SIGN IN</a>
        </div>
    </div>
</div>
