<div class="home-video">
    <div class="signin-close" ng-click="close()">
        <i class="fa fa-times fa-2x"></i>
    </div>
    <iframe src="https://www.youtube.com/embed/WREXBWpOtTU" allowfullscreen></iframe>
</div>