﻿<section class="background-home-1">
    <div class="container section-container mobile-align-content-center">
        <div class="row second-col-bottom-align">
            <figure class="col-sm-7">
                <img class="img-responsive" src="/public/assets/images/device_home_1.png" alt="device" />
            </figure>
            <div class="col-sm-5 home-title">
                <div class="row">
                    <figure class="col-xs-12">
                        <img class="img-responsive" src="/public/assets/images/bleu_text_1.png" alt="logo" />
                    </figure>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <a ng-click="videoUp()" class="btn btn-default btn-lg" role="button"><i class="fa fa-play fa-fw"></i> PLAY VIDEO</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 home-subtext">
                <p class="text-justify white-shadow lighter">Bleu is a secure and easy-to-use contactless payment solution powered by Beacon Technology</p>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container section-container">
        <div class="row section-header second-col-bottom-align">
            <div class="col-sm-9">
                <h1 class="dark-blue extra-large-header">Universal Terminal</h1>
            </div>
            <div class="col-sm-3">
                <a href="/#/contacts" class="btn btn-default btn-lg btn-lg-white" role="button">GET STARTED</a>
            </div>
        </div>
        <div>
            <p class="text-justify dark-blue lighter">Bleu's integrated point of sale is an elegant all in one platform for any retailer big and small. For the first time, Bleu delivers to merchants an out of the box, plug and play point of sale solution with the most advanced security and sophisticated applications.</p>
        </div>
        <figure>
            <img class="img-responsive" src="/public/assets/images/powapos_full_picture.png" alt="device" />
        </figure>
        <div class="row section-bottom second-col-bottom-align">
            <div class="col-sm-9">
                <div class="row">
                    <div class="col-sm-12">
                        <span class="pull-right dark-blue">FOR THE FIRST TIME EVER A SIMPLE TURNKEY</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <span class="pull-right dark-blue">PERIPHERAL SOLUTION</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <a href="/#/contacts" class="btn btn-default btn-lg btn-lg-white pull-right" role="button">LEARN MORE</a>
            </div>
        </div>
    </div>
</section>

<section class="background-home-2">
    <div class="container section-container">
        <div class="row first-col-bottom-align mobile-align-content-center">
            <div class="col-sm-7">
                <div class="row">
                    <div class="col-xs-12">
                        <h1 class="white dark-shadow extra-large-header">Bleu-Go Mobile App</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <p class="text-justify white dark-shadow paragraph-padding lighter">Customers can place orders ahead of time and they are delivered straight to the Bleu point of sale. Merchants are notified when the customers arrive to pick up their orders on the go.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <a href="/#/contacts" class="btn btn-default btn-lg btn-lg-white margin-bottom-1" role="button">LEARN MORE</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-7 hidden-xs"></div>
            <figure class="col-sm-5">
                <img class="img-responsive center-block" src="/public/assets/images/device_home_3.png" alt="device" />
            </figure>
        </div>
    </div>
</section>

<section class="background-home-3">
    <div class="container section-container mobile-align-content-center">
        <div class="row section-header">
            <div class="col-sm-12">
                <p class="text-center dark-blue lighter">Place orders on customer profiles and allow them to pay at any time through the Bleu mobile app. Increase your table turnover and decrease customer wait times.</p>
            </div>
        </div>
        <div class="row second-col-bottom-align">
            <figure class="col-sm-7">
                <img class="img-responsive" src="/public/assets/images/device_home_4.png" alt="device" />
            </figure>
            <div class="col-sm-5 home-pay">
                <div class="row">
                    <figure class="col-xs-12">
                        <img class="img-responsive pull-right" src="/public/assets/images/bleu_text_2.png" alt="logo" />
                    </figure>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <a href="/#/contacts" class="btn btn-default btn-lg pull-right" role="button">LEARN MORE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container section-container">
        <div class="row section-header second-col-bottom-align">
            <div class="col-sm-9">
                <h1 class="dark-blue extra-large-header">In Store Analytics</h1>
            </div>
            <div class="col-sm-3">
                <a href="/#/contacts" class="btn btn-default btn-lg btn-lg-white" role="button">LEARN MORE</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p class="text-justify dark-blue lighter">As customers enter your store, their mobile devices connect and transition from one Bleu beacon to the next, transmitting valuable information on visits, micro location data, and shopper experience. Since the range awareness for the beacon is so sensitive, it can tell what they're closest to or what products they pick up, unlocking customer data like never before.</p>
            </div>
        </div>
    </div>
</section>

<section class="background-home-4">
    <div id="lightbulb-section" class="container section-container" lightbulb>
        <!--<img class="img-responsive" src="images/device_home_5.png" alt="device"/>-->
        <img class="img-responsive" src="/public/assets/images/store_plan1.png" alt="device" />
        <img id="lightbulb-image" class="img-responsive" src="/public/assets/images/store_plan3.png" alt="lightbulb-image" />
    </div>
</section>

<section>
    <div class="container section-container">
        <div class="row section-header second-col-bottom-align">
            <div class="col-sm-9">
                <h1 class="dark-blue extra-large-header">Payment Data</h1>
            </div>
            <div class="col-sm-3">
                <a href="/#/contacts" class="btn btn-default btn-lg btn-lg-white" role="button">LEARN MORE</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p class="text-justify dark-blue lighter">When a customer pays with Bleu, we are able to unlock intelligent payment data on menu items, average wait time, price per purchase, customer demographics, and other valuable sales information. Customers create profiles in Bleu that allow merchants to know their customers' preferences and habits.</p>
            </div>
        </div>
    </div>
</section>

<section class="background-home-5">
    <div class="container section-container">
        <img class="img-responsive" src="/public/assets/images/device_home_6.png" alt="device" />
    </div>
</section>

<section>
    <div class="container section-container">
        <div class="row section-header second-col-bottom-align">
            <div class="col-sm-9">
                <h1 class="dark-blue extra-large-header">Contextual Marketing</h1>
            </div>
            <div class="col-sm-3">
                <a href="/#/contacts" class="btn btn-default btn-lg btn-lg-white" role="button">LEARN MORE</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p class="text-justify dark-blue lighter">Determining customer activity is extremely valuable to any business. We use our beacons to deliver information to better serve customers. Now Merchants can use these analytics to design marketing campaigns, create customer loyalty and rewards, customize the layout of your retail space, and add new products.</p>
            </div>
        </div>
    </div>
</section>

<section class="background-home-6">
    <div class="container section-container">
        <div class="row second-col-bottom-align mobile-align-content-center">
            <figure class="col-sm-5">
                <img class="img-responsive center-block" src="/public/assets/images/device_home_7.png" alt="device" />
            </figure>
            <div class="col-sm-7">
                <div class="row">
                    <figure class="col-xs-12">
                        <img class="img-responsive pull-right" src="/public/assets/images/logo_white.png" alt="logo" />
                    </figure>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <p class="text-right white dark-shadow paragraph-padding lighter">provides you with in-store and payment analytics to<br />help enchance the customer experience</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>