﻿<section class="background-company">
    <div class="container section-container section-content section-content-black mobile-align-content-center">
        <h1 class="company-header extra-large-header white-shadow">Company</h1>
    </div>
</section>

<section>
    <div class="container section-container mobile-align-content-center">
        <div class="row second-col-bottom-align">
            <figure class="col-sm-4">
                <img class="img-responsive" src="/public/assets/images/logo_big.png" alt="logo" />
            </figure>
            <div class="col-sm-8">
                <h1 class="company-content-header">stands for<br />Bluetooth Low Energy Utilities</h1>
            </div>
        </div>
        <div class="row company-description">
            <div class="col-xs-12">
                <p class="text-justify lighter">We believe the Bleu platform will be a core feature in the future of a connected body, home, city, business and industry. Very soon the Internet will be in everything, everywhere, all the time. It's a smart world and we are at the forefront of providing smart solutions in the Internet of things.</p>
            </div>
        </div>
    </div>
</section>