﻿<section class="background-consumer-1">
    <div class="container section-container">
        <div class="row">
            <figure class="col-sm-5">
                <img class="img-responsive consumer-loyality-rewards-image" src="/public/assets/images/bleu_loyalty.png" alt="device" />
            </figure>
        </div>
    </div>
</section>

<section>
    <div class="container section-container">
        <div class="row">
            <div class="col-sm-7 mobile-align-content-center">
                <div>
                    <p class="text-justify dark-blue lighter">Bleu's full integration of merchants existing loyalty plans and gift card storage imbedded into the application allow you to quickly earn points and rewards with every purchase. Your points, coupons, and rewards are automatically applied so you never need a physical card again.</p>
                </div>
                <div class="store store-left">
                    <a>
                        <img class="img-responsive social-icons-round-border" src="/public/assets/images/google_play_button.png" alt="Google play" />
                    </a>
                    <a>
                        <img class="img-responsive social-icons-round-border" src="/public/assets/images/app_store_button.png" alt="App store" />
                    </a>
                </div>
            </div>
            <div class="col-sm-5">
                <img class="img-responsive center-block consumer-device" src="/public/assets/images/device_consumer_1.png" alt="device" />
            </div>
        </div>
    </div>
</section>
        
<section class="background-consumer-2">
    <div class="container section-container">
        <div class="row second-col-bottom-align">
            <div class="col-sm-5">
                <img class="img-responsive center-block" src="/public/assets/images/device_consumer_2.png" alt="device" />
            </div>
            <div class="col-sm-7 mobile-align-content-center">
                <div class="row">
                    <figure class="col-sm-8">
                        <img class="img-responsive" src="/public/assets/images/bleu_go.png" alt="device" />
                    </figure>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <p class="text-justify dark-blue white-shadow paragraph-padding lighter">Prepaid and postpaid transactions delivered to your merchant for those on the go. Never wait in line, and never wait for a check again. Keep an accurate real time transactions and receipt history for every transaction.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container section-container" ng-if="isWindowXs" data-ng-include="'/public/app/views/templates/consumer-unscroll-menu.html'"></div>
    <div class="container section-container" ng-if="!isWindowXs" data-ng-include="'/public/app/views/templates/consumer-scroll-menu.html'"></div>
</section>
