﻿<section class="background-contacts">
    <div class="container section-container">
        <div class="row">
            <div class="col-xs-12 mobile-align-content-center">
                <h1 class="extra-large-header lighter white-shadow contacts-header-padding">Get Started</h1>
                <h1 class="lighter white-shadow">Just drop us a message in the form below and someone<br/>will be in touch within 24 hours.</h1>
            </div>
        </div>
    </div>
</section>

<section>
    <form class="container section-container" name="contacts_form" role="form" contacts-form novalidate>
        <div id="form_inputs">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="first_name">First Name<span class="dark-blue"> *</span></label>
                        <input type="text" class="form-control" id="first_name" name="first_name" ng-model="contact.first_name" required>
                        <div class="error" ng-show="(submitted || contacts_form.first_name.$dirty) && contacts_form.first_name.$invalid">
                            <span ng-show="contacts_form.first_name.$error.required">Please input a first name</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="last_name">Last Name<span class="dark-blue"> *</span></label>
                        <input type="text" class="form-control" id="last_name" name="last_name" ng-model="contact.last_name" required>
                        <div class="error" ng-show="(submitted || contacts_form.last_name.$dirty) && contacts_form.last_name.$invalid">
                            <span ng-show="contacts_form.last_name.$error.required">Please input a last name</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="email">Email<span class="dark-blue"> *</span></label>
                        <input type="email" class="form-control" id="email" name="email" ng-model="contact.email" required>
                        <div class="error" ng-show="(submitted || contacts_form.email.$dirty) && contacts_form.email.$invalid">
                            <span ng-show="contacts_form.email.$error.required || contacts_form.email.$error.email">Please input an email</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="phone_number">Phone Number</label>
                        <input type="text" class="form-control" id="phone_number" name="phone_number" ng-model="contact.phone_number">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="company">Company</label>
                        <input type="text" class="form-control" id="company" name="company" ng-model="contact.company">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" id="title" name="title" ng-model="contact.title">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="how_did_you_hear_about_us">How did you hear about us?</label>
                        <input type="text" class="form-control" id="how_did_you_hear_about_us" name="how_did_you_hear_about_us" ng-model="contact.how_did_you_hear_about_us">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="how_can_we_help_you">How can we help you?<span class="dark-blue"> *</span></label>
                        <textarea class="form-control" id="how_can_we_help_you" name="how_can_we_help_you" ng-model="contact.how_can_we_help_you" rows="4" required></textarea>
                        <div class="error" ng-show="(submitted || contacts_form.how_can_we_help_you.$dirty) && contacts_form.how_can_we_help_you.$invalid">
                            <span ng-show="contacts_form.how_can_we_help_you.$error.required">Please input a text</span>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-xs-12">
                    <div class="recaptcha">
                        <div id="google-recaptcha" google-recaptcha></div>
                        <div class="error">
                            <div ng-repeat="error in captchaErrors">
                                <span>{{error}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-xs-12 text-center">
                    <a class="btn btn-default btn-lg" role="button" ng-click="contactsSubmit(contacts_form)" ng-class="isSubmitting ? 'disabled' : ''">{{isSubmitting ? 'SUBMITTING...' : 'SUBMIT'}}</a>
                </div>
            </div>
        </div>
        <div id="form_success_message" class="text-center">
            <h1 class="extra-large-header lighter">SUCCESS</h1>
            <a class="btn btn-default btn-lg" role="button" ng-click="backToForm()">BACK TO CONTACT US FORM</a>
        </div>
    </form>
</section>