﻿<section>
    <div class="container privacy-terms">
        <h1>Bleu Privacy Policy</h1>
        <p class="text-justify">This Privacy Policy describes the information Bleu collects when you sign up for, use, access or otherwise interact with any Bleu applications, products, services, or websites (collectively, “Services”), how we use and share that information, and the choices we offer. This policy applies to all information we collect through our Services, even if you have not signed up for a Bleu account or downloaded one of our applications. This policy does not, however, describe the practices of third parties that may collect information from you when you interact with them, including merchants that use Bleu to accept payment for goods or services (“Merchants”). We encourage you to ask them about their privacy practices before providing any information to them.</p>
        <p>We may change this policy from time to time. If we make changes, we will notify you by posting the updated policy and revising the "Last Updated" date above. We encourage you to review the policy whenever you use our Services to stay informed about our information practices and about the choices available to you.</p>
        <h2>Collection of Information</h2>
        <p class="text-justify bold">Information You Provide</p>
        <p class="text-justify">We collect information you provide, such as when you sign up for a Bleu account, when you provide information as part of our identity verification process, in the course of a transaction, or when you request a digital receipt. We may collect, but are not limited to collecting, the following: basic user information, such as your name, email address, mailing address, phone number, photograph, and birth date; financial information, including bank account and payment card numbers; and other historical, contact, and demographic information.</p>
        <p class="text-justify">We also collect information when you upload or send information to or through the Services about your products and services (including inventory, pricing and other data), participate in contests or promotions offered by Bleu or our partners, respond to our surveys, or otherwise communicate with us.</p>
        <p class="text-justify bold">Information We Collect from Your Use of the Services</p>
        <p class="text-justify">We collect information about you when you use our Services, including as follows:</p>
        <ul class="text-justify">
            <li>Transaction Information. When you use our Services to make or accept payments or money transfers, we collect information about when and where the transactions occurred, a description of the transactions, the payment or transfer amounts, billing and shipping information, and information about the devices and payment methods used to complete the transactions.</li>
            <li>Location Information. When one of our applications is open on your mobile device, we periodically receive information about the location of the device. We may also collect location information about your device if you are near a Merchant with whom you have auto check-in enabled. For more information and to learn how to disable location information, please see Gimbal Privacy below.</li>
            <li>Device Information. We collect device-specific information when you access our Services, including your hardware model, operating system and version, unique device identifiers, mobile network information, and information about the device's interaction with our Services. We may also identify other software running on the device (but will not collect any content from such software) for anti-fraud and malware-prevention purposes.</li>
            <li>Use Information. We collect information about how you use our Services, including your access times, browser types and language, and Internet Protocol ("IP") addresses.</li>
            <li>Information Collected by Cookies and Web Beacons. We use various technologies to collect information, and this may include sending cookies to your computer or mobile device. Cookies are small data files that are stored on your hard drive or in device memory by a website. Among other things, cookies support the integrity of our registration process, retain your preferences and account settings, and help evaluate and compile aggregated statistics about user activity. We may also collect information using web beacons. Web beacons are electronic images that may be used in our Services or emails. We may use web beacons to deliver cookies, count visits, understand usage and campaign effectiveness, and determine whether an email has been opened and acted upon.</li>
        </ul>
        <p class="text-justify bold">Information We Collect From Other Sources</p>
        <p class="text-justify">We may also collect information about you from third parties, including but not limited to third-party verification services, credit bureaus, mailing list providers, and publicly available sources. In some circumstances, this information may include your Social Security or taxpayer identification number.</p>
        <h2>Third-Party Advertising and Analytics</h2>
        <p class="text-justify">We may allow third parties to serve advertisements in connection with our Services and to provide analytics services. These third parties may use cookies, web beacons, and other technologies to collect information, such as your IP addresses, identifiers associated with your mobile device or applications on the device, the browsers you use to visit our Services, pages viewed, time spent on pages, links clicked, and conversion information. This information may be used by Bleu and other companies to analyze and track data, determine the popularity of certain content, deliver advertising and content targeted to your interests, and better understand your usage. This policy does not apply to, and we are not responsible for, third-party cookies, web beacons, or other tracking technologies, and we encourage you to check the privacy policies of these third parties to learn more about their privacy practices. For more information about targeted advertising specifically, or to opt out of having your browser information used for these purposes, please visit <a href="http://www.aboutads.info/choices">http://www.aboutads.info/choices</a>.</p>
        <h2>Use of Information</h2>
        <p class="text-justify">We use information about you to provide, maintain, and improve our Services and to deliver the information and support you request, including receipts, technical notices, security alerts, and support and administrative messages.</p>
        <p class="text-justify">We also use information about you to improve and personalize the Services. To take just one example, when you sign up for a Bleu account, we may associate certain information with your new account, such as information about other accounts you have or had with Bleu and prior transactions you made through the Bleu Services.</p>
        <p class="text-justify">We may use information we collect to send you news and information about our Services and to communicate with you about products, services, contests, promotions, incentives, and rewards offered by us and select partners.</p>
        <p class="text-justify">We may also use information about you to track and analyze trends and usage in connection with our Services; to process and deliver contest and promotion entries and rewards; to protect our rights or property; to verify your identity; to investigate and prevent fraud or other illegal activities; and for any other purpose disclosed to you in connection with our Services.</p>
        <p class="text-justify">We may, or we may not use third-party service providers to, process and store personal information in the United States and other countries.</p>
        <p class="text-justify bold">Digital Receipts</p>
        <p class="text-justify">If you choose to receive receipts via email or within the Bleu Pay application, we store the email address and phone number you provide. We use your email address and phone number to send you a receipt for your purchase and to automatically send you digital receipts for future purchases you make from other Merchants. Digital receipts may contain additional messages, offers, or links that may be of interest to you. For example, you may be able to submit feedback, share your experience on social media, view your purchase history, join programs, visit websites, or take advantage of promotions. When you submit or share information through a receipt (such as submitting feedback), we may share that information with Merchants and you may receive responses. As mentioned above, this policy does not describe the practices of Merchants that may receive or collect information from you. We encourage you to ask them about their privacy practices before providing any information to them. If at any time you wish to opt out of receiving automatic digital receipts or change your preferences, you may do so by following the instructions in the “Your Choices” section of this policy.</p>
        <h2>Sharing of Information</h2>
        <p class="text-justify">We may share personal information about you as follows:</p>
        <ul class="text-justify">
            <li>With third parties to provide, maintain, and improve our Services, including service providers who access information about you to perform services on our behalf (e.g., fraud prevention and verification services), and including financial institutions, processors, payment card associations, and other entities that are part of the payment or transfer process;</li>
            <li>With others who have signed up for Bleu accounts in order to provide our Services. For example, we may share information when you make or accept a payment or transfer using our Services. We may also share information about you when you are located near a Bleu Merchant with whom you have auto check-in enabled;</li>
            <li>With third parties that run advertising campaigns, contests, special offers, or other events or activities in connection with our Services;</li>
            <li>In connection with, or during the negotiation of, any merger, sale of company stock or assets, financing, acquisition, divestiture, or dissolution of all or a portion of our business;</li>
            <li>If we believe that disclosure is reasonably necessary to comply with any applicable law, regulation, legal process, or governmental request; to enforce applicable agreements or policies; to protect the security or integrity of our Services; and to protect us, our Merchants, end users, or the public from harm or illegal activities;</li>
            <li>With your consent.</li>
        </ul>
        <p class="text-justify">We may also share aggregated, non-personally identifiable information with third parties.</p>
        <h2>Security</h2>
        <p class="text-justify">We take reasonable measures, including administrative, technical, and physical safeguards, to help protect personal information from loss, theft, misuse, and unauthorized access, disclosure, alteration, and destruction.</p>
        <h2>Your Choices</h2>
        <p class="text-justify bold">Location Information</p>
        <p class="text-justify">When you first launch our mobile applications, you will be asked to consent to the application's collection of location information. We currently require this location information in order to provide our Services, so if you do not consent to this collection, you cannot use our Services. If you initially consent to our collection of location information, you can subsequently stop our collection of location information at any time by changing the preferences on your mobile device. If you do so, the Bleu application will no longer function. You may also stop our collection of location information by following the standard uninstall process to remove Bleu applications from your device.</p>
        <p class="text-justify bold">Cookies</p>
        <p class="text-justify">Most web browsers are set to accept cookies by default. If you prefer, you can usually choose to set your browser to remove or reject cookies; however, our Services may not function properly if you do so.</p>
        <p class="text-justify bold">Preferences</p>
        <ul class="text-justify">
            <li>Personal Information. You may change or correct information about yourself by logging into your Bleu account at any time or by emailing us at privacy@Bleu.com. You may also email us if you wish to deactivate your account. We may retain archived copies of information about you and your transactions for a period of time that is consistent with applicable law.</li>
            <li>Digital Receipts. If at any time you wish to opt out of receiving automatic digital receipts or change your preferences, you may do so by following the instructions in your digital receipt.</li>
            <li>Promotional Communications. You may opt out of receiving promotional emails or text messages from Bleu by following the instructions in those emails or text messages. If you opt out, we may still send you non-promotional communications, such as digital receipts and messages about your account or our ongoing business relations.</li>
        </ul>
        <p class="text-justify bold">Your California Privacy Rights</p>
        <p class="text-justify">California law permits residents of California to request certain details about information we disclose to third parties for direct marketing purposes. If you are a California resident and would like to request this information, please contact us at the address listed below.</p>
        <h2>CONTACT</h2>
        <p class="text-justify">Please contact our Privacy Department with any questions or concerns regarding our policy.</p>
        <p>Bleu Tech Enterprises, LLC<br />5016 Bakman Ave #402<br />North Hollywood, CA 91601<br /><a href="mailto:privacy@bleuco.com">privacy@bleuco.com</a></p>
    </div>
</section>