﻿<section class="background-resellers">
    <div class="container section-container">
        <div class="row">
            <div class="col-xs-12 mobile-align-content-center resellers-header-content">
                <h1 class="extra-large-header lighter">Reseller program</h1>
                <h1 class="lighter">If you have any questions please call us at</h1>
                <h1 class="extra-large-header lighter">(323) 505-BLEU (2538)</h1>
                <a href="/#/contacts" class="btn btn-default btn-lg btn-lg-white" role="button">CONTACT US</a>
            </div>
        </div>
    </div>
</section>

<section>
    <form class="container section-container resellers-form" name="resellers_form" role="form" resellers-form novalidate>
        <div id="form_inputs">
            <div class="row form-group">
                <div class="col-xs-12">
                    <p>Please complete this simple 3 step form to apply as Bleu Reseller.</p>
                </div>
            </div>
            <div class="row">
                <!--PROGRESS BAR THERE-->
            </div>
            <div data-ui-view="resellers-form"></div>
        </div>
        <div id="form_success_message" class="text-center">
            <h1 class="extra-large-header lighter">SUCCESS</h1>
            <a class="btn btn-default btn-lg" role="button" ng-click="backToForm()">BACK TO RESELLER FORM</a>
        </div>
    </form>
</section>