﻿<section class="background-solutions-1">
    <div class="container section-container">
        <div class="col-lg-7 mobile-align-content-center">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="extra-large-header white-shadow">Solutions</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <p class="text-justify paragraph-padding white-shadow">Bleu provides a suite of solutions to bridge the gap between the physical and the digital world for multiple industries and business functions.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <a href="/#/contacts" class="btn btn-default btn-lg btn-lg-white" role="button">GET STARTED</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div ng-if="isWindowXs" data-ng-include="'/public/app/views/templates/solutions-single-column.html'"></div>
    <div ng-if="!isWindowXs" data-ng-include="'/public/app/views/templates/solutions-plural-column.html'"></div>
</section>