﻿<section class="background-support">
    <div class="container section-container mobile-align-content-center support-header">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="extra-large-header white-shadow lighter">Online and Telephone Support<br />available 24/7/365</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-11">
                <h2 class="white-shadow"><i class="fa fa-phone fa-fw"></i> (323) 505-BLEU (2538)</h2>
                <a href="support@bleuco.com"><i class="fa fa-envelope fa-fw"></i> support@bleuco.com</a>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container section-container mobile-align-content-center support-content">
        <div class="row">
            <div class="col-xs-12">
                <h1>We also offer advanced support options for clients that include</h1>
            </div>
        </div>
        <div class="row support-row">
            <figure class="col-sm-3">
                <img class="img-responsive" src="/public/assets/images/sup1.png" alt="image"/>
            </figure>
            <div class="col-sm-9">
                <h2>Advanced Hardware Services and Support</h2>
                <p class="text-justify lighter">Device and application security, software maintenance, same day device replacement and more</p>
            </div>
        </div>
        <div class="row support-row">
            <figure class="col-sm-3">
                <img class="img-responsive" src="/public/assets/images/sup2.png" alt="image" />
            </figure>
            <div class="col-sm-9">
                <h2>Wireless Activation</h2>
                <p class="text-justify lighter">Activations and support on all four major us carriers</p>
            </div>
        </div>
        <div class="row support-row">
            <figure class="col-sm-3">
                <img class="img-responsive" src="/public/assets/images/sup3.png" alt="image" />
            </figure>
            <div class="col-sm-9">
                <h2>Professional Consulting and Best Practices</h2>
                <p class="text-justify lighter">Hands on installation and services design to support clients to take advantage of our full suite of products</p>
            </div>
        </div>
    </div>
</section>