﻿<section>
    <div class="container privacy-terms">
        <h1>Terms of Agreement</h1>
        <h2>AGREEMENT BETWEEN USER AND <a href="http:\\www.bleuco.com">WWW.BLEUCO.COM</a></h2>
        <p class="text-justify">Welcome to <a href="http:\\www.bleuco.com">www.bleuco.com</a>. The <a href="http:\\www.bleuco.com">www.bleuco.com</a> website (the “Site”) is comprised of various web pages operated by Bleu Tech Enterprises, LLC (“Bleu”). <a href="http:\\www.bleuco.com">www.bleuco.com</a> is offered to you conditioned on your acceptance without modification of the terms, conditions, and notices contained herein (the “Terms”). Your use of <a href="http:\\www.bleuco.com">www.bleuco.com</a> constitutes your agreement to all such Terms. Please read these terms carefully, and keep a copy of them for your reference.</p>
        <p><a href="http:\\www.bleuco.com">www.bleuco.com</a> is an E-commerce site<br />We provide Bluetooth Proximity solutions for the retail and hospitality industry.</p>
        <h2>PRIVACY</h2>
        <p class="text-justify">You use of <a href="http:\\www.bleuco.com">www.bleuco.com</a> is subject to Bleu’s Privacy Policy. Please review our Privacy Policy which also governs the Site and informs user of our data collection practices.</p>
        <h2>ELECTRONIC COMMUNICATIONS</h2>
        <p class="text-justify">Visiting <a href="http:\\www.bleuco.com">www.bleuco.com</a> or sending emails to Bleu constitutes electronic communications. You consent to receive electronic communications and you agree that all agreements, notices, disclosures and other communications that we provide to you electronically, via email and on the Site, satisfy any legal requirement that such communications be in writing.</p>
        <p class="text-justify">Bleu does not knowingly collect, either online or offline, personal information from persons under the age of thirteen. If you are under 18, you may use <a href="http:\\www.bleuco.com">www.bleuco.com</a> only with permission of a parent or guardian.</p>
        <h2>LINKS TO THIRD PARTY SITES/THIRD PARTY SERVICES</h2>
        <p class="text-justify"><a href="http:\\www.bleuco.com">www.bleuco.com</a> may contain links to other websites (“Linked Sites”). The Linked Sites are not under the control of Bleu and Bleu is not responsible for the contents of any Linked Site, including without limitation any link contained in a Linked Site, or any changes or updates to a Linked Site. Bleu is providing these links to you only as a convenience, and the inclusion of any link does not imply endorsement by Bleu of the Site of any association with its operators.</p>
        <p class="text-justify">Certain services made available via <a href="http:\\www.bleuco.com">www.bleuco.com</a> are delivered by third party sites and organizations. By using any product, service or functionality originating from the <a href="http:\\www.bleuco.com">www.bleuco.com</a> domain, you hereby acknowledge and consent that Bleu may share such information and data with any third party with whom Bleu has a contractual relationship to provide the requested product, service or functionality on behalf of <a href="http:\\www.bleuco.com">www.bleuco.com</a> users and customers.</p>
        <h2>NO UNLAWFUL OR PROHIBITED USE/INTELLECTUAL PROPERTY</h2>
        <p class="text-justify">You are granted a non-exclusive, non-transferable, revocable license to access and use <a href="http:\\www.bleuco.com">www.bleuco.com</a> strictly in accordance with these terms of use. As a condition of your use of the Site, you warrant to Bleu that you will not use the Site for any purpose that is unlawful or prohibited by these Terms. You may not use the Site in any manner which could damage, disable, overburden, or impair the Site or interfere with any other party’s use and enjoyment of the Site. You may not obtain or attempt to obtain any materials or information through any means not intentionally made available or provided for through the Site.</p>
        <p class="text-justify">All content included as part of the Service, such as text, graphics, logos, images, as well as the compilation thereof, and any software used on the Site, is the property of Bleu or its suppliers and protected by copyright and other laws that protect intellectual property and proprietary rights. You agree to observe and abide by all copyright and other proprietary notices, legends or other restrictions contained in any such content and will not make any changes thereto.</p>
        <p class="text-justify">You will not modify, publish, transmit, reverse engineer, participate in the transfer or sale, create derivative works, or in any way exploit any of the content, in whole or in part, found on the Site. Bleu content is not for resale. Your use of the Site does not entitle you to make any unauthorized use of any protected content, and in particular you will not delete or alter any proprietary rights or attribution notices in any content. You will use protected content solely for your personal use, and will make no other use of the content without the express written permission of Bleu the copyright owner. You agree that you do not acquire any ownership rights in any protected content. We do not grant you any licenses, express or implied, to the intellectual property of Bleu or our licensors except as expressly authorized by these Terms.</p>
        <h2>INTERNATIONAL USERS</h2>
        <p class="text-justify">The Service is controlled, operated and administered by Bleu from our offices within the USA. If you access the Service from a location outside of the USA, you are responsible for compliance with all local laws. You agree that you will not use the Bleu Content accessed through <a href="http:\\www.bleuco.com">www.bleuco.com</a> in any country or in any manner prohibited by an applicable laws, restrictions or regulations.</p>
        <h2>INDEMNIFICATION</h2>
        <p class="text-justify">You agree to indemnify, defend and hold harmless Bleu, its officers, directors, employees, agents and third parties, for any losses, costs, liabilities and expenses, (including reasonable attorney’s fees) relating to or arising out of your use of or inability to use the Site or services, any user postings made by you, your violation of any terms of this Agreement or your violation of any rights of a third party, or your violation of any applicable laws, rules or regulations. Bleu reserves the right, at its own cost, to assume the exclusive defense and control of any matter otherwise subject to indemnification by you, in which event you will fully cooperate with Bleu in asserting any available defenses.</p>
        <h2>LIABILITY DISCLAIMER</h2>
        <p class="text-justify">THE INFORMATION, SOFTWARE, PRODUCTS, AND SERVICES INCLUDED IN OR AVAILABLE THORUGH THE SITE MAY INCLUDE INACCURACIES OR TYPOGRAPHICAL ERRORS. CHANGES ARE PERIODICALLY ADDED TO THE INFROMATION HEREIN. BLEU TECH ENTERPRISES, LLC AND/OR ITS SUPPLIERS MAY MAKE IMPROVEMENTS AND/OR CHANGES IN THE SITE AT ANY TIME.</p>
        <p class="text-justify">BLEU TECH ENTERPRISES, LLC AND/OR ITS SUPPLIERS MAKE NO REPRESENTATIONS ABOUT THE SUITABILITY, RELIABILITY, AVAILABILITY, TIMELINESS, AND ACCURACY OF THE INFORMATION, SOFTWARE, PRODUCTS, SERVICES AND RELATED GRAPHICS CONTAINED ON THE SITE FOR ANY PURPOSE. TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, ALL SUCH INFORATION, SOFTWARE, PRODUCTS, SERVICES AND RELATED GRAPHICS ARE PROVIDED “AS IS” WITHOUT WARRANTY OR CONDITION OF ANY KIND. BLEU TECH ENTERPRISES, LLC AND/OR ITS SUPPLIERS HEREBY DISCLAIM ALL WARRANTIES AND CONDITIONS WITH REGARD TO THIS INFORMATION, SOFTWARE, PRODUCTS, SERVICES AND RELATED GRAPHICS, INCLUDING ALL IMPLIED WARRANTIES OR CONDITIONS OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE AND NON-INFRINGEMENT.</p>
        <p class="text-justify">TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT SHALL BLEU TECH ENTERPRISES, LLC AND/OR ITS SUPPLIERS BE LIABLE FOR ANY DIRECT, INDIRECT, PUNITIVE, INCIDENTAL, SPECIAL, CONSEQUENTIAL DAMAGES OR ANY DAMAGES WHATSOVER INCLUDING, WIHTOUT LIMITATION, DAMAGES FOR LOSS OF USE, DATA OR PROFITS, ARISING OUT OF OR IN ANY WAY CONNECTED WITH THE USE OR PERFORMANCE OF THE SITE, WITH THE DELAY OR INABILITY TO USE THS SITE OR RELATED SERVICES, THE PROVISION OF OR FAILURE TO PROVIE SERVICES, OR FOR ANY INFORMATION, SOFTWARE, PRODUCTS, SERVICES AND RELATE GRAPHICS OBTAINED THROUGH THE SITE, OR OTHERWISE ARISING OUT OF THE USE OF THE SITE, WHETHER BASED ON CONTRACT, TORT, NEGLIGENCE, STRICT LIABILITY OR OTHERWISE, EVEN IF BLEU TECH ENTERPRISES, LLC OR ANY OF ITS SUPPLIERS HAS BEEN ADVISED OF THE POSSIBILITY OF DAMAGES. BECAUSE SOME STATES/JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, THE ABOVE LIMITATION MAY NOT APPLY TO YOU. IF YOU ARE DISSATISFIED WITH ANY PORTION OF THE SITE, OR WITH ANY OF THESE TERMS OF USE, YOUR SOLE AND EXCLUSIVE REMEDY IS TO DISCONTINUE USING THE SITE.</p>
        <h2>TERMINATION/ACCESS RESTRICTION</h2>
        <p class="text-justify">Bleu reserves the right, in its sole discretion, to terminate your access to the Site and the related services or any portion thereof at any time, without notice. To the maximum extent permitted by law, this agreement is governed by the laws of the state of Delaware and you hereby consent to the exclusive jurisdiction and venue of courts in California in all disputes arising out of or relating to the use of the Site. Use of the Site is unauthorized in any jurisdiction that does not give effect to all provisions of these Terms, including, without limitation, this section.</p>
        <p class="text-justify">You agree that no joint venture partnership, employment, or agency relationship exists between you and Bleu as a result of this agreement or use of the Site. Bleu’s performance of this agreement is subject to existing laws and legal process, and nothing contained in this agreement is in derogation of Bleu’s right to comply with governmental, court and law enforcement requests or requirements relating to your use of the site or information provided to or gathered by Bleu with respect to such use. If any part of this agreement is determined to be invalid or unenforceable pursuant to applicable law including, but not limited to, the warrant disclaimers and liability limitations set forth above, then the invalid or unenforceable provision will me deemed superseded by a valid, enforceable provision that most closely matches the intent of the original provision and the remainder of the agreement shall continue in effect.</p>
        <p class="text-justify">Unless otherwise specified herein, this agreement constitutes the entire agreement between the user and Bleu with respect to the Site and it supersedes all prior or contemporaneous communications and proposals, whether electronic, oral or written, between the user and Bleu with respect to the Site. A printed version of this agreement and of any notice given in electronic form shall be admissible in judicial or administrative proceedings based upon or relating to this agreement to the same extent and subject to the same conditions as other business documents and records originally generated and maintained in printed form. It is the express wish to the parties that this agreement and all related documents be written in English.</p>
        <h2>CHANGES TO TERMS</h2>
        <p class="text-justify">Bleu reserves the right, in its sole discretion, to change the Terms under which <a href="http:\\www.bleuco.com">www.bleuco.com</a> is offered. The most current version of the Terms will supersede all previous versions. Bleu encourages you to periodically review the Terms to stay informed of our updates.</p>
        <h2>CONTACT US</h2>
        <p>Bleu welcomes your questions or comments regarding the Terms:</p>
        <p>Bleu Tech Enterprises, LLC<br />5016 Bakman Ave #402<br />North Hollywood, CA 91601</p>
        <p>Email Adress:<br /><a href="mailto:support@bleuco.com">support@bleuco.com</a></p>
        <p>Telephone number:<br />(323) 505-BLEU (2538)</p>
        <p>Effective as of January 1, 2014</p>
    </div>
</section>