﻿@import "../variables";
@import "../bootstrap/variables";
@import "../bootstrap/mixins/text-overflow";
@import "../bootstrap/mixins/vendor-prefixes";

.common-modifiers-groups-categories {
    & .panel.panel-default {
        border: $list-row-item-border;
        background: $body-bg;
        border-radius: $border-radius-base;

        & .panel-heading {
            background: $body-bg;
            padding: 0;

            & .category-head-content {
                margin: $list-row-content-margin;
            }
        }

        & .panel-body {
            border-color: $list-row-item-border-color;

            & .category-menu-item {
                border: $list-row-item-border;
                background: $body-bg;

                & .category-menu-item-content {
                    margin: $list-row-content-margin;
                }
            }
        }

        & .category-first {
            margin-left: $grid-gutter-width /2;
        }

        & .category-name {
            padding-top: $list-row-content-padding-top;
            @include text-overflow();
        }
    }

    & img {
        height: $grid-row-image-size;
        width: $grid-row-image-size;
    }
}
