﻿@import "../variables";
@import "../bootstrap/variables";
@import "../bootstrap/mixins/text-overflow";
@import "../bootstrap/mixins/vendor-prefixes";

.tree-node {
    border: $list-row-item-border;
    background: $body-bg;

    & .tree-node-content {
        margin: $list-row-content-margin;

        & img {
            height: $grid-row-image-size;
            width: $grid-row-image-size;
        }

        & .tree-node-first {
            margin-left: $grid-gutter-width /2;
        }

        & .tree-node-name {
            padding-top: $list-row-content-padding-top;
            @include text-overflow();
        }

        & .tree-node-operations {
            padding-top: $list-row-content-padding-top;
            margin-right: $grid-gutter-width /2;
        }
    }
}

.related-modifiers-tree {

    & .angular-ui-tree-placeholder {
        background: $tree-node-placeholder-bg;
        border: $tree-node-placeholder-border;
        @include box-sizing(border-box);
    }
}
