﻿@model Bleu.Reporting.Infrastructure.Logic.Models.FiltersModel

@{
    ViewBag.Title = "Sales Reports";
}

@section styles{
    <style>
        .inner-form-padding {
            padding: 10px 30px 10px 30px;
        }
    </style>

    <link href="~/Styles/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Styles/theme.css" rel="stylesheet"/>

}

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('.date').datepicker();
            $(".date").datepicker("setDate", new Date());
        });
    </script>
}


<div class="form-horizontal">
    <h1 class="text-uppercase">sales reports</h1>
    <hr />
    <!-- Period filters container -->
    <div class="form-inline">
        <div class="col-xs-12">

            <div class="col-sm-1">
                <label class="text-uppercase control-label" style="font-size: 20px">period:</label>
            </div>
            <div class="col-sm-1">
                <label class="control-label">Start Date</label>
            </div>
            <div class="col-sm-2">
                @using (Html.BeginForm())
                {
                    @Html.TextBoxFor(s => s.StartDate, new { @class = "date form-control" })
                }
            </div>
            <div class="col-sm-1">
                <label class="control-label">End Date</label>
            </div>
            <div class="col-sm-2">
                @using (Html.BeginForm())
                {
                    @Html.TextBoxFor(s => s.EndDate, new { @class = "date form-control" })
                }
            </div>
            <div class="col-sm-5 text-center">
                <button class="btn btn-default" title="Clear Filters">
                    <span class="icon-cross"></span>
                    Clear Filters
                </button>
                <button class="btn btn-default" title="Hide Filters">
                    <span class="icon-filter"></span>
                    Hide Filters
                </button>
            </div>
        </div>
    </div>
    <hr/>
    <hr />
    <!-- Customer filters container -->
                <div class="form-group inner-form-padding">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                <label for="customer" class="control-label">Customer</label>
                            </div>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="customer" name="customer" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-5">
                                <label for="customerGroups" class="control-label">Customer Groups</label>
                            </div>
                            <div class="col-sm-7" id="customerGroups"></div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-5">
                                <label for="stores" class="control-label">Stores</label>
                            </div>
                            <div class="col-sm-7" id="stores"></div>
                        </div>
                    </div>
                    <!-- Items filters container -->
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                <label for="items" class="control-label">Items</label>
                            </div>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="items" name="items" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-5">
                                <label for="itemsCategories" class="control-label">Items Categories</label>
                            </div>
                            <div class="col-sm-7" id="itemsCategories"></div>
                        </div>
                    </div>

                </div>
                <hr />
    <!-- Links container -->
                <div class="form-group inner-form-padding">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="text-uppercase control-label" style="font-size: 20px">sales summary:</label>
                        </div>
                        <div class="form-group">
                            @Html.ActionLink("Sales Summary", "SalesByDayStimulsoft", new { start = Model.StartDate, end = Model.EndDate })
                        </div>
                        <div class="form-group">
                            @Html.ActionLink("By Day", "SalesByDay", new {start = Model.StartDate, end = Model.EndDate})  
                        </div>
                        <div class="form-group">
                            @Html.ActionLink("Day Overview", "SalesByDay")
                        </div>
                        <div class="form-group">
                            @Html.ActionLink("By Weekdays", "SalesByDay")
                        </div>
                        <div class="form-group">
                            @Html.ActionLink("By Hours", "SalesByDay")
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="text-uppercase control-label" style="font-size: 20px">sales by customer:</label>
                        </div>
                        <div class="form-group">
                            @Html.ActionLink("By Customer", "SalesByDay")
                        </div>
                        <div class="form-group">
                            @Html.ActionLink("By Customer Account Manager", "SalesByDay")
                        </div>
                        <div class="form-group">
                            @Html.ActionLink("By Customer Group", "SalesByDay")
                        </div>
                        <div class="form-group">
                            @Html.ActionLink("By Business Area", "SalesByDay")
                        </div>
                        <div class="form-group" style="padding-top: 30px">
                            <label class="text-uppercase control-label" style="font-size: 20px">sales by location:</label>
                        </div>
                        <div class="form-group">
                            @Html.ActionLink("By Location", "SalesByDay")
                        </div>
                        <div class="form-group">
                            @Html.ActionLink("By Register", "SalesByDay")
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="text-uppercase control-label" style="font-size: 20px">item sales:</label>
                        </div>
                        <div class="form-group">
                            @Html.ActionLink("By Product", "SalesByDay")
                        </div>
                        <div class="form-group">
                            @Html.ActionLink("By Matrix Product", "SalesByDay")
                        </div>
                        <div class="form-group">
                            @Html.ActionLink("By Product Group", "SalesByDay")
                        </div>
                        <div class="form-group">
                            @Html.ActionLink("By Product Group, with Drill Down", "SalesByDay")
                        </div>
                        <div class="form-group">
                            @Html.ActionLink("By Department", "SalesByDay")
                        </div>
                        <div class="form-group">
                            @Html.ActionLink("By Department, with Drill Down", "SalesByDay")
                        </div>
                        <div class="form-group">
                            @Html.ActionLink("By Supplier", "SalesByDay")
                        </div>
                        <div class="form-group">
                            @Html.ActionLink("By Supplier, with Drill Down", "SalesByDay")
                        </div>
                        <div class="form-group">
                            @Html.ActionLink("By Category", "SalesByDay")
                        </div>
                        <div class="form-group">
                            @Html.ActionLink("By Category, Level 2", "SalesByDay")
                        </div>
                        <div class="form-group">
                            @Html.ActionLink("By Category, Level 1", "SalesByDay")
                        </div>
                        <div class="form-group">
                            @Html.ActionLink("By Category, with Drill Down", "SalesByDay")
                        </div>
                    </div>
                </div>
            </div>


