﻿@{
    ViewBag.Title = "SalesByDay";
}

@section styles
{
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet"/>
    <link href="http://cdn.kendostatic.com/2013.2.918/styles/kendo.common.min.css" rel="stylesheet"/>
    <link href="http://cdn.kendostatic.com/2013.2.918/styles/kendo.blueopal.min.css" rel="stylesheet"/>

    <style>
        #reportViewer1 {
            position: absolute;
            left: 5px;
            right: 5px;
            top: 5px;
            bottom: 5px;
            overflow: hidden;
            font-family: Verdana, Arial;
        }
    </style>

    <link href="~/ReportViewer/styles/telerikReportViewer-9.1.15.624.css" rel="stylesheet" />
}

@section scripts
{
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <!--kendo.all.min.js can be used as well instead of kendo.web.min.js and kendo.mobile.min.js-->
    <script src="http://cdn.kendostatic.com/2013.2.918/js/kendo.web.min.js"></script>
    <!--kendo.mobile.min.js - optional, if gestures/touch support is required-->
    <script src="http://cdn.kendostatic.com/2013.2.918/js/kendo.mobile.min.js"></script>
    <script src="~/ReportViewer/js/telerikReportViewer-9.1.15.624.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
    //    $.urlParam = function () {
    //            return 'test_name';
    //    };

        $("#reportViewer1")
            .telerik_ReportViewer({
                // The url of the service which will provide the report viewer with reports.
                // The service must be properly configured so that the report viewer can
                // successfully communicate with the server.
                // For more information on how to configure the service please check http://www.telerik.com/help/reporting/telerik-reporting-rest-conception.html.
                serviceUrl: "../api/reports/",
                // The url for the report viewer template. The template can be edited -
                // new functionalities can be added and unneeded ones can be removed.
                // For more information please check http://www.telerik.com/help/reporting/html5-report-viewer-templates.html.
                templateUrl: '/ReportViewer/templates/telerikReportViewerTemplate-9.1.15.624.html',
                // The ReportSource as string - TypeReportSource or UriReportSource.
                //reportSource: { report: "YumaPos.Reporting.Core.ReportCatalog, YumaPos.Reporting.Core" },
                reportSource: { report: 1 },
                // Specifies whether the viewer is in interactive or print preview mode.
                // PRINT_PREVIEW - Displays the paginated report as if it is printed on paper. Interactivity is not enabled.
                // INTERACTIVE - Displays the report in its original width and height witn no paging. Additionally interactivity is enabled.
                viewMode: telerikReportViewer.ViewModes.INTERACTIVE,
                // Sets the scale mode of the viewer.
                // Three modes exist currently:
                // FIT_PAGE - The whole report will fit on the page (will zoom in or out), regardless of its width and height.
                // FIT_PAGE_WIDTH - The report will be zoomed in or out so that the width of the screen and the width of the report match.
                // SPECIFIC - Uses the scale to zoom in and out the report.
                scaleMode: telerikReportViewer.ScaleModes.SPECIFIC,
                // Zoom in and out the report using the scale
                // 1.0 is equal to 100%, i.e. the original size of the report
                scale: 1.0,
                // Sets the print mode of the viewer.
                printMode: telerikReportViewer.PrintModes.AUTO_SELECT,
                ready: function () {
                    this.refreshReport();
                }
            });
    });
</script>
}

    <div id="reportViewer1">
        loading...
    </div>

    


