﻿<div class="form-horizontal" ng-form name="addRoleForm" cd-validation-of-model="role">
    <h1 class="text-uppercase">{{'Roles.AddRolePage_Title' | i18n}}</h1>
    <hr />
    <div class="form-group">
        <div class="col-md-6">
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="name" class="control-label">{{'Roles.AddRolePage_LblName' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="name" name="name" ng-model="role.name" placeholder="{{'Roles.AddRolePage_InputPlaceholderName' | i18n}}" required cd-server-validation-input="['exists']" />
                    <span class="help-block validation-message" ng-show="addRoleForm.name.$error.required">
                        {{'Roles.AddRolePage_InputNameRequired' | i18n}}
                    </span>
                    <span class="help-block validation-message" ng-show="addRoleForm.name.$error.exists">
                        {{'Roles.AddRolePage_InputNameExists' | i18n}}
                    </span>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="form-group" ng-repeat="permission in permissions">
        <div class="col-lg-3 col-xs-6">
            <label for="test" class="control-label">{{permission.title}}</label>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="test" name="test" ng-model="permission.isActive" />
                </label>
            </div>
        </div>
        <div class="col-xs-11 col-xs-offset-1" ng-if="permission.isActive">
            <div class="form-group" ng-repeat="module in permission.modules">
                <div class="col-lg-3 col-xs-6">
                    <label for="testmodule" class="control-label">{{module.title}}</label>
                </div>
                <div class="col-lg-3 col-xs-6">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="testmodule" name="testmodule" ng-model="module.isActive" />
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12 text-center">
            <button class="btn btn-default" title="{{'Roles.AddRolePage_BtnTooltipSave' | i18n}}" ng-click="saveRole()">
                <span class="icon-checkmark"></span>
                <span>{{'Roles.AddRolePage_BtnTextSave' | i18n}}</span>
            </button>
            <button class="btn btn-default" title="{{'Roles.AddRolePage_BtnTooltipCancel' | i18n}}" ng-click="cancel()">
                <span class="icon-cross"></span>
                <span>{{'Roles.AddRolePage_BtnTextCancel' | i18n}}</span>
            </button>
        </div>
    </div>
</div>