﻿<div class="form-horizontal" ng-form name="roleForm" cd-validation-of-model="role">
    <h1 class="text-uppercase">{{'Roles.RolePage_Title' | i18n}} > {{role.name}}</h1>
    <hr/>
    <div class="form-group">
        <div class="col-md-6">
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="name" class="control-label">{{'Roles.RolePage_LblName' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="name" name="name" ng-model="role.name" placeholder="{{'Roles.RolePage_InputPlaceholderName' | i18n}}" required cd-server-validation-input="['exists']"/>
                    <span class="help-block validation-message" ng-show="roleForm.name.$error.required">
                        {{'Roles.RolePage_InputNameRequired' | i18n}}
                    </span>
                    <span class="help-block validation-message" ng-show="roleForm.name.$error.exists">
                        {{'Roles.RolePage_InputNameExists' | i18n}}
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <div class="col-sm-5">
                    <label class="control-label">{{'Roles.RolePage_LblUsersQty' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <p class="form-control-static">{{role.usersQty}}</p>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <div class="form-group" ng-repeat="permission in permissions">
        <div class="col-lg-3 col-xs-6">
            <label for="test" class="control-label">{{permission.title}}</label>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="test" name="test" ng-model="permission.isActive" />
                </label>
            </div>
        </div>
        <div class="col-xs-11 col-xs-offset-1" ng-if="permission.isActive">
            <div class="form-group" ng-repeat="module in permission.modules">
                <div class="col-lg-3 col-xs-6">
                    <label for="testmodule" class="control-label">{{module.title}}</label>
                </div>
                <div class="col-lg-3 col-xs-6">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="testmodule" name="testmodule" ng-model="module.isActive" />
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12 text-center">
            <button class="btn btn-default" title="{{'Roles.RolePage_BtnTooltipUpdate' | i18n}}" ng-click="updateRole()">
                <span class="icon-checkmark"></span>
                <span>{{'Roles.RolePage_BtnTextUpdate' | i18n}}</span>
            </button>
            <button class="btn btn-default" title="{{'Roles.RolePage_BtnTooltipCancel' | i18n}}" ng-click="cancel()">
                <span class="icon-cross"></span>
                <span>{{'Roles.RolePage_BtnTextCancel' | i18n}}</span>
            </button>
        </div>
    </div>
</div>