﻿<div class="form-horizontal">
    <h1 class="text-uppercase">{{'Roles.RolesListPage_Title' | i18n}}</h1>
    <hr/>
    <div class="form-group">
        <div class="col-xs-12">
            <div class="form-inline">
                <button class="btn btn-default" title="{{'Roles.RolesListPage_BtnTooltipAddRole' | i18n}}" ng-click="addRole()">
                    <span class="icon-plus"></span>
                    <span>{{'Roles.RolesListPage_BtnTextAddRole' | i18n}}</span>
                </button>
                <button class="btn btn-default" title="{{'Roles.RolesListPage_BtnTooltipDeleteRole' | i18n}}" ng-click="removeRoles()" ng-disabled="!viewModel.canDelete">
                    <span class="icon-trash"></span>
                    <span>{{'Roles.RolesListPage_BtnTextDeleteRole' | i18n}}</span>
                </button>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12">
            <div class="grid" ui-grid="gridOptions" ui-grid-selection></div>
        </div>
    </div>
</div>