﻿<div class="form-horizontal" ng-form name="addUserForm" cd-validation-of-model="user">
    <h1 class="text-uppercase">{{'Users.AddUserPage_Title' | i18n}}</h1>
    <hr/>
    <div class="form-group">
        <div class="col-md-6">
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="firstName" class="control-label">{{'Users.AddUserPage_LblFirstName' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="firstName" name="firstName" ng-model="user.firstName" placeholder="{{'Users.AddUserPage_InputPlaceholderFirstName' | i18n}}" required />
                    <span class="help-block validation-message" ng-show="addUserForm.firstName.$error.required">
                        {{'Users.AddUserPage_InputFirstNameRequired' | i18n}}
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="lastName" class="control-label">{{'Users.AddUserPage_LblLastName' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="lastName" name="lastName" ng-model="user.lastName" placeholder="{{'Users.AddUserPage_InputPlaceholderLastName' | i18n}}" required />
                    <span class="help-block validation-message" ng-show="addUserForm.lastName.$error.required">
                        {{'Users.AddUserPage_InputLastNameRequired' | i18n}}
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="phone" class="control-label">{{'Users.AddUserPage_LblPhone' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <input type="tel" class="form-control" id="phone" name="phone" ng-model="user.phone" placeholder="{{'Users.AddUserPage_InputPlaceholderPhone' | i18n}}"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="email" class="control-label">{{'Users.AddUserPage_LblEmail' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <input type="email" class="form-control" id="email" name="email" ng-model="user.email" placeholder="{{'Users.AddUserPage_InputPlaceholderEmail' | i18n}}" />
                    <span class="help-block validation-message" ng-show="addUserForm.email.$error.email">
                        {{'Users.AddUserPage_InputEmailInvalid' | i18n}}
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="isActive" class="control-label">{{'Users.AddUserPage_LblIsActive' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="isActive" name="isActive" ng-model="user.isActive" />
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="pin" class="control-label">{{'Users.AddUserPage_LblPin' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <input type="number" class="form-control" id="pin" name="pin" ng-model="user.pin" placeholder="{{'Users.AddUserPage_InputPlaceholderPin' | i18n}}" required cd-server-validation-input="['exists']" />
                    <span class="help-block validation-message" ng-show="addUserForm.pin.$error.required">
                        {{'Users.AddUserPage_InputPinRequired' | i18n}}
                    </span>
                    <span class="help-block validation-message" ng-show="addUserForm.pin.$error.number">
                        {{'Users.AddUserPage_InputPinInvalid' | i18n}}
                    </span>
                    <span class="help-block validation-message" ng-show="addUserForm.pin.$error.exists">
                        {{'Users.AddUserPage_InputPinExists' | i18n}}
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="login" class="control-label">{{'Users.AddUserPage_LblLogin' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="login" name="login" ng-model="user.login" placeholder="{{'Users.AddUserPage_InputPlaceholderLogin' | i18n}}" required cd-server-validation-input="['exists']"/>
                    <span class="help-block validation-message" ng-show="addUserForm.login.$error.required">
                        {{'Users.AddUserPage_InputLoginRequired' | i18n}}
                    </span>
                    <span class="help-block validation-message" ng-show="addUserForm.login.$error.exists">
                        {{'Users.AddUserPage_InputLoginExists' | i18n}}
                    </span>
                </div>
            </div>
            <div ng-form name="userPasswordForm" cd-validation-of-model="userPassword">
                <div class="form-group">
                    <div class="col-sm-5">
                        <label for="password" class="control-label">{{'Users.AddUserPage_LblPassword' | i18n}}</label>
                    </div>
                    <div class="col-sm-7">
                        <input type="password" class="form-control" id="password" name="password" ng-model="userPassword.password" placeholder="{{'Users.AddUserPage_InputPlaceholderPassword' | i18n}}" required />
                        <span class="help-block validation-message" ng-show="userPasswordForm.password.$error.required">
                            {{'Users.AddUserPage_InputPasswordRequired' | i18n}}
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-5">
                        <label for="confirmPassword" class="control-label">{{'Users.AddUserPage_LblConfirmPassword' | i18n}}</label>
                    </div>
                    <div class="col-sm-7">
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" ng-model="userPassword.confirmPassword" placeholder="{{'Users.AddUserPage_InputPlaceholderConfirmPassword' | i18n}}" cd-confirm-validation="userPassword.password" />
                        <span class="help-block validation-message" ng-show="userPasswordForm.confirmPassword.$error.confirm">
                            {{'Users.AddUserPage_InputConfirmPasswordInvalid' | i18n}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="roles" class="control-label">{{'Users.AddUserPage_LblRoles' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <tags-input type="text" id="roles" name="roles" ng-model="user.roles" placeholder="{{'Users.AddUserPage_InputPlaceholderRoles' | i18n}}" display-property="name" min-tags="1">
                        <auto-complete source="getRoles($query)" display-property="name"></auto-complete>
                    </tags-input>
                    <span class="help-block validation-message" ng-show="addUserForm.roles.$error.leftoverText">
                        {{'Users.AddUserPage_InputRolesInvalid' | i18n}}
                    </span>
                    <span class="help-block validation-message" ng-show="addUserForm.roles.$error.minTags">
                        {{'Users.AddUserPage_InputRolesRequired' | i18n}}
                    </span>
                </div>
            </div>
        </div>
        <!--<div class="col-md-6">
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="stores" class="control-label">{{'Users.AddUserPage_LblStores' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <tags-input type="text" id="stores" name="stores" ng-model="user.stores" placeholder="{{'Users.AddUserPage_InputPlaceholderStores' | i18n}}" display-property="name" min-tags="1">
                        <auto-complete source="getStores($query)" display-property="name"></auto-complete>
                    </tags-input>
                    <span class="help-block validation-message" ng-show="addUserForm.stores.$error.leftoverText">
                        {{'Users.AddUserPage_InputStoresInvalid' | i18n}}
                    </span>
                    <span class="help-block validation-message" ng-show="addUserForm.stores.$error.minTags">
                        {{'Users.AddUserPage_InputStoresRequired' | i18n}}
                    </span>
                </div>
            </div>
        </div>-->
    </div>
    <div class="form-group">
        <div class="col-md-6">
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="country" class="control-label">{{'Users.AddUserPage_LblCountry' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="country" name="country" ng-model="user.country" placeholder="{{'Users.AddUserPage_InputPlaceholderCountry' | i18n}}" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="state" class="control-label">{{'Users.AddUserPage_LblState' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="state" name="state" ng-model="user.state" placeholder="{{'Users.AddUserPage_InputPlaceholderState' | i18n}}"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="city" class="control-label">{{'Users.AddUserPage_LblCity' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="city" name="city" ng-model="user.city" placeholder="{{'Users.AddUserPage_InputPlaceholderCity' | i18n}}" />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="address" class="control-label">{{'Users.AddUserPage_LblAddress' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="address" name="address" ng-model="user.address" placeholder="{{'Users.AddUserPage_InputPlaceholderAddress' | i18n}}" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="zip" class="control-label">{{'Users.AddUserPage_LblZip' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="zip" name="zip" ng-model="user.zip" placeholder="{{'Users.AddUserPage_InputPlaceholderZip' | i18n}}" />
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12 text-center">
            <button class="btn btn-default" title="{{'Users.AddUserPage_BtnTooltipSave' | i18n}}" ng-click="saveUser()">
                <span class="icon-checkmark"></span>
                <span>{{'Users.AddUserPage_BtnTextSave' | i18n}}</span>
            </button>
            <button class="btn btn-default" title="{{'Users.AddUserPage_BtnTooltipCancel' | i18n}}" ng-click="cancel()">
                <span class="icon-cross"></span>
                <span>{{'Users.AddUserPage_BtnTextCancel' | i18n}}</span>
            </button>
        </div>
    </div>
</div>