﻿<div class="modal-header">
    <h1 class="modal-title">
        {{'Users.UserPasswordDlg_Title' | i18n}}
        <span class="icon-cross pull-right" ng-click="cancel()" title="{{'Users.UserPasswordDlg_BtnTooltipClose' | i18n}}"></span>
    </h1>
</div>
<div class="modal-body">
    <div class="form-horizontal" ng-form name="userPasswordForm" cd-validation-of-model="userPassword">
        <div class="form-group">
            <div class="col-sm-5">
                <label for="password" class="control-label">{{'Users.UserPasswordDlg_LblPassword' | i18n}}</label>
            </div>
            <div class="col-sm-7">
                <input type="password" class="form-control" id="password" name="password" ng-model="userPassword.password" placeholder="{{'Users.UserPasswordDlg_InputPlaceholderPassword' | i18n}}" required />
                <span class="help-block validation-message" ng-show="userPasswordForm.password.$error.required">
                    {{'Users.UserPasswordDlg_InputPasswordRequired' | i18n}}
                </span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-5">
                <label for="confirmPassword" class="control-label">{{'Users.UserPasswordDlg_LblConfirmPassword' | i18n}}</label>
            </div>
            <div class="col-sm-7">
                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" ng-model="userPassword.confirmPassword" placeholder="{{'Users.UserPasswordDlg_InputPlaceholderConfirmPassword' | i18n}}" cd-confirm-validation="userPassword.password" />
                <span class="help-block validation-message" ng-show="userPasswordForm.confirmPassword.$error.confirm">
                    {{'Users.UserPasswordDlg_InputConfirmPasswordInvalid' | i18n}}
                </span>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="ok()" title="{{'Users.UserPasswordDlg_BtnTooltipOk' | i18n}}">
        <span class="icon-checkmark"></span>
        {{'Users.UserPasswordDlg_BtnTextOk' | i18n}}
    </button>
    <button class="btn btn-default" ng-click="cancel()" title="{{'Users.UserPasswordDlg_BtnTooltipCancel' | i18n}}">
        <span class="icon-cross"></span>
        {{'Users.UserPasswordDlg_BtnTextCancel' | i18n}}
    </button>
</div>