﻿<div class="form-horizontal" ng-form name="userForm" cd-validation-of-model="user">
    <h1 class="text-uppercase">{{'Users.UserPage_Title' | i18n}} > {{user.firstName + ' ' + user.lastName}}</h1>
    <hr />
    <div class="form-group">
        <div class="col-md-6">
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="firstName" class="control-label">{{'Users.UserPage_LblFirstName' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="firstName" name="firstName" ng-model="user.firstName" placeholder="{{'Users.UserPage_InputPlaceholderFirstName' | i18n}}" required />
                    <span class="help-block validation-message" ng-show="userForm.firstName.$error.required">
                        {{'Users.UserPage_InputFirstNameRequired' | i18n}}
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="lastName" class="control-label">{{'Users.UserPage_LblLastName' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="lastName" name="lastName" ng-model="user.lastName" placeholder="{{'Users.UserPage_InputPlaceholderLastName' | i18n}}" required />
                    <span class="help-block validation-message" ng-show="userForm.lastName.$error.required">
                        {{'Users.UserPage_InputLastNameRequired' | i18n}}
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="phone" class="control-label">{{'Users.UserPage_LblPhone' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <input type="tel" class="form-control" id="phone" name="phone" ng-model="user.phone" placeholder="{{'Users.UserPage_InputPlaceholderPhone' | i18n}}"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="email" class="control-label">{{'Users.UserPage_LblEmail' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <input type="email" class="form-control" id="email" name="email" ng-model="user.email" placeholder="{{'Users.UserPage_InputPlaceholderEmail' | i18n}}" />
                    <span class="help-block validation-message" ng-show="userForm.email.$error.email">
                        {{'Users.UserPage_InputEmailInvalid' | i18n}}
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="isActive" class="control-label">{{'Users.UserPage_LblIsActive' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="isActive" name="isActive" ng-model="user.isActive" />
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="pin" class="control-label">{{'Users.UserPage_LblPin' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <input type="number" class="form-control" id="pin" name="pin" ng-model="user.pin" placeholder="{{'Users.UserPage_InputPlaceholderPin' | i18n}}" required cd-server-validation-input="['exists']" />
                    <span class="help-block validation-message" ng-show="userForm.pin.$error.required">
                        {{'Users.UserPage_InputPinRequired' | i18n}}
                    </span>
                    <span class="help-block validation-message" ng-show="userForm.pin.$error.number">
                        {{'Users.UserPage_InputPinInvalid' | i18n}}
                    </span>
                    <span class="help-block validation-message" ng-show="userForm.pin.$error.exists">
                        {{'Users.UserPage_InputPinExists' | i18n}}
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="login" class="control-label">{{'Users.UserPage_LblLogin' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="login" name="login" ng-model="user.login" placeholder="{{'Users.UserPage_InputPlaceholderLogin' | i18n}}" required cd-server-validation-input="['exists']" />
                    <span class="help-block validation-message" ng-show="userForm.login.$error.required">
                        {{'Users.UserPage_InputLoginRequired' | i18n}}
                    </span>
                    <span class="help-block validation-message" ng-show="userForm.login.$error.exists">
                        {{'Users.UserPage_InputLoginExists' | i18n}}
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-7 col-sm-offset-5">
                    <button class="btn btn-default" title="{{'Users.UserPage_BtnTooltipChangePassword' | i18n}}" ng-click="openChangePasswordDialog()">
                        <span class="icon-pencil"></span>
                        <span>{{'Users.UserPage_BtnTextChangePassword' | i18n}}</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="roles" class="control-label">{{'Users.UserPage_LblRoles' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <tags-input type="text" id="roles" name="roles" ng-model="user.roles" placeholder="{{'Users.UserPage_InputPlaceholderRoles' | i18n}}" display-property="name" min-tags="1">
                        <auto-complete source="getRoles($query)" display-property="name"></auto-complete>
                    </tags-input>
                    <span class="help-block validation-message" ng-show="userForm.roles.$error.leftoverText">
                        {{'Users.UserPage_InputRolesInvalid' | i18n}}
                    </span>
                    <span class="help-block validation-message" ng-show="userForm.roles.$error.minTags">
                        {{'Users.UserPage_InputRolesRequired' | i18n}}
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="stores" class="control-label">{{'Users.UserPage_LblStores' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <tags-input type="text" id="stores" name="stores" ng-model="user.stores" placeholder="{{'Users.UserPage_InputPlaceholderStores' | i18n}}" display-property="name" min-tags="1">
                        <auto-complete source="getStores($query)" display-property="name"></auto-complete>
                    </tags-input>
                    <span class="help-block validation-message" ng-show="userForm.stores.$error.leftoverText">
                        {{'Users.UserPage_InputStoresInvalid' | i18n}}
                    </span>
                    <span class="help-block validation-message" ng-show="userForm.stores.$error.minTags">
                        {{'Users.UserPage_InputStoresRequired' | i18n}}
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-6">
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="country" class="control-label">{{'Users.UserPage_LblCountry' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="country" name="country" ng-model="user.country" placeholder="{{'Users.UserPage_InputPlaceholderCountry' | i18n}}" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="state" class="control-label">{{'Users.UserPage_LblState' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="state" name="state" ng-model="user.state" placeholder="{{'Users.UserPage_InputPlaceholderState' | i18n}}"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="city" class="control-label">{{'Users.UserPage_LblCity' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="city" name="city" ng-model="user.city" placeholder="{{'Users.UserPage_InputPlaceholderCity' | i18n}}" />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="address" class="control-label">{{'Users.UserPage_LblAddress' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="address" name="address" ng-model="user.address" placeholder="{{'Users.UserPage_InputPlaceholderAddress' | i18n}}" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="zip" class="control-label">{{'Users.UserPage_LblZip' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="zip" name="zip" ng-model="user.zip" placeholder="{{'Users.UserPage_InputPlaceholderZip' | i18n}}" />
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12 text-center">
            <button class="btn btn-default" title="{{'Users.UserPage_BtnTooltipUpdate' | i18n}}" ng-click="updateUser()">
                <span class="icon-checkmark"></span>
                <span>{{'Users.UserPage_BtnTextUpdate' | i18n}}</span>
            </button>
            <button class="btn btn-default" title="{{'Users.UserPage_BtnTooltipCancel' | i18n}}" ng-click="cancel()">
                <span class="icon-cross"></span>
                <span>{{'Users.UserPage_BtnTextCancel' | i18n}}</span>
            </button>
        </div>
    </div>
</div>