﻿<div class="form-horizontal">
    <h1 class="text-uppercase">{{'Users.UsersListPage_Title' | i18n}}</h1>
    <hr />
    <div class="form-group">
        <div class="col-xs-12">
            <div class="form-inline">
                <button class="btn btn-default" title="{{'Users.UsersListPage_BtnTooltipAddUser' | i18n}}" ng-click="addUser()">
                    <span class="icon-plus"></span>
                    <span>{{'Users.UsersListPage_BtnTextAddUser' | i18n}}</span>
                </button>
                <button class="btn btn-default" title="{{'Users.UsersListPage_BtnTooltipDeleteUser' | i18n}}" ng-click="removeUsers()" ng-disabled="!viewModel.canDelete">
                    <span class="icon-trash"></span>
                    <span>{{'Users.UsersListPage_BtnTextDeleteUser' | i18n}}</span>
                </button>
                <select class="form-control" ng-model="viewModel.roleFilter" ng-options="role.id as role.name for role in roles" ng-change="filterChange()">
                    <option value="">{{'Users.UsersListPage_SelectOptionAllRoles' | i18n}}</option>
                </select>
                <select class="form-control" ng-model="viewModel.storeFilter" ng-options="store.id as store.name for store in stores" ng-change="filterChange()">
                    <option value="">{{'Users.UsersListPage_SelectOptionAllStores' | i18n}}</option>
                </select>
                <label class="search-wrapper input-group" for="textFilter">
                    <input class="form-control" id="textFilter" type="text" ng-model="viewModel.textFilter" ng-model-options="{ debounce: 1000 }" ng-change="filterChange()" placeholder="{{'Users.UsersListPage_InputPlaceholderSearchUser' | i18n}}">
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12">
            <div class="grid" ui-grid="gridOptions" ui-grid-pagination ui-grid-selection ui-grid-resize-columns></div>
        </div>
    </div>
</div>