﻿<div class="ui-grid-cell-contents" ng-if="row.entity.lastVisit != null">{{'Customers.CustomersGrid_CellLastVisit' | i18n :[row.entity.lastVisit]}}</div>
<div class="ui-grid-cell-contents" ng-if="row.entity.lastVisit == null">{{'Customers.CustomersGrid_CellNeverVisit' | i18n}}</div>
