﻿@import "variables";
@import "bootstrap/variables";
@import "bootstrap/mixins/vendor-prefixes";

@mixin icon-font() {
	font-family: 'bleu_font';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

