﻿@model YumaPos.Shared.API.Models.LoginDto
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="@Url.Content("/public/assets/images/favicon.ico")" type="image/x-icon">
    <title>Bleu</title>
    @Styles.Render("~/styles/publicLayout")
    @Styles.Render("~/styles/publicApp")
</head>
<body>
    <div class="container">
        <div class="row signin-logo">
            <figure class="col-xs-8 col-xs-offset-2">
                <a href="/">
                    <img class="img-responsive center-block" src="/public/assets/images/logo_big.png" alt="logo" />
                </a>
            </figure>
        </div>
        @using (Html.BeginForm("Login", "Account", new { returnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="row form-group">
                <div class="col-xs-8 col-xs-offset-2 col-md-6 col-md-offset-3 error">
                    <span>@Html.ValidationSummary()</span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-xs-8 col-xs-offset-2 col-md-6 col-md-offset-3">
                    @Html.TextBoxFor(x => x.Login, new { @class = "form-control", placeholder = "Username" })
                </div>
            </div>
            <div class="row form-group">
                <div class="col-xs-8 col-xs-offset-2 col-md-6 col-md-offset-3">
                    @Html.PasswordFor(x => x.Password, new { @class = "form-control", placeholder = "Password" })
                </div>
            </div>
            <div class="row first-col-bottom-align">
                <div class="col-xs-4 col-xs-offset-2 col-md-3 col-md-offset-3">
                    <a class="signin-password lighter">Forgot password?</a>
                </div>
                <div class="col-xs-4 col-xs-offset-2 hidden-xs"></div>
                <div class="col-xs-4 col-md-3 text-right">
                    <button type="submit" class="btn btn-default btn-lg btn-lg-white">Login</button>
                </div>
            </div>
        }
    </div>
    <script type="text/javascript">
        window.onload = function () {
            for (var i = 0; i < document.forms.length; i++) {
                var f = document.forms[i];
                var action = f.getAttribute('action') + window.location.hash;
                f.setAttribute('action', action);
            }
        };
    </script>
</body>
</html>
