﻿@media (min-width: 1200px) {
    .background-home-1 {
        background-image: url("/public/assets/images/bg_slides/large/home_1.jpg");
    }

    .background-home-2 {
        background-image: url("/public/assets/images/bg_slides/large/home_2.jpg");
    }

    .background-home-3 {
        background-image: url("/public/assets/images/bg_slides/large/home_3.jpg");
    }

    .background-home-4 {
        background-image: url("/public/assets/images/bg_slides/large/home_4.jpg");
    }

    .background-home-5 {
        background-image: url("/public/assets/images/bg_slides/large/home_5.jpg");
    }

    .background-home-6 {
        background-image: url("/public/assets/images/bg_slides/large/home_6.jpg");
    }

    .background-consumer-1 {
        background-image: url("/public/assets/images/bg_slides/large/consumer_1.jpg");
    }

    .background-consumer-2 {
        background-image: url("/public/assets/images/bg_slides/large/consumer_2.jpg");
    }

    .background-solutions-1 {
        background-image: url("/public/assets/images/bg_slides/large/solutions_1.jpg");
    }

    .background-solutions-2-1 {
        background-image: url("/public/assets/images/bg_slides/large/solutions_2_1.jpg");
    }

    .background-solutions-2-2 {
        background-image: url("/public/assets/images/bg_slides/large/solutions_2_2.jpg");
    }

    .background-solutions-2-3 {
        background-image: url("/public/assets/images/bg_slides/large/solutions_2_3.jpg");
    }

    .background-solutions-2-4 {
        background-image: url("/public/assets/images/bg_slides/large/solutions_2_4.jpg");
    }

    .background-solutions-2-5 {
        background-image: url("/public/assets/images/bg_slides/large/solutions_2_5.jpg");
    }

    .background-solutions-2-6 {
        background-image: url("/public/assets/images/bg_slides/large/solutions_2_6.jpg");
    }

    .background-solutions-2-7 {
        background-image: url("/public/assets/images/bg_slides/large/solutions_2_7.jpg");
    }

    .background-solutions-2-8 {
        background-image: url("/public/assets/images/bg_slides/large/solutions_2_8.jpg");
    }

    .background-support {
        background-image: url("/public/assets/images/bg_slides/large/support_1.jpg");
    }

    .background-company {
        background-image: url("/public/assets/images/bg_slides/large/company_1.jpg");
    }

    .background-resellers {
        background-image: url("/public/assets/images/bg_slides/large/resellers_1.jpg");
    }

    .background-contacts {
        background-image: url("/public/assets/images/bg_slides/large/contact_1.jpg");
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .background-home-1 {
        background-image: url("/public/assets/images/bg_slides/medium/home_1.jpg");
    }

    .background-home-2 {
        background-image: url("/public/assets/images/bg_slides/medium/home_2.jpg");
    }

    .background-home-3 {
        background-image: url("/public/assets/images/bg_slides/medium/home_3.jpg");
    }

    .background-home-4 {
        background-image: url("/public/assets/images/bg_slides/medium/home_4.jpg");
    }

    .background-home-5 {
        background-image: url("/public/assets/images/bg_slides/medium/home_5.jpg");
    }

    .background-home-6 {
        background-image: url("/public/assets/images/bg_slides/medium/home_6.jpg");
    }

    .background-consumer-1 {
        background-image: url("/public/assets/images/bg_slides/medium/consumer_1.jpg");
    }

    .background-consumer-2 {
        background-image: url("/public/assets/images/bg_slides/medium/consumer_2.jpg");
    }

    .background-solutions-1 {
        background-image: url("/public/assets/images/bg_slides/medium/solutions_1.jpg");
    }

    .background-solutions-2-1 {
        background-image: url("/public/assets/images/bg_slides/medium/solutions_2_1.jpg");
    }

    .background-solutions-2-2 {
        background-image: url("/public/assets/images/bg_slides/medium/solutions_2_2.jpg");
    }

    .background-solutions-2-3 {
        background-image: url("/public/assets/images/bg_slides/medium/solutions_2_3.jpg");
    }

    .background-solutions-2-4 {
        background-image: url("/public/assets/images/bg_slides/medium/solutions_2_4.jpg");
    }

    .background-solutions-2-5 {
        background-image: url("/public/assets/images/bg_slides/medium/solutions_2_5.jpg");
    }

    .background-solutions-2-6 {
        background-image: url("/public/assets/images/bg_slides/medium/solutions_2_6.jpg");
    }

    .background-solutions-2-7 {
        background-image: url("/public/assets/images/bg_slides/medium/solutions_2_7.jpg");
    }

    .background-solutions-2-8 {
        background-image: url("/public/assets/images/bg_slides/medium/solutions_2_8.jpg");
    }

    .background-support {
        background-image: url("/public/assets/images/bg_slides/medium/support_1.jpg");
    }

    .background-company {
        background-image: url("/public/assets/images/bg_slides/medium/company_1.jpg");
    }

    .background-resellers {
        background-image: url("/public/assets/images/bg_slides/medium/resellers_1.jpg");
    }

    .background-contacts {
        background-image: url("/public/assets/images/bg_slides/medium/contact_1.jpg");
    }
}

@media (max-width: 767px) {
    .background-home-1 {
        background-image: url("/public/assets/images/bg_slides/small/home_1.jpg");
    }

    .background-home-2 {
        background-image: url("/public/assets/images/bg_slides/small/home_2.jpg");
    }

    .background-home-3 {
        background-image: url("/public/assets/images/bg_slides/small/home_3.jpg");
    }

    .background-home-4 {
        background-image: url("/public/assets/images/bg_slides/small/home_4.jpg");
    }

    .background-home-5 {
        background-image: url("/public/assets/images/bg_slides/small/home_5.jpg");
    }

    .background-home-6 {
        background-image: url("/public/assets/images/bg_slides/small/home_6.jpg");
    }

    .background-consumer-1 {
        background-image: url("/public/assets/images/bg_slides/small/consumer_1.jpg");
    }

    .background-consumer-2 {
        background-image: url("/public/assets/images/bg_slides/small/consumer_2.jpg");
    }

    .background-solutions-1 {
        background-image: url("/public/assets/images/bg_slides/small/solutions_1.jpg");
    }

    .background-solutions-2-1 {
        background-image: url("/public/assets/images/bg_slides/small/solutions_2_1.jpg");
    }

    .background-solutions-2-2 {
        background-image: url("/public/assets/images/bg_slides/small/solutions_2_2.jpg");
    }

    .background-solutions-2-3 {
        background-image: url("/public/assets/images/bg_slides/small/solutions_2_3.jpg");
    }

    .background-solutions-2-4 {
        background-image: url("/public/assets/images/bg_slides/small/solutions_2_4.jpg");
    }

    .background-solutions-2-5 {
        background-image: url("/public/assets/images/bg_slides/small/solutions_2_5.jpg");
    }

    .background-solutions-2-6 {
        background-image: url("/public/assets/images/bg_slides/small/solutions_2_6.jpg");
    }

    .background-solutions-2-7 {
        background-image: url("/public/assets/images/bg_slides/small/solutions_2_7.jpg");
    }

    .background-solutions-2-8 {
        background-image: url("/public/assets/images/bg_slides/small/solutions_2_8.jpg");
    }

    .background-support {
        background-image: url("/public/assets/images/bg_slides/small/support_1.jpg");
    }

    .background-company {
        background-image: url("/public/assets/images/bg_slides/small/company_1.jpg");
    }

    .background-resellers {
        background-image: url("/public/assets/images/bg_slides/small/resellers_1.jpg");
    }

    .background-contacts {
        background-image: url("/public/assets/images/bg_slides/small/contact_1.jpg");
    }
}