﻿.first-col-bottom-align {
    position: relative;

    > div:nth-child(1) {
        @media (min-width: 768px) {
            bottom: 0;
            position: absolute;
            left: 0;
        }
    }
}

.footer-top {
    background-color: #4A5D66;
    margin-top: 1px;
    padding-top: 20px;

    a {
        @media (max-width: 767px) {
            margin-top: 1.5em;
        }
    }
}

.footer-bottom {
    background-color: #eff6fa;
    padding: 3em 0 2em 0;

    .contacts {
        display: table;

        @media (max-width: 767px) {
            margin: 0 auto;
        }
    }

    .footer-nav {
        ul {
            margin-bottom: 0px;

            @media (min-width: 1200px) {
                float: right;
            }

            li {
                padding: 0.8em 0;

                 a:not(.btn-lg) {
                    color: #2f3339;
                    font-size: 18px;

                    &:hover {
                        color: #5c80c1;
                    }
                }
            }
        }

        .btn-lg {
            font-size: 1.8em;
        }
    }

    .phone {
        color: #4a5d66;
        font-size: 3.2em;
    }

    .social-buttons {
        margin: -5px;
        padding: 1em 0;

        .col-xs-3 {
            padding: 5px;
        }

        .btn-lg {
            color: #4a5d66;
            padding: 16px 16px;
            width: 100%;

            &:hover {
                color: #ffffff;
            }
        }

        @media (max-width: 767px) {
            max-width: 258px;
        }
    }

    .copyright {
        color: #4a5d66;
        font-size: 1.4em;
        font-weight: bold;
        padding-top: 1em;
    }
}

#form_success_message {
    display: none;
}

.error {
    span {
        color: #a44;
        font-size: 1.8em;
    }
}

.mobile-align-content-center {
    @media (max-width: 767px) {
        text-align: center !important;

        h1 {
            text-align: center !important;
        }

        a {
            float: none !important;
        }
        
        p {
            float: none !important;
            text-align: center !important;
        }

        img {
            float: none !important;
            margin: 0 auto;
        }
    }
}

.second-col-bottom-align {
    position: relative;

    > div:nth-child(2) {
        @media (min-width: 768px) {
            bottom: 0;
            position: absolute;
            right: 0;
        }
    }
}

.second-col-bottom-align-lg {
    position: relative;

    > div:nth-child(2) {
        @media (min-width: 1200px) {
            bottom: 0;
            position: absolute;
            right: 0;
        }
    }
}

.section-container {
    padding-bottom: 5em;
    padding-top: 5em;
}

.section-header {
    margin-bottom: 1em;

    a {
        margin-bottom: 0.8em;

        @media (min-width: 768px) {
            float: right;
        }
    }

    p {
        font-size: 3.2em;
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
    }
}

.section-bottom {
    span {
        font-size: 3em;
    }

    a {
        margin-bottom: 0.4em;
    }
}

.socicon {
    font-family: 'socicon' !important;
}