﻿/*TEMP get static image*/
.consumer-static-image-for-mobile {
    max-width: 220px;
}

/*TODO must be replaced to static img with different dimensions*/
.solutions-circles {
    @media (min-width: 1200px) {
        height: 250px;
        width: 250px;
    }
    @media (min-width: 992px) and (max-width: 1199px) {
        height: 213px;
        width: 213px;
    }
    @media (min-width: 768px) and (max-width: 991px) {
        height: 158px;
        width: 158px;
    }
    @media (max-width: 767px) {
        height: 250px;
        width: 250px;
    }
}

/*TODO get images with real round border*/
.social-icons-round-border {
    border-radius: 6px;
}