﻿html {
    font-size: 62.5%;
}

body {
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
    font-size: 1em; /*10px*/
}

@media (min-width: 768px) and (max-width: 991px) {
    body {
        font-size: 0.85em;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    body {
        font-size: 0.7em;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 0.7em;
    }
}

h1 {
    font-size: 3.6em;
}

h2 {
    font-size: 3em;
}

p {
    font-size: 2.4em;
}

a { 
    cursor: pointer;

    &:hover, &:active, &:focus {
        color: #5c80c1;
        outline: none;
        text-decoration: none;
    }
}

input.ng-invalid,
textarea.ng-invalid {
	background-color: #edd;
	border-color: #ecc;
	color: #a44;
}
 
input.ng-valid,
textarea.ng-valid {
	background-color: #ded;
	border-color: #dec;
	color: #474; 
}

input.ng-pristine,
textarea.ng-pristine {
	background-color: #fff;
	border-color: #ccc;
	color: #555 
}

label {
    font-size: 2.4em;
    font-weight: lighter;
}

legend {
    border-bottom: none;
    font-size: 2.4em;
    font-weight: lighter;
}

.main > section:first-child {
    padding-top: 71px;
}

section {
    background-size: cover;
}