﻿.bold {
    font-weight: bold;
}

.dark-shadow {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.76);
}

.extra-large-header {
    font-size: 7.2em;
}

.lighter {
    font-weight: lighter;
}

.margin-bottom-1 {
    margin-bottom: 1em;
}

.paragraph-padding {
    padding: 2em 0;
}

.white-shadow {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.76);
}