﻿.btn-default,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active {
    border: none;
    background-color: #4A5D66;
    color: #ffffff;
    outline: none;

    &:hover {
        background-color: #30424b;
        border: none;
        color: #ffffff;
    }
}

.btn-default.disabled {
    background-color: #4A5D66;
}

.btn-lg {
    /*border-radius: 0;*/
    font-size: 2.4em;
    font-weight: lighter;
    padding: 10px 30px;
}

.btn-lg-white,
.btn-lg-white:focus,
.btn-lg-white.focus,
.btn-lg-white:active,
.btn-lg-white.active {
    background-color: #c5dbf8;
    color: #1b2022;

    &:hover {
        background-color: #b3d3fe;
    }
}

.checkbox-inline input[type="checkbox"] {
    position: relative;
}

.form-control {
    font-size: 2.4em;
    font-weight: lighter;
    padding: 0 0 0 12px;
}

.form-group {
    margin-bottom: 20px;
}

.navbar-brand {
    height: auto;
}

.navbar-default {
    background-color: #f8f8f8;
    background-color: rgba(248, 248, 248, 0.87);
    border-color: #e7e7e7;
    -webkit-box-shadow: 0 2px 5px 0 rgba(50, 50, 50, 0.3);
    -moz-box-shadow:    0 2px 5px 0 rgba(50, 50, 50, 0.3);
    box-shadow:         0 2px 5px 0 rgba(50, 50, 50, 0.3);
}

.navbar-nav {
    font-weight: bold;
    font-size: 1.8em;
    padding: 10px 0;
}

.navbar-default .navbar-toggle {
    margin: 18px 15px;
}

.navbar-default .navbar-nav > li:last-child {
    a,
    a:focus,
    a.focus,
    a:active,
    a.active {
        background-color: #4A5D66;
        border: none;
        color: #ffffff;
        font-size: 1em;
        font-weight: bold;
        outline: none;

        @media (min-width: 992px) {
            margin-left: 100px;
        }

        &:hover {
            background-color: #30424b;
            border: none;
            color: #ffffff;
        }
    }
}

.navbar-default .navbar-nav > li > a {
    color: #2f3339;

    &:hover {
        color: #5c80c1;
    }
}

.navbar-right {
    @media (min-width: 768px) {
        margin-right: 0;
    }
}