﻿<div class="form-horizontal" ng-form name="addCustomersGroupForm" cd-validation-of-model="group">
    <h1 class="text-uppercase">{{'Customers.AddCustomersGroupPage_Title' | i18n}}</h1>
    <hr />
    <div class="form-group">
        <div class="col-md-6">
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="name" class="control-label">{{'Customers.AddCustomersGroupPage_LblName' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="name" name="name" ng-model="group.name" placeholder="{{'Customers.AddCustomersGroupPage_InputPlaceholderName' | i18n}}" required />
                    <span class="help-block validation-message" ng-show="addCustomersGroupForm.name.$error.required">
                        {{'Customers.AddCustomersGroupPage_InputNameRequired' | i18n}}
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="isAuto" class="control-label">{{'Customers.AddCustomersGroupPage_LblIsAuto' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="isAuto" name="isAuto" ng-model="group.isAuto"/>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="description" class="control-label">{{'Customers.AddCustomersGroupPage_LblDescription' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <textarea class="form-control" id="description" name="description" ng-model="group.description" placeholder="{{'Customers.AddCustomersGroupPage_InputPlaceholderDescription' | i18n}}"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group" ng-show="group.isAuto">
        <div class="col-md-6">
            <div class="form-group">
                <div class="col-sm-5">
                    <label class="control-label" for="gender">{{'Customers.AddCustomersGroupPage_LblGender' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <select class="form-control" id="gender" name="gender" ng-model="group.gender" ng-options="x.id as x.name for x in customersGenders">
                        <option value="">{{'Customers.AddCustomersGroupPage_SelectOptionAllGenders' | i18n}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <label class="control-label">{{'Customers.AddCustomersGroupPage_LblYearsOld' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <div class="form-group">
                        <div class="col-sm-2 col-md-3">
                            <label class="control-label" for="yearsFrom">{{'Customers.AddCustomersGroupPage_LblYearsOldFrom' | i18n}}</label>
                        </div>
                        <div class="col-sm-4 col-md-3">
                            <input type="number" class="form-control" id="yearsFrom" name="yearsFrom" ng-model="group.yearsFrom" />
                        </div>
                        <div class="col-sm-2 col-md-3">
                            <label class="control-label" for="yearsTo">{{'Customers.AddCustomersGroupPage_LblYearsTo' | i18n}}</label>
                        </div>
                        <div class="col-sm-4 col-md-3">
                            <input type="number" class="form-control" id="yearsTo" name="yearsTo" ng-model="group.yearsTo" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <label class="control-label">{{'Customers.AddCustomersGroupPage_LblTotallySpent' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <div class="form-group">
                        <div class="col-sm-2 col-md-3">
                            <label class="control-label" for="totalSpentFrom">{{'Customers.AddCustomersGroupPage_LblTotallySpentFrom' | i18n}}</label>
                        </div>
                        <div class="col-sm-4 col-md-3">
                            <input min="0" class="form-control" id="totalSpentFrom" name="totalSpentFrom" ng-model="group.spentFrom" cd-currency-input />
                        </div>
                        <div class="col-sm-2 col-md-3">
                            <label class="control-label" for="totalSpentTo">{{'Customers.AddCustomersGroupPage_LblTotallySpentTo' | i18n}}</label>
                        </div>
                        <div class="col-sm-4 col-md-3">
                            <input min="0" class="form-control" id="totalSpentTo" name="totalSpentTo" ng-model="group.spentTo" cd-currency-input />
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <label class="control-label">{{'Customers.AddCustomersGroupPage_LblPoints' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <div class="form-group">
                        <div class="col-sm-2 col-md-3">
                            <label class="control-label" for="pointsFrom">{{'Customers.AddCustomersGroupPage_LblPointsFrom' | i18n}}</label>
                        </div>
                        <div class="col-sm-4 col-md-3">
                            <input min="0" class="form-control" id="pointsFrom" name="pointsFrom" ng-model="group.pointsFrom" />
                        </div>
                        <div class="col-sm-2 col-md-3">
                            <label class="control-label" for="pointsTo">{{'Customers.AddCustomersGroupPage_LblPointsTo' | i18n}}</label>
                        </div>
                        <div class="col-sm-4 col-md-3">
                            <input min="0" class="form-control" id="pointsTo" name="pointsTo" ng-model="group.pointsTo" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="form-group">
        <div class="col-xs-12 text-center">
            <button class="btn btn-default" title="{{'Customers.AddCustomersGroupPage_BtnTooltipSave' | i18n}}" ng-click="saveCustomersGroup()">
                <span class="icon-checkmark"></span>
                {{'Customers.AddCustomersGroupPage_BtnTextSave' | i18n}}
            </button>
            <button class="btn btn-default" title="{{'Customers.AddCustomersGroupPage_BtnTooltipCancel' | i18n}}" ng-click="cancel()">
                <span class="icon-cross"></span>
                {{'Customers.AddCustomersGroupPage_BtnTextCancel' | i18n}}
            </button>
        </div>
    </div>
</div>
