﻿<div class="form-horizontal" ng-form name="addCustomerForm" cd-validation-of-model="customer">
    <h1 class="text-uppercase">{{'Customers.AddCustomerPage_Title' | i18n}}</h1>
    <hr />
    <div class="form-group">
        <div class="col-lg-2 col-md-12">
            <div class="form-group">
                <div class="col-xs-12">
                    <div cd-file-upload="fileUpload" class="file-upload"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-md-6">
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="firstName" class="control-label">{{'Customers.AddCustomerPage_LblFirstName' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="firstName" name="firstName" ng-model="customer.firstName" placeholder="{{'Customers.AddCustomerPage_InputPlaceholderFirstName' | i18n}}" required />
                    <span class="help-block validation-message" ng-show="addCustomerForm.firstName.$error.required">
                        {{'Customers.AddCustomerPage_InputFirstNameRequired' | i18n}}
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="lastName" class="control-label">{{'Customers.AddCustomerPage_LblLastName' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="lastName" name="lastName" ng-model="customer.lastName" placeholder="{{'Customers.AddCustomerPage_InputPlaceholderLastName' | i18n}}" required />
                    <span class="help-block validation-message" ng-show="addCustomerForm.lastName.$error.required">
                        {{'Customers.AddCustomerPage_InputLastNameRequired' | i18n}}
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="phone" class="control-label">{{'Customers.AddCustomerPage_LblPhone' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <input type="tel" class="form-control" id="phone" name="phone" ng-model="customer.phone" placeholder="{{'Customers.AddCustomerPage_InputPlaceholderPhone' | i18n}}" required />
                    <span class="help-block validation-message" ng-show="addCustomerForm.phone.$error.required">
                        {{'Customers.AddCustomerPage_InputPhoneRequired' | i18n}}
                    </span>
                    <span class="help-block validation-message" ng-show="addCustomerForm.phone.$error.exists">
                        {{'Customers.AddCustomerPage_InputPhoneExists' | i18n}}
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <label class="control-label" for="birth">{{'Customers.AddCustomerPage_LblBirth' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <input type="text" id="birth" name="birth" cd-popup-datepicker ng-model="customer.birth" placeholder="{{'Customers.AddCustomerPage_InputPlaceholderBirth' | i18n}}" />
                    <span class="help-block validation-message" ng-show="addCustomerForm.$error.date">{{'Customers.AddCustomerPage_InputBirthInvalid' | i18n}}</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="email" class="control-label">{{'Customers.AddCustomerPage_LblEmail' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <input type="email" class="form-control" id="email" name="email" ng-model="customer.email" placeholder="{{'Customers.AddCustomerPage_InputPlaceholderEmail' | i18n}}" required />
                    <span class="help-block validation-message" ng-show="addCustomerForm.email.$error.required">
                        {{'Customers.AddCustomerPage_InputEmailRequired' | i18n}}
                    </span>
                    <span class="help-block validation-message" ng-show="addCustomerForm.email.$error.email">
                        {{'Customers.AddCustomerPage_InputEmailInvalid' | i18n}}
                    </span>
                    <span class="help-block validation-message" ng-show="addCustomerForm.email.$error.exists">
                        {{'Customers.AddCustomerPage_InputEmailExists' | i18n}}
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="groups" class="control-label">{{'Customers.AddCustomerPage_LblGroups' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <tags-input type="text" id="groups" name="groups" ng-model="customer.groups" placeholder="{{'Customers.AddCustomerPage_InputPlaceholderGroups' | i18n}}" display-property="name">
                        <auto-complete source="getGroups($query)" display-property="name"></auto-complete>
                    </tags-input>
                    <span class="help-block  validation-message" ng-show="addCustomerForm.groups.$error.leftoverText">{{'Customers.AddCustomerPage_InputGroupsInvalid' | i18n}}</span>
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-md-6">
            <!--<div class="form-group">
                <div class="col-sm-5">
                    <label class="control-label" for="isActive">{{'Customers.AddCustomerPage_LblType' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <select class="form-control" id="isActive" name="isActive" ng-model="customer.isActive" ng-options="x.id as x.name for x in customersTypes"></select>
                </div>
            </div>-->
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="city" class="control-label">{{'Customers.AddCustomerPage_LblCity' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="city" name="city" ng-model="customer.city" placeholder="{{'Customers.AddCustomerPage_InputPlaceholderCity' | i18n}}" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="state" class="control-label">{{'Customers.AddCustomerPage_LblState' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="state" name="state" ng-model="customer.state" placeholder="{{'Customers.AddCustomerPage_InputPlaceholderState' | i18n}}" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="country" class="control-label">{{'Customers.AddCustomerPage_LblCountry' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="country" name="country" ng-model="customer.country" placeholder="{{'Customers.AddCustomerPage_InputPlaceholderCountry' | i18n}}" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <label class="control-label" for="gender">{{'Customers.AddCustomerPage_LblGender' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <select class="form-control" id="gender" name="gender" ng-model="customer.gender" ng-options="x.id as x.name for x in customersGenders"></select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <label class="control-label" for="notes">{{'Customers.AddCustomerPage_LblNotes' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <textarea class="form-control" id="notes" name="notes" ng-model="customer.notes" placeholder="{{'Customers.AddCustomerPage_InputPlaceholderNotes' | i18n}}"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12 text-center">
            <button class="btn btn-default" title="{{'Customers.AddCustomerPage_BtnTooltipSave' | i18n}}" ng-click="saveCustomer()">
                <span class="icon-checkmark"></span>
                {{'Customers.AddCustomerPage_BtnTextSave' | i18n}}
            </button>
            <button class="btn btn-default" title="{{'Customers.AddCustomerPage_BtnTooltipCancel' | i18n}}" ng-click="cancel()">
                <span class="icon-cross"></span>
                {{'Customers.AddCustomerPage_BtnTextCancel' | i18n}}
            </button>
        </div>
    </div>
</div>