﻿<div class="modal-header">
    <h1 class="modal-title">
        {{'Customers.CustomersListFilter_Title' | i18n}}
        <span class="icon-cross pull-right" ng-click="cancel()" title="{{'Customers.CustomersListFilter_BtnTooltipClose' | i18n}}"></span>
    </h1>
</div>
<div class="modal-body">
    <div class="form-horizontal" ng-form name="customersListGridFilterForm" cd-validation-of-model="filters">
        <div class="form-group">
            <div class="col-sm-5">
                <label class="control-label" for="groupId">{{'Customers.CustomersListFilter_LblGroup' | i18n}}</label>
            </div>
            <div class="col-sm-7">
                <select class="form-control" id="groupId" name="groupId" ng-model="filters.groupId" ng-options="x.id as x.name for x in customersGroups">
                    <option value="">{{'Customers.CustomersListFilter_SelectOptionAllGroups' | i18n}}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-5">
                <label class="control-label" for="birth">{{'Customers.CustomersListFilter_LblBirth' | i18n}}</label>
            </div>
            <div class="col-sm-7">
                <input type="text" id="birth" name="birth" cd-popup-datepicker ng-model="filters.birth" />
                <span class="help-block validation-message" ng-show="customersListGridFilterForm.$error.date">{{'Customers.CustomersListFilter_InputBirthInvalid' | i18n}}</span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-5">
                <label class="control-label">{{'Customers.CustomersListFilter_LblYearsOld' | i18n}}</label>
            </div>
            <div class="col-sm-7">
                <div class="form-group">
                    <div class="col-sm-2 col-md-3">
                        <label class="control-label" for="yearsFrom">{{'Customers.CustomersListFilter_LblYearsOldFrom' | i18n}}</label>
                    </div>
                    <div class="col-sm-4 col-md-3">
                        <input type="number" class="form-control" id="yearsFrom" name="yearsFrom" ng-model="filters.yearsFrom" />
                    </div>
                    <div class="col-sm-2 col-md-3">
                        <label class="control-label" for="yearsTo">{{'Customers.CustomersListFilter_LblYearsTo' | i18n}}</label>
                    </div>
                    <div class="col-sm-4 col-md-3">
                        <input type="number" class="form-control" id="yearsTo" name="yearsTo" ng-model="filters.yearsTo" />
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="form-group">
            <div class="col-sm-5">
                <label class="control-label" for="isActive">{{'Customers.CustomersListFilter_LblType' | i18n}}</label>
            </div>
            <div class="col-sm-7">
                <select class="form-control" id="isActive" name="isActive" ng-model="filters.isActive" ng-options="x.id as x.name for x in customersTypes">
                    <option value="">{{'Customers.CustomersListFilter_SelectOptionAllTypes' | i18n}}</option>
                </select>
            </div>
        </div>-->
        <div class="form-group">
            <div class="col-sm-5">
                <label class="control-label" for="city">{{'Customers.CustomersListFilter_LblCity' | i18n}}</label>
            </div>
            <div class="col-sm-7">
                <input type="text" class="form-control" id="city" name="city" ng-model="filters.city" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-5">
                <label class="control-label">{{'Customers.CustomersListFilter_LblTotallySpent' | i18n}}</label>
            </div>
            <div class="col-sm-7">
                <div class="form-group">
                    <div class="col-sm-2 col-md-3">
                        <label class="control-label" for="totalSpentFrom">{{'Customers.CustomersListFilter_LblTotallySpentFrom' | i18n}}</label>
                    </div>
                    <div class="col-sm-4 col-md-3">
                        <input min="0" class="form-control" id="totalSpentFrom" name="totalSpentFrom" ng-model="filters.totalSpentFrom" cd-currency-input />
                    </div>
                    <div class="col-sm-2 col-md-3">
                        <label class="control-label" for="totalSpentTo">{{'Customers.CustomersListFilter_LblTotallySpentTo' | i18n}}</label>
                    </div>
                    <div class="col-sm-4 col-md-3">
                        <input min="0" class="form-control" id="totalSpentTo" name="totalSpentTo" ng-model="filters.totalSpentTo" cd-currency-input />
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-5">
                <label class="control-label" for="state">{{'Customers.CustomersListFilter_LblState' | i18n}}</label>
            </div>
            <div class="col-sm-7">
                <input type="text" class="form-control" id="state" name="state" ng-model="filters.state" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-5">
                <label class="control-label" for="country">{{'Customers.CustomersListFilter_LblCountry' | i18n}}</label>
            </div>
            <div class="col-sm-7">
                <input type="text" class="form-control" id="country" name="country" ng-model="filters.country" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-5">
                <label class="control-label" for="gender">{{'Customers.CustomersListFilter_LblGender' | i18n}}</label>
            </div>
            <div class="col-sm-7">
                <select class="form-control" id="gender" name="gender" ng-model="filters.gender" ng-options="x.id as x.name for x in customersGenders">
                    <option value="">{{'Customers.CustomersListFilter_SelectOptionAllGenders' | i18n}}</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="ok()" title="{{'Customers.CustomersListFilter_BtnTooltipFilter' | i18n}}">
        <span class="icon-filter"></span>
        {{'Customers.CustomersListFilter_BtnTextFilter' | i18n}}
    </button>
    <button class="btn btn-default" ng-click="cancel()" title="{{'Customers.CustomersListFilter_BtnTooltipCancel' | i18n}}">
        <span class="icon-cross"></span>
        {{'Customers.CustomersListFilter_BtnTextCancel' | i18n}}
    </button>
    <button class="btn btn-default" ng-click="clear()" title="{{'Customers.CustomersListFilter_BtnTooltipClear' | i18n}}">
        <span class="icon-trash"></span>
        {{'Customers.CustomersListFilter_BtnTextClear' | i18n}}
    </button>
</div>