﻿<div class="form-horizontal">
    <h1 class="text-uppercase">{{'Customers.CustomersListPage_Title' | i18n}}</h1>
    <hr />
    <div class="form-group" cd-customers-summary="customersSummary"></div>
    <div class="form-group">
        <div class="col-xs-12">
            <div class="form-inline">
                <!--<button class="btn btn-default" title="{{'Customers.CustomersListPage_BtnTooltipSendEmail' | i18n}}" ng-click="sendEmails()" ng-disabled="!viewModel.canEmail">
                    <span class="icon-mail"></span>
                    <span class="hidden-xs">{{'Customers.CustomersListPage_BtnTextSendEmail' | i18n}}</span>
                </button>
                <button class="btn btn-default" title="{{'Customers.CustomersListPage_BtnTooltipImport' | i18n}}" ng-click="importCustomers()">
                    <span class="icon-publish"></span>
                    <span class="hidden-xs">{{'Customers.CustomersListPage_BtnTextImport' | i18n}}</span>
                </button>
                <button class="btn btn-default" title="{{'Customers.CustomersListPage_BtnTooltipAddCustomer' | i18n}}" ng-click="addCustomer()">
                    <span class="icon-add_user"></span>
                    <span class="hidden-xs">{{'Customers.CustomersListPage_BtnTextAddCustomer' | i18n}}</span>
                </button>
                <button class="btn btn-default" title="{{'Customers.CustomersListPage_BtnTooltipDeleteCustomer' | i18n}}" ng-click="removeCustomers()" ng-disabled="!viewModel.canDelete">
                    <span class="icon-trash"></span>
                    <span class="hidden-xs">{{'Customers.CustomersListPage_BtnTextDeleteCustomer' | i18n}}</span>
                </button>
                <button class="btn btn-default" title="{{'Customers.CustomersListPage_BtnTooltipExport' | i18n}}" ng-click="exportCustomers()" ng-disabled="!viewModel.canExport">
                    <span class="icon-upload"></span>
                    <span class="hidden-xs">{{'Customers.CustomersListPage_BtnTextExport' | i18n}}</span>
                </button>-->
                <label class="search-wrapper input-group" for="textFilter">
                    <input class="form-control" type="text" ng-model="filters.textFilter" id="textFilter" ng-model-options="{ debounce: 1000 }" ng-change="filterChange()" placeholder="{{'Customers.CustomersListPage_InputPlaceholderSearch' | i18n}}" />
                    <span class="btn btn-default input-group-addon" title="{{'Customers.CustomersListPage_BtnTooltipFilter' | i18n}}" ng-click="openFilter()">
                        <span class="icon-filter"></span>
                    </span>
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12">
            <div class="form-inline">
                <button class="btn btn-default" title="{{'Customers.CustomersListPage_BtnTooltipAddToGroup' | i18n}}" ng-click="addToCustomersGroup()" ng-disabled="!viewModel.canAddToGroup">
                    <span class="icon-add-to-group"></span>
                    <span class="hidden-xs">{{'Customers.CustomersListPage_BtnTextAddToGroup' | i18n}}</span>
                </button>
                <button class="btn btn-default" title="{{'Customers.CustomersListPage_BtnTooltipMoveToGroup' | i18n}}" ng-click="moveToCustomersGroup()" ng-disabled="!viewModel.canMoveToGroup">
                    <span class="icon-move-to-group"></span>
                    <span class="hidden-xs">{{'Customers.CustomersListPage_BtnTextMoveToGroup' | i18n}}</span>
                </button>
                <button class="btn btn-default" title="{{'Customers.CustomersListPage_BtnTooltipDeleteFromGroup' | i18n}}" ng-click="deleteFromCustomersGroup()" ng-disabled="!viewModel.canDeleteFromGroup">
                    <span class="icon-trash"></span>
                    <span class="hidden-xs">{{'Customers.CustomersListPage_BtnTextDeleteFromGroup' | i18n}}</span>
                </button>
                <select class="form-control" ng-model="filters.groupId" ng-options="x.id as x.name for x in customersGroups" ng-change="filterChange()">
                    <option value="">{{'Customers.CustomersListPage_SelectOptionAllGroups' | i18n}}</option>
                </select>
                <button class="btn btn-default" title="{{'Customers.CustomersListPage_BtnTooltipAddGroup' | i18n}}" ng-click="addCustomersGroup()">
                    <span class="icon-add_group"></span>
                    <span class="hidden-xs">{{'Customers.CustomersListPage_BtnTextAddGroup' | i18n}}</span>
                </button>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12">
            <div class="grid" ui-grid="gridOptions" ui-grid-pagination ui-grid-selection ui-grid-resize-columns></div>
        </div>
    </div>
</div>
