﻿<div class="form-horizontal">
    <h1 class="text-uppercase">{{'Customers.CustomersGroupsListPage_Title' | i18n}}</h1>
    <hr />
    <div class="form-group" cd-customers-summary="customersSummary"></div>
    <div class="form-group">
        <div class="col-xs-12">
            <div class="form-inline">
                <button class="btn btn-default" title="{{'Customers.CustomersGroupsListPage_BtnTooltipAddGroup' | i18n}}" ng-click="addCustomersGroup()">
                    <span class="icon-add_group"></span>
                    <span class="hidden-xs">{{'Customers.CustomersGroupsListPage_BtnTextAddGroup' | i18n}}</span>
                </button>
                <button class="btn btn-default" title="{{'Customers.CustomersGroupsListPage_BtnTooltipDeleteGroup' | i18n}}" ng-click="removeCustomersGroup()" ng-disabled="!viewModel.canDeleteGroup">
                    <span class="icon-trash"></span>
                    <span class="hidden-xs">{{'Customers.CustomersGroupsListPage_BtnTextDeleteGroup' | i18n}}</span>
                </button>
                <label class="search-wrapper input-group" for="textFilter">
                    <input class="form-control" type="text" ng-model="viewModel.textFilter" id="textFilter" ng-change="filterChange()" placeholder="{{'Customers.CustomersGroupsListPage_InputPlaceholderSearchGroup' | i18n}}">
                </label>
                <select class="form-control" ng-model="viewModel.isAutoFilter" ng-options="x.id as x.name for x in isAutoStates" ng-change="filterChange()">
                    <option value="">{{'Customers.CustomersGroupsListPage_SelectOptionAll' | i18n}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12">
            <div class="grid" ui-grid="gridOptions" ui-grid-selection ui-grid-resize-columns></div>
        </div>
    </div>
</div>
