﻿<div class="form-horizontal" ng-form name="customerForm" cd-validation-of-model="customer">
    <h1 class="text-uppercase">{{'Customers.CustomerPage_Title' | i18n}} > {{customer.firstName + ' ' + customer.lastName}}</h1>
    <hr />
    <div class="form-group">
        <div class="col-lg-2 col-md-12">
            <div class="form-group">
                <div class="col-xs-12">
                    <div cd-file-upload="fileUpload" class="file-upload"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-md-6">
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="firstName" class="control-label">{{'Customers.CustomerPage_LblFirstName' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="firstName" name="firstName" ng-model="customer.firstName" placeholder="{{'Customers.CustomerPage_InputPlaceholderFirstName' | i18n}}" required />
                    <span class="help-block validation-message" ng-show="customerForm.firstName.$error.required">
                        {{'Customers.CustomerPage_InputFirstNameRequired' | i18n}}
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="lastName" class="control-label">{{'Customers.CustomerPage_LblLastName' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="lastName" name="lastName" ng-model="customer.lastName" placeholder="{{'Customers.CustomerPage_InputPlaceholderLastName' | i18n}}" required />
                    <span class="help-block validation-message" ng-show="customerForm.lastName.$error.required">
                        {{'Customers.CustomerPage_InputLastNameRequired' | i18n}}
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="phone" class="control-label">{{'Customers.CustomerPage_LblPhone' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <input type="tel" class="form-control" id="phone" name="phone" ng-model="customer.phone" placeholder="{{'Customers.CustomerPage_InputPlaceholderPhone' | i18n}}" required />
                    <span class="help-block validation-message" ng-show="customerForm.phone.$error.required">
                        {{'Customers.CustomerPage_InputPhoneRequired' | i18n}}
                    </span>
                    <span class="help-block validation-message" ng-show="customerForm.phone.$error.exists">
                        {{'Customers.CustomerPage_InputPhoneExists' | i18n}}
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <label class="control-label" for="birth">{{'Customers.CustomerPage_LblBirth' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <input type="text" id="birth" name="birth" cd-popup-datepicker ng-model="customer.birth" placeholder="{{'Customers.CustomerPage_InputPlaceholderBirth' | i18n}}" />
                    <span class="help-block validation-message" ng-show="customerForm.$error.date">{{'Customers.CustomerPage_InputBirthInvalid' | i18n}}</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="email" class="control-label">{{'Customers.CustomerPage_LblEmail' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <input type="email" class="form-control" id="email" name="email" ng-model="customer.email" placeholder="{{'Customers.CustomerPage_InputPlaceholderEmail' | i18n}}" required/>
                    <span class="help-block validation-message" ng-show="customerForm.email.$error.required">
                        {{'Customers.CustomerPage_InputEmailRequired' | i18n}}
                    </span>
                    <span class="help-block validation-message" ng-show="customerForm.email.$error.email">
                        {{'Customers.CustomerPage_InputEmailInvalid' | i18n}}
                    </span>
                    <span class="help-block validation-message" ng-show="customerForm.email.$error.exists">
                        {{'Customers.CustomerPage_InputEmailExists' | i18n}}
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="groups" class="control-label">{{'Customers.CustomerPage_LblGroups' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <tags-input type="text" id="groups" name="groups" ng-model="customer.groups" placeholder="{{'Customers.CustomerPage_InputPlaceholderGroups' | i18n}}" display-property="name">
                        <auto-complete source="getGroups($query)" display-property="name"></auto-complete>
                    </tags-input>
                    <span class="help-block validation-message" ng-show="customerForm.groups.$error.leftoverText">
                        {{'Customers.CustomerPage_InputGroupsInvalid' | i18n}}
                    </span>
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-md-6">
            <!--<div class="form-group">
                <div class="col-sm-5">
                    <label class="control-label" for="isActive">{{'Customers.CustomerPage_LblType' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <select class="form-control" id="isActive" name="isActive" ng-model="customer.isActive" ng-options="x.id as x.name for x in customersTypes"></select>
                </div>
            </div>-->
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="city" class="control-label">{{'Customers.CustomerPage_LblCity' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="city" name="city" ng-model="customer.city" placeholder="{{'Customers.CustomerPage_InputPlaceholderCity' | i18n}}" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="state" class="control-label">{{'Customers.CustomerPage_LblState' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="state" name="state" ng-model="customer.state" placeholder="{{'Customers.CustomerPage_InputPlaceholderState' | i18n}}" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="country" class="control-label">{{'Customers.CustomerPage_LblCountry' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="country" name="country" ng-model="customer.country" placeholder="{{'Customers.CustomerPage_InputPlaceholderCountry' | i18n}}" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <label class="control-label" for="gender">{{'Customers.CustomerPage_LblGender' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <select class="form-control" id="gender" name="gender" ng-model="customer.gender" ng-options="x.id as x.name for x in customersGenders"></select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <label class="control-label" for="notes">{{'Customers.CustomerPage_LblNotes' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <textarea class="form-control" id="notes" name="notes" ng-model="customer.notes" placeholder="{{'Customers.CustomerPage_InputPlaceholderNotes' | i18n}}"></textarea>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-12 text-center">
            <button class="btn btn-default" title="{{'Customers.CustomerPage_BtnTooltipUpdate' | i18n}}" ng-click="updateCustomer()">
                <span class="icon-checkmark"></span>
                {{'Customers.CustomerPage_BtnTextUpdate' | i18n}}
            </button>
            <button class="btn btn-default" title="{{'Customers.CustomerPage_BtnTooltipCancel' | i18n}}" ng-click="cancel()">
                <span class="icon-cross"></span>
                {{'Customers.CustomerPage_BtnTextCancel' | i18n}}
            </button>
        </div>
    </div>
    <hr />
    <div class="form-group summary-info">
        <div class="col-sm-4">
            <div>
                <div class="row text-center">{{'Customers.CustomerPage_TitleTotalSpent' | i18n}}</div>
                <h3 class="row text-center">{{ customer.totalSpent | currency }}</h3>
            </div>
        </div>
        <div class="col-sm-4">
            <div>
                <div class="row text-center">{{'Customers.CustomerPage_TitleOrdersCount' | i18n}}</div>
                <h3 class="row text-center">{{ customer.totalOrders }}</h3>
            </div>
        </div>
        <div class="col-sm-4">
            <div>
                <div class="row text-center">{{'Customers.CustomerPage_TitleAvgOrders' | i18n}}</div>
                <h3 class="row text-center">{{ customer.avgSpend | currency}}</h3>
            </div>
        </div>
    </div>
    <hr />
    <h3>{{'Customers.CustomerPage_TitleRecentActivity' | i18n}}</h3>
    <span ng-if="customer.lastVisit != null">{{'Customers.CustomerPage_TitleRecentActivityLastVisit' | i18n : [customer.lastVisit]}}</span>
    <span ng-if="customer.lastVisit == null">{{'Customers.CustomerPage_TitleRecentActivityNeverVisit' | i18n}}</span>
    <div class="form-group">
        <div class="col-xs-12">
            <div class="grid" ui-grid="gridOptions" ui-grid-resize-columns ui-grid-infinite-scroll></div>
        </div>
    </div>
</div>