﻿<div class="modal-header">
    <h1 class="modal-title">
        {{'Customers.RemoveCustomersFromCustomersGroupsDlg_Title' | i18n}}
        <span class="icon-cross pull-right" ng-click="cancel()" title="{{'Customers.RemoveCustomersFromCustomersGroupsDlg_BtnTooltipClose' | i18n}}"></span>
    </h1>
</div>
<div class="modal-body">
    <div class="form-horizontal" ng-form name="customersToGroupsForm" cd-validation-of-model="customersToGroups">
        <div class="form-group">
            <div class="col-sm-5">
                <label for="groups" class="control-label">{{'Customers.RemoveCustomersFromCustomersGroupsDlg_LblGroups' | i18n}}</label>
            </div>
            <div class="col-sm-7">
                <tags-input type="text" id="groups" name="groups" ng-model="customersToGroups.groups" placeholder="{{'Customers.RemoveCustomersFromCustomersGroupsDlg_InputPlaceholderGroups' | i18n}}" display-property="name" min-tags="1">
                    <auto-complete source="getGroups($query)" display-property="name"></auto-complete>
                </tags-input>
                <span class="help-block validation-message" ng-show="customersToGroupsForm.groups.$error.minTags">{{'Customers.RemoveCustomersFromCustomersGroupsDlg_InputGroupsRequired' | i18n}}</span>
                <span class="help-block validation-message" ng-show="customersToGroupsForm.groups.$error.leftoverText">{{'Customers.RemoveCustomersFromCustomersGroupsDlg_InputGroupsInvalid' | i18n}}</span>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="all()" title="{{'Customers.RemoveCustomersFromCustomersGroupsDlg_BtnTooltipAll' | i18n}}">
        <span class="icon-trash"></span>
        {{'Customers.RemoveCustomersFromCustomersGroupsDlg_BtnTextAll' | i18n}}
    </button>
    <button class="btn btn-default" ng-click="ok()" title="{{'Customers.RemoveCustomersFromCustomersGroupsDlg_BtnTooltipOk' | i18n}}">
        <span class="icon-checkmark"></span>
        {{'Customers.RemoveCustomersFromCustomersGroupsDlg_BtnTextOk' | i18n}}
    </button>
    <button class="btn btn-default" ng-click="cancel()" title="{{'Customers.RemoveCustomersFromCustomersGroupsDlg_BtnTooltipCancel' | i18n}}">
        <span class="icon-cross"></span>
        {{'Customers.RemoveCustomersFromCustomersGroupsDlg_BtnTextCancel' | i18n}}
    </button>
</div>