﻿@import "../variables";
@import "../bootstrap/variables";

.btn:focus, .btn.focus, .btn:active:focus, .btn:active.focus, .btn.active:focus, .btn.active.focus {
    outline: 0;
}

.btn.btn-default:hover {
    background: $btn-default-bg-hover;
    border-color: $btn-default-border-hover;
}
