﻿@import "../variables";
@import "../bootstrap/variables";

.date-picker {
    & .dropdown-menu {
        margin: 0 14px 0 0;
    }

    & > .form-control[readonly] {
        background: $input-bg;
    }
}
