﻿@import "../_variables";

.file-upload {
    & .drop-box {
        border: $file-upload-border;
        cursor: pointer;
        height: $file-upload-height;
        overflow: hidden;
        width: $file-upload-width;
        margin: 0 auto;
    }
}
