﻿@import "../variables";
@import "../bootstrap/variables";
@import "../bootstrap/mixins/buttons";

@font-face {
  font-family: 'ui-grid';
  src: url('../fonts/ui-grid.eot');
  src: url('../fonts/ui-grid.eot#iefix') format('embedded-opentype'), url('../fonts/ui-grid.woff') format('woff'), url('../fonts/ui-grid.ttf') format('truetype'), url('../fonts/ui-grid.svg?#ui-grid') format('svg');
  font-weight: normal;
  font-style: normal;
}
.grid {
    width: 100%;
    min-height: $grid-min-height;

    .ui-grid-cell .ui-grid-cell-contents {
        padding-top: ($grid-row-height - 30px) / 2;
        &.cell-with-image {
            padding-top: $grid-cell-with-image-padding;

            img {
                width: $grid-row-image-size;
                height: $grid-row-image-size;
                margin-right: $grid-gutter-width /2;
                margin-left: $grid-gutter-width /2;
            }
        }
    }

    a {
        color: $grid-checkbox-color;
        font-weight: bold;
        text-decoration: none;
    }

    &.ui-grid {
        border-color: $grid-header-background;
        border-top-color: $grid-row-border-color;
    }

    & .ui-grid-header {
        border-bottom-color: $grid-header-background;
    }

    & .ui-grid-top-panel {
        background: $grid-header-background;
    }

    & .ui-grid-pinned-container.ui-grid-pinned-container-left .ui-grid-header-cell:last-child,
    & .ui-grid-pinned-container.ui-grid-pinned-container-left .ui-grid-cell:last-child {
        border: none;
        border-bottom: 1px solid $grid-row-border-color;
        height: $grid-row-height !important;
    }

    & .ui-grid-row {
        height: $grid-row-height !important;
    }

    & .ui-grid-cell {
        padding-top: $grid-cell-padding-top;
    }

    & .ui-grid-header-cell,
    & .ui-grid-cell {
        height: $grid-row-height !important;
        vertical-align: middle;
        border: none;
        border-bottom: 1px solid $grid-row-border-color;
    }

    & .ui-grid-row-header-cell {
        background-color: transparent !important;
    }

    & .ui-grid-row:nth-child(even) .ui-grid-cell {
        background-color: $grid-even-row-background !important;
    }

    & .ui-grid-row:nth-child(odd) .ui-grid-cell {
        background-color: $grid-odd-row-background !important;
    }

    & .ui-grid-header-cell:last-child .ui-grid-column-resizer.right {
        border: none;
    }

    & .ui-grid-row:last-child .ui-grid-cell {
        border-bottom: 1px solid $grid-header-background !important;
    }

    & .ui-grid-selection-row-header-buttons {
        opacity: 1;
        border: 1px solid $grid-checkbox-color;
        color: transparent;
    }

    & .ui-grid-selection-row-header-buttons.ui-grid-row-selected,
    & .ui-grid-selection-row-header-buttons.ui-grid-all-selected {
        color: $grid-checkbox-color;
    }

    & .ui-grid-pager-panel {
        background: $grid-pager-bg;
    }

    & .ui-grid-pager-container {
        height: $grid-pager-height;
        padding-top: $grid-cell-padding-top;
    }

    & .ui-grid-pager-control span {
        vertical-align: baseline;
    }

    & .ui-grid-pager-control button {
        border: none;
        outline: none;
        @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);

        &[disabled="disabled"] {
            opacity: 0.5;
        }
    }

    & .ui-grid-pager-container input,
    & .ui-grid-pager-container select {
        border: none;
        outline: none;
    }

    & .ui-grid-pager-count-container {
        margin-top: 12px;
    }

    & .ui-grid-cell-contents > a {
        color: $link-color;
    }
}
