﻿@import "../variables";
@import "../bootstrap/variables";
@import "../bootstrap/mixins/nav-vertical-align";

.header {
    & .navbar {
        & .navbar-brand {
            padding-top: $navbar-brand-vertical-padding;
            padding-bottom: $navbar-brand-vertical-padding;
        }

        & .header-logo {
            height: $header-logo-height;
            width: $header-logo-width;
        }

        & .navbar-toggle {
            @include navbar-vertical-align($navbar-toggle-vertical-align);
            font-size: $navbar-toggle-font-size;
            border: none;
        }

        & .profile-panel-toggle {
            cursor: pointer;
            padding-top: $profile-panel-toggle-padding-top;
            padding-right: $profile-panel-toggle-padding-right;

            & > span:nth-of-type(1) {
                font-size: $header-profile-icon-size;
            }

            & > span
            {
                font-size: $header-arrow-icon-size;
            }
        }
    }

    & .profile-panel {
        top: $navbar-height;
        height: $navbar-height;
        opacity: $profile-panel-opacity;

        ul {
            list-style: none;
            padding-left: $grid-gutter-width /2;
            padding-right: $grid-gutter-width /2;
            @include navbar-vertical-align($profile-panel-ul-vertical-align);

            & > li {
                display: inline;

                & > a {
                    color: $profile-panel-labels-color;
                    font-size: $profile-panel-font-size;

                    & > span:first-of-type {
                        color: $profile-panel-icons-color;
                        padding-left: $profile-panel-icon-padding-left;
                        padding-right: $profile-panel-icon-padding-right;
                    }
                }
            }
        }
    }
}

.header #profilepanel {
    &:checked {
        & ~ .profile-panel {
            display: block;
        }

        & ~ div .icon-arrow-up {
            display: inline;
        }

        & ~ div .icon-arrow-down {
            display: none;
        }
    }

    & ~ .profile-panel {
        display: none;
    }

    & ~ div .icon-arrow-up {
        display: none;
    }

    & ~ div .icon-arrow-down {
        display: inline;
    }
}
