﻿@import "../variables";
@import "../bootstrap/variables";

.left-menu {
    padding: 0;

    &.sidebar {
        z-index: $left-menu-z-index;
        overflow-x: hidden;
        background: $left-menu-background;

        & > ul {
            padding: $left-menu-padding;
            height: 100%;

            & h4 {
                color: $left-menu-section-label-color;
            }

            & a {
                &:hover {
                    color: $left-menu-item-label-color-hover;
                }

                color: $left-menu-item-label-color;
            }

            & li {
                list-style: none;
            }

            & ul {
                padding: 0;
            }
        }
    }

    @media (min-width: 768px) {
        &.sidebar {
            height: auto !important;
            position: fixed;
            top: $navbar-height;
            bottom: 0;
            left: 0;
            display: block;
            overflow-y: auto;
        }
    }
}
