﻿@import "../variables";
@import "../bootstrap/variables";
@import "../bootstrap/mixins/vendor-prefixes";

.loader > div {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10000;

    & > .loader-background {
        background: $loader-background;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    & .loader-error,
    & .loader-spinner {
        display: table;
        width: 100%;
        height: 100%;
    }

    & .loader-error > .error-wrapper,
    & .loader-spinner > .spinner-wrapper {
        display: table-cell;
        vertical-align: middle;
    }

    & .spinner {
        margin: 0 auto;
        width: $loader-spinner-width;
        height: $loader-spinner-height;

        & > div {
            background: $loader-spinner-line-color;
            height: 100%;
            width: $loader-spinner-line-width;
            display: inline-block;
            margin-right: $loader-spinner-line-margin-right;
            @include animation(stretchdelay 1.2s infinite ease-in-out);
        }

        & .rect2 {
            @include animation-delay(-1.1s);
        }

        & .rect3 {
            @include animation-delay(-1.0s);
        }

        & .rect4 {
            @include animation-delay(-0.9s);
        }

        & .rect5 {
            @include animation-delay(-0.8s);
        }
    }
}
