﻿@import "../variables";
@import "../bootstrap/variables";
@import "../mixins/icons";

label.search-wrapper {
    margin-bottom: 0;
    font-weight: normal;

    & > input.form-control {
        padding-left: $input-height-base + $padding-base-vertical;
    }

    &:before {
        border-right: 1px solid $input-border;
        content: "\e605";
        left: $padding-base-vertical;
        bottom: $padding-base-vertical;
        padding-right: $padding-base-vertical;
        position: absolute;
        top: $padding-base-vertical;
        z-index: 3;
        font-size: $input-height-base - $padding-base-vertical *2;

        @include icon-font();
    }
}
