﻿@import "../variables";
@import "../bootstrap/variables";
@import "../bootstrap/mixins/text-overflow";

& .ui-sortable-content {
    border: $list-row-item-border;
    background: $body-bg;

    & > div {
        margin: $list-row-content-margin;

        & img {
            height: $grid-row-image-size;
            width: $grid-row-image-size;
        }

        & .item-name {
            padding-top: $list-row-content-padding-top;
            @include text-overflow();
        }
    }
}

.ui-sortable {
    & ul {
        padding-left: 0;
    }
}
