﻿@import "../variables";
@import "../bootstrap/variables";
@import "../bootstrap/mixins/buttons";

tags-input {
    &.ng-invalid .tags {
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    & .tags {
        border-radius: $input-border-radius;
        border-color: $input-border;


        & .tag-item {
            border-radius: $btn-border-radius-base;
            @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);

            &:hover {
                background:$btn-default-bg-hover;
                border-color: $btn-default-border-hover;
            }
        }

        &.focused {
            -webkit-box-shadow: none;
            box-shadow: none;
            border-color: $input-border;
        }
    }
}
