﻿@import "../bootstrap/mixins/_vendor-prefixes";
@import "../bootstrap/_variables";

.form-control ~ .validation-message,
tags-input ~ .validation-message,
.date-picker ~ .validation-message{
    color: $state-danger-text;
    display: none;
}

.form-horizontal.ng-submitted .ng-invalid.form-control ~ .validation-message,
.form-horizontal.ng-submitted tags-input.ng-invalid ~ .validation-message,
.form-horizontal.ng-submitted .date-picker.ng-invalid ~ .validation-message,
.ng-invalid.form-control:not(.ng-pristine) ~ .validation-message,
tags-input.ng-invalid:not(.ng-pristine) ~ .validation-message,
.date-picker.ng-invalid:not(.ng-pristine) ~ .validation-message {
    display: block;
}

.ng-invalid.form-control,
tags-input.ng-invalid .tags{
    border-color: $state-danger-text;
}

.ng-invalid.form-control:focus,
tags-input.ng-invalid:focus .tags {
    border-color: darken($state-danger-text, 10%);
}

.form-horizontal:not(.ng-submitted) {
    .ng-pristine.form-control,
    tags-input.ng-pristine .tags {
        border-color: $input-border;
    }

    .ng-pristine.form-control:focus,
    tags-input.ng-pristine:focus .tags {
        border-color: darken($input-border, 10%);
    }
}