﻿@import "../variables";
@import "../bootstrap/variables";

.summary-info {
    & > [class^="col-"] {
        & > div {
            background: $summary-info-bg;
            padding-top: $padding-large-vertical;
            padding-bottom: $padding-large-vertical;

            & > h3{
                color: $summary-info-value-color;
            }
        }
    }
}
