﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" data-ng-app="app">
<head>
    <base href="/">
    <title>Bleu</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--<meta name="description" content="" />
        <meta name="keywords" content="" />-->
    <link rel="shortcut icon" href="@Url.Content("/public/assets/images/favicon.ico")" type="image/x-icon">
    @Styles.Render("~/styles/publicLayout")
    @Styles.Render("~/styles/publicApp")
    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit&hl=en" async defer></script>
</head>
<body data-window>
    <header data-ng-include="'/public/app/views/templates/header.html'"></header>

    <div class="main" data-ui-view autoscroll="true"></div>

    <footer data-ng-include="'/public/app/views/templates/footer.html'"></footer>

    <div id="mobile-indicator" class="visible-xs"></div>
    @Scripts.Render("~/scripts/publicLayout")
    @Scripts.Render("~/scripts/publicApp")
</body>
</html>

