﻿<div class="modal-header">
    <h1 class="modal-title">
        {{title}}
        <span class="icon-cross pull-right" ng-click="close()" title="{{'Main.MessageBox_BtnTooltipClose' | i18n}}" ng-show="showClose"></span>
    </h1>
</div>
<div class="modal-body">{{message}}</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-repeat="button in buttons" ng-click="close(button.value)">
        <span ng-class="button.icon"></span>
        {{button.text}}
    </button>
</div>
