﻿<div class="modal-header">
    <h1 class="modal-title">
        {{'Profile.ProfilePasswordDlg_Title' | i18n}}
        <span class="icon-cross pull-right" ng-click="cancel()" title="{{'Profile.ProfilePasswordDlg_BtnTooltipClose' | i18n}}"></span>
    </h1>
</div>
<div class="modal-body">
    <div class="form-horizontal" ng-form name="profilePasswordForm" cd-validation-of-model="profilePassword">
        <div class="form-group">
            <div class="col-sm-5">
                <label for="oldPassword" class="control-label">{{'Profile.ProfilePasswordDlg_LblOldPassword' | i18n}}</label>
            </div>
            <div class="col-sm-7">
                <input type="password" class="form-control" id="oldPassword" name="oldPassword" ng-model="profilePassword.oldPassword" placeholder="{{'Profile.ProfilePasswordDlg_InputPlaceholderOldPassword' | i18n}}" required cd-server-validation-input="['wrong']"/>
                <span class="help-block validation-message" ng-show="profilePasswordForm.oldPassword.$error.required">
                    {{'Profile.ProfilePasswordDlg_InputOldPasswordRequired' | i18n}}
                </span>
                <span class="help-block validation-message" ng-show="profilePasswordForm.oldPassword.$error.wrong">
                    {{'Profile.ProfilePasswordDlg_InputOldPasswordWrong' | i18n}}
                </span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-5">
                <label for="password" class="control-label">{{'Profile.ProfilePasswordDlg_LblPassword' | i18n}}</label>
            </div>
            <div class="col-sm-7">
                <input type="password" class="form-control" id="password" name="password" ng-model="profilePassword.password" placeholder="{{'Profile.ProfilePasswordDlg_InputPlaceholderPassword' | i18n}}" required/>
                <span class="help-block validation-message" ng-show="profilePasswordForm.password.$error.required">
                    {{'Profile.ProfilePasswordDlg_InputPasswordRequired' | i18n}}
                </span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-5">
                <label for="confirmPassword" class="control-label">{{'Profile.ProfilePasswordDlg_LblConfirmPassword' | i18n}}</label>
            </div>
            <div class="col-sm-7">
                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" ng-model="profilePassword.confirmPassword" placeholder="{{'Profile.ProfilePasswordDlg_InputPlaceholderConfirmPassword' | i18n}}" cd-confirm-validation="profilePassword.password"/>
                <span class="help-block validation-message" ng-show="profilePasswordForm.confirmPassword.$error.confirm">
                    {{'Profile.ProfilePasswordDlg_InputConfirmPasswordInvalid' | i18n}}
                </span>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="ok()" title="{{'Profile.ProfilePasswordDlg_BtnTooltipOk' | i18n}}">
        <span class="icon-checkmark"></span>
        {{'Profile.ProfilePasswordDlg_BtnTextOk' | i18n}}
    </button>
    <button class="btn btn-default" ng-click="cancel()" title="{{'Profile.ProfilePasswordDlg_BtnTooltipCancel' | i18n}}">
        <span class="icon-cross"></span>
        {{'Profile.ProfilePasswordDlg_BtnTextCancel' | i18n}}
    </button>
</div>