﻿<div class="form-horizontal" ng-form name="profileForm" cd-validation-of-model="profile">
    <h1 class="text-uppercase">{{'Profile.ProfilePage_Title' | i18n}} > {{profile.firstName + ' ' + profile.lastName}}</h1>
    <hr />
    <div class="form-group">
        <div class="col-md-6">
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="firstName" class="control-label">{{'Profile.ProfilePage_LblProfileFirstName' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="firstName" name="firstName" ng-model="profile.firstName" placeholder="{{'Profile.ProfilePage_InputPlaceholderProfileFirstName' | i18n}}" required />
                    <span class="help-block validation-message" ng-show="profileForm.firstName.$error.required">
                        {{'Profile.ProfilePage_InputProfileFirstNameRequired' | i18n}}
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="lastName" class="control-label">{{'Profile.ProfilePage_LblProfileLastName' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="lastName" name="lastName" ng-model="profile.lastName" placeholder="{{'Profile.ProfilePage_InputPlaceholderProfileLastName' | i18n}}" required />
                    <span class="help-block validation-message" ng-show="profileForm.lastName.$error.required">
                        {{'Profile.ProfilePage_InputProfileLastNameRequired' | i18n}}
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="phone" class="control-label">{{'Profile.ProfilePage_LblProfilePhone' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <input type="tel" class="form-control" id="phone" name="phone" ng-model="profile.phone" placeholder="{{'Profile.ProfilePage_InputPlaceholderProfilePhone' | i18n}}"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="email" class="control-label">{{'Profile.ProfilePage_LblProfileEmail' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <input type="email" class="form-control" id="email" name="email" ng-model="profile.email" placeholder="{{'Profile.ProfilePage_InputPlaceholderProfileEmail' | i18n}}" />
                    <span class="help-block validation-message" ng-show="profileForm.email.$error.email">
                        {{'Profile.ProfilePage_InputProfileEmailInvalid' | i18n}}
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="pin" class="control-label">{{'Profile.ProfilePage_LblProfilePin' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <input type="number" class="form-control" id="pin" name="pin" ng-model="profile.pin" placeholder="{{'Profile.ProfilePage_InputPlaceholderProfilePin' | i18n}}" required/>
                    <span class="help-block validation-message" ng-show="profileForm.pin.$error.required">
                        {{'Profile.ProfilePage_InputProfilePinRequired' | i18n}}
                    </span>
                    <span class="help-block validation-message" ng-show="profileForm.pin.$error.number">
                        {{'Profile.ProfilePage_InputProfilePinInvalid' | i18n}}
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="login" class="control-label">{{'Profile.ProfilePage_LblProfileLogin' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="login" name="login" ng-model="profile.login" placeholder="{{'Profile.ProfilePage_InputPlaceholderProfileLogin' | i18n}}" required />
                    <span class="help-block validation-message" ng-show="profileForm.login.$error.required">
                        {{'Profile.ProfilePage_InputProfileLoginRequired' | i18n}}
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-7 col-sm-offset-5">
                    <button class="btn btn-default" title="{{'Profile.ProfilePage_BtnTooltipChangePassword' | i18n}}" ng-click="openChangePasswordDialog()">
                        <span class="icon-pencil"></span>
                        <span>{{'Profile.ProfilePage_BtnTextChangePassword' | i18n}}</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-6">
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="country" class="control-label">{{'Profile.ProfilePage_LblProfileCountry' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="country" name="country" ng-model="profile.country" placeholder="{{'Profile.ProfilePage_InputPlaceholderProfileCountry' | i18n}}" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="state" class="control-label">{{'Profile.ProfilePage_LblProfileState' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="state" name="state" ng-model="profile.state" placeholder="{{'Profile.ProfilePage_InputPlaceholderProfileState' | i18n}}" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="city" class="control-label">{{'Profile.ProfilePage_LblProfileCity' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="city" name="city" ng-model="profile.city" placeholder="{{'Profile.ProfilePage_InputPlaceholderProfileCity' | i18n}}" />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="address" class="control-label">{{'Profile.ProfilePage_LblProfileAddress' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="address" name="address" ng-model="profile.address" placeholder="{{'Profile.ProfilePage_InputPlaceholderProfileAddress' | i18n}}" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="zip" class="control-label">{{'Profile.ProfilePage_LblProfileZip' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="zip" name="zip" ng-model="profile.zip" placeholder="{{'Profile.ProfilePage_InputPlaceholderProfileZip' | i18n}}" />
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12 text-center">
            <button class="btn btn-default" title="{{'Profile.ProfilePage_BtnTooltipUpdateProfile' | i18n}}" ng-cl ng-click="updateProfile()">
                {{'Profile.ProfilePage_BtnTextUpdateProfile' | i18n}}
            </button>
        </div>
    </div>
</div>