﻿.consumer-device {
    @media (min-width: 768px) {
        margin-top: -100%;
    }

    @media (max-width: 767px) {
        margin-top: 30px;
    }
}

.store {
    margin-top: 30px;

    &.store-left a {
        margin-right: 10px;
    }

    &.store-right a {
        margin-left: 10px;
    }

    &.store-center a {
        margin: 0 10px;
    }

    a {
        display: inline-block;
    }
}

.consumer-loyality-rewards-image {
    @media (min-width: 768px) {
        padding-top: 40%;
    }
}

.scroll-menu {
    h1, p {
        color:  #979FA4;
    }

    &.active h1, &.active p {
        color:  #243c5a;
    }

    img {
        display: none;
        margin-top: 33px;
    }

    &.active img {
        display: block !important;
    }
}