﻿.home-title {
    padding-bottom: 2em;
    padding-top: 2em;

    a {
        margin-top: 1em;
    }
}

.home-subtext {
    font-size: 1.8em;
}

.home-pay {
    a {
        margin-bottom: 0.5em;
        margin-top: 2em;
    }

    img {
        margin-top: 3em;
    }
}

.home-video {
    padding: 30px;
    position: relative;

    iframe {
        height: 510px;
        margin: auto;
        vertical-align: middle;
        width: 100%;
    }
}

#lightbulb-section {
    position: relative;
}

#lightbulb-image {
    position: absolute;
    padding-right: 30px;
    top: 5em;
}