﻿.resellers-button {
    margin: 10px;
}

.resellers-header-content {
    a {
        margin-top: 4em;
    }
}

.no-margin-bottom-for-label {
    @media (min-width: 768px) {
        margin-bottom: 0;
    }
}