﻿.signin {
    padding: 30px 0;
    position: relative;
}

.signin-close {
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 5px;
}

.signin-logo {
    margin: 50px 0;
}

.signin-password {
    font-size: 2.4em;
}

/*FIX for modal-backdrop. Current version of ui-bootstrap has missed bottom property. Should be fix in next versions.*/
.modal-backdrop {
    bottom: 0;
}