﻿.image-transition-on-hover {
    position: relative;

    img {
        cursor: pointer;
    }

    > img:first-child {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        -webkit-transition: opacity 1s ease-in-out;
        -moz-transition: opacity 1s ease-in-out;
        -o-transition: opacity 1s ease-in-out;
        transition: opacity 1s ease-in-out;

        &:hover {
            opacity: 0;
        }
    }

    &.active > img:first-child {
        opacity: 0;
    }
}

.solutions-line-height {
    line-height: 2em;
}

.solutions-slide-section {
    display: none;
}

.solutions-circle-header-text {
    padding-top: 1.5em;
}