﻿<div class="form-group summary-info">
    <div class="col-sm-3">
        <div>
            <div class="row text-center">{{'Summary.SummaryPage_LblTotalSales' | i18n}}</div>
            <h3 class="row text-center">{{ summary.totalSales | currency }}</h3>
        </div>
    </div>
    <div class="col-sm-3">
        <div>
            <div class="row text-center">{{'Summary.SummaryPage_LblTotalOrders' | i18n}}</div>
            <h3 class="row text-center">{{ summary.totalOrders }}</h3>
        </div>
    </div>
    <div class="col-sm-3">
        <div>
            <div class="row text-center">{{'Summary.SummaryPage_LblAvgOrder' | i18n}}</div>
            <h3 class="row text-center">{{ summary.avgOrder | currency }}</h3>
        </div>
    </div>

    <div class="col-sm-3">
        <div>
            <div class="row text-center">{{'Summary.SummaryPage_LblTotalCustomers' | i18n}}</div>
            <h3 class="row text-center">{{ summary.totalCustomers }}</h3>
        </div>
    </div>
</div>