﻿@import "variables";
@import "bootstrap/variables";
@import "bootstrap/mixins/vendor-prefixes";

@-webkit-keyframes stretchdelay {
    0%, 40%, 100% {
        @include scaleY(0.4);
    }

    20% {
        @include scaleY(1.0);
    }
}

@-moz-keyframes stretchdelay {
    0%, 40%, 100% {
        @include scaleY(0.4);
    }

    20% {
        @include scaleY(1.0);
    }
}

@keyframes stretchdelay {
    0%, 40%, 100% {
        @include scaleY(0.4);
    }

    20% {
        @include scaleY(1.0);
    }
}
