﻿@import "variables";
@import "bootstrap/variables";

:focus {
    outline: 0;
}

a,
a:focus,
a:hover {
    text-decoration: none;
    outline: 0;
}

.header + .container-fluid {
    padding-top: $navbar-height;
}

.form-control:focus {
    border-color: $input-border;
    -webkit-box-shadow: none;
    box-shadow: none;
}
abbr[title], abbr[data-original-title]{
    border-bottom: none;
}
