﻿@import "bootstrap/variables";

/* new variables */
$loader-background: rgba(70, 83, 91, 0.6);
$loader-spinner-width: 101px;
$loader-spinner-height: 80px;
$loader-spinner-line-width: 15px;
$loader-spinner-line-margin-right: 2px;
$loader-spinner-line-color: #46535b;
$navbar-brand-vertical-padding: 14px;
$header-logo-height: 44px;
$header-logo-width: 101px;
$navbar-toggle-vertical-align: 52px;
$navbar-toggle-font-size: 24px;
$profile-panel-toggle-padding-top: 6px;
$profile-panel-toggle-padding-right: 15px;
$header-profile-icon-size: 50px;
$header-arrow-icon-size: 20px;
$profile-panel-opacity: 0.8;
$profile-panel-ul-vertical-align: 23px;
$profile-panel-labels-color: #272727;
$profile-panel-icons-color: #707172;
$profile-panel-icon-padding-left: 20px;
$profile-panel-icon-padding-right: 5px;
$profile-panel-font-size: 16px;
$left-menu-z-index: 1000;
$left-menu-background: #46535b;
$left-menu-padding: 25px 20px 25px 20px;
$left-menu-section-label-color: #fff;
$left-menu-item-label-color: #c5dbf8;
$left-menu-item-label-color-hover: #9aaabf;
$grid-min-height: 500px;
$grid-header-background: transparent;
$grid-checkbox-color: $text-color;
$grid-even-row-background: #f9f9f9;
$grid-odd-row-background: #fff;
$grid-row-height: 60px;
$grid-cell-padding-top: 5px;
$grid-row-border-color: #ddd;
$grid-pager-bg: #c5dbf8;
$grid-row-image-size: 40px;
$grid-cell-with-image-padding: 5px;
$grid-row-height-base: 30px;
$grid-pager-height: 40px;
$btn-default-bg-hover: #dfedff;
$btn-default-border-hover: #dfedff;
$file-upload-border: 1px solid #909090;
$file-upload-height: 100px;
$file-upload-width: 100px;
$summary-info-bg: #f4f4f4;
$summary-info-value-color: #5f82c2;
$list-row-content-margin: 10px;
$list-row-content-padding-top: 10px;
$list-row-item-border-color: #dae2ea;
$list-row-item-border: 1px solid $list-row-item-border-color;
$tree-node-placeholder-bg: #f0f9ff;
$tree-node-placeholder-border: 2px dashed #bed2db;

/* override variables */
$navbar-height: 72px;
$navbar-padding-vertical: 14px;
$navbar-inverse-bg: #f4f4f4;
$navbar-inverse-border: #d5dcdf;
$navbar-inverse-toggle-hover-bg: transparent;
$navbar-padding-vertical: 0;
$border-radius-base: 0;
$border-radius-large: 0;
$border-radius-small: 0;
$input-border-radius: 0;
$input-border: #c5dbf8;
$btn-border-radius-base: 0;
$btn-border-radius-small: 0;
$btn-border-radius-large: 0;
$btn-default-color: #272727;
$btn-default-bg: #c5dbf8;
$btn-default-border: #c5dbf8;
$input-group-addon-bg: #c5dbf8;
$input-group-addon-border-color: #c5dbf8;

