﻿@using System.Threading
@using Bleu.Web.Helpers
@section styles
{
    @(Html.IsDebug() ? Styles.Render("~/styles/app") : Styles.Render("~/styles/appBuild"))
}
@section scripts
{
    @(Html.IsDebug() ? Scripts.Render("~/scripts/app") : Scripts.Render("~/scripts/appBuild"))
    @if (!Thread.CurrentThread.CurrentUICulture.Name.Equals(ClientConfig.DefaultLanguage))
    {
        <script type="text/javascript" src="@string.Format("/src/assets/libs/angular/i18n/angular-locale_{0}.js", Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant())"></script>
        <script type="text/javascript" src="@string.Format("/src/localization/customers/CustomersLocalization_{0}.js", Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant())"></script>
        <script type="text/javascript" src="@string.Format("/src/localization/discounts/DiscountsLocalization_{0}.js", Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant())"></script>
        <script type="text/javascript" src="@string.Format("/src/localization/main/MainLocalization_{0}.js", Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant())"></script>
        <script type="text/javascript" src="@string.Format("/src/localization/menuEditor/MenuEditorLocalization_{0}.js", Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant())"></script>
        <script type="text/javascript" src="@string.Format("/src/localization/reports/ReportsLocalization_{0}.js", Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant())"></script>
        <script type="text/javascript" src="@string.Format("/src/localization/profile/ProfileLocalization_{0}.js", Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant())"></script>
        <script type="text/javascript" src="@string.Format("/src/localization/stores/StoresLocalization_{0}.js", Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant())"></script>
        <script type="text/javascript" src="@string.Format("/src/localization/users/UsersLocalization_{0}.js", Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant())"></script>
        <script type="text/javascript" src="@string.Format("/src/localization/roles/RolesLocalization_{0}.js", Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant())"></script>
        <script type="text/javascript" src="@string.Format("/src/localization/taxes/TaxesLocalization_{0}.js", Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant())"></script>
        <script type="text/javascript" src="@string.Format("/src/localization/receipts/ReceiptsLocalization_{0}.js", Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant())"></script>
        <script type="text/javascript" src="@string.Format("/src/localization/summary/SummaryLocalization_{0}.js", Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant())"></script>
        <script type="text/javascript" src="@string.Format("/src/localization/devices/DevicesLocalization_{0}.js", Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant())"></script>
    }
    else
    {
        <script type="text/javascript" src="/src/localization/customers/CustomersLocalization.js"></script>
        <script type="text/javascript" src="/src/localization/discounts/DiscountsLocalization.js"></script>
        <script type="text/javascript" src="/src/localization/main/MainLocalization.js"></script>
        <script type="text/javascript" src="/src/localization/customers/CustomersLocalization.js"></script>
        <script type="text/javascript" src="/src/localization/discounts/DiscountsLocalization.js"></script>
        <script type="text/javascript" src="/src/localization/menuEditor/MenuEditorLocalization.js"></script>
        <script type="text/javascript" src="/src/localization/reports/ReportsLocalization.js"></script>
        <script type="text/javascript" src="/src/localization/profile/ProfileLocalization.js"></script>
        <script type="text/javascript" src="/src/localization/stores/StoresLocalization.js"></script>
        <script type="text/javascript" src="/src/localization/users/UsersLocalization.js"></script>
        <script type="text/javascript" src="/src/localization/roles/RolesLocalization.js"></script>
        <script type="text/javascript" src="/src/localization/taxes/TaxesLocalization.js"></script>
        <script type="text/javascript" src="/src/localization/receipts/ReceiptsLocalization.js"></script>
        <script type="text/javascript" src="/src/localization/summary/SummaryLocalization.js"></script>
        <script type="text/javascript" src="/src/localization/devices/DevicesLocalization.js"></script>
    }

}
<div class="hidden" cd-assign-to-model="@ViewBag.ClientIdentificationTokken" ng-model="clientIdentificationTokken"></div>
<div class="hidden" cd-assign-to-model="@ViewBag.ServerConnectionString" ng-model="serverConnectionString"></div>
<nav ui-view="header-view" class="header"></nav>
<div class="container-fluid">
    <div class="row">
        <div ui-view="menu-view" id="leftmenu" class="left-menu col-sm-3 col-md-2 sidebar collapse in"></div>
        <div ui-view="content-wrapper-view" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 content-wrapper"></div>
    </div>
</div>
<div class="loader" cd-loader is-loading="isLoading" is-error="isError"></div>
