﻿<div class="form-horizontal" ng-form name="addMenuItemForm" cd-validation-of-model="menuItem">
    <h1 class="text-uppercase">{{'MenuEditor.AddMenuItemPage_Title' | i18n}}</h1>
    <hr/>
    <div class="form-group">
        <div class="col-md-6">
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="name" class="control-label">{{'MenuEditor.AddMenuItemPage_LblMenuItemName' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="name" name="name" ng-model="menuItem.name" placeholder="{{'MenuEditor.AddMenuItemPage_InputPlaceholderMenuItemName' | i18n}}" required/>
                    <span class="help-block validation-message" ng-show="addMenuItemForm.name.$error.required">
                        {{'MenuEditor.AddMenuItemPage_InputMenuItemNameRequired' | i18n}}
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="upc" class="control-label">{{'MenuEditor.AddMenuItemPage_LblMenuItemUpc' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <input type="number" class="form-control" id="upc" name="upc" ng-model="menuItem.upc" placeholder="{{'MenuEditor.AddMenuItemPage_InputPlaceholderMenuItemUpc' | i18n}}"/>
                    <span class="help-block validation-message" ng-show="addMenuItemForm.upc.$error.number">
                        {{'MenuEditor.AddMenuItemPage_InputMenuItemUpcInvalid' | i18n}}
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="sku" class="control-label">{{'MenuEditor.AddMenuItemPage_LblMenuItemSku' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <input type="number" class="form-control" id="sku" name="sku" ng-model="menuItem.sku" placeholder="{{'MenuEditor.AddMenuItemPage_InputPlaceholderMenuItemSku' | i18n}}"/>
                    <span class="help-block validation-message" ng-show="addMenuItemForm.sku.$error.number">
                        {{'MenuEditor.AddMenuItemPage_InputMenuItemSkuInvalid' | i18n}}
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="price" class="control-label">{{'MenuEditor.AddMenuItemPage_LblMenuItemPrice' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="price" name="price" ng-model="menuItem.price" placeholder="{{'MenuEditor.AddMenuItemPage_InputPlaceholderMenuItemPrice' | i18n}}"
                           ng-disabled="menuItem.isOpenPrice" cd-currency-input/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="isOpenPrice" class="control-label">{{'MenuEditor.AddMenuItemPage_LblMenuItemIsOpenPrice' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="isOpenPrice" name="isOpenPrice" ng-model="menuItem.isOpenPrice" />
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="uom" class="control-label">{{'MenuEditor.AddMenuItemPage_LblMenuItemUom' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <select class="form-control" id="uom" name="uom" ng-model="menuItem.uom" ng-options="uom.id as uom.name for uom in uoms"></select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="categoryId" class="control-label">{{'MenuEditor.AddMenuItemPage_LblMenuItemCategory' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <select class="form-control" id="categoryId" name="categoryId" ng-model="menuItem.categoryId" ng-options="category.id as category.name for category in categories" required>
                        <option value="">{{'MenuEditor.AddMenuItemPage_SelectOptionSelectMenuItemCategory' | i18n}}</option>
                    </select>
                    <span class="help-block validation-message" ng-show="addMenuItemForm.categoryId.$error.required">
                        {{'MenuEditor.AddMenuItemPage_SelectMenuItemCategoryRequired' | i18n}}
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="isActive" class="control-label">{{'MenuEditor.AddMenuItemPage_LblMenuItemIsActive' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="isActive" name="isActive" ng-model="menuItem.isActive" />
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="isFoodStamp" class="control-label">{{'MenuEditor.AddMenuItemPage_LblMenuItemIsFoodStamp' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="isFoodStamp" name="isFoodStamp" ng-model="menuItem.isFoodStamp" />
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="taxes" class="control-label">{{'MenuEditor.AddMenuItemPage_LblMenuItemTaxes' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <tags-input type="text" id="taxes" name="taxes" ng-model="menuItem.taxes" placeholder="{{'MenuEditor.AddMenuItemPage_InputPlaceholderMenuItemTaxes' | i18n}}" display-property="name" min-tags="1">
                        <auto-complete source="getTaxes($query)" display-property="name"></auto-complete>
                    </tags-input>
                    <span class="help-block validation-message" ng-show="addMenuItemForm.taxes.$error.minTags">
                        {{'MenuEditor.AddMenuItemPage_InputMenuItemTaxesRequired' | i18n}}
                    </span>
                    <span class="help-block validation-message" ng-show="addMenuItemForm.taxes.$error.leftoverText">
                        {{'MenuEditor.AddMenuItemPage_InputMenuItemTaxesInvalid' | i18n}}
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <div class="col-sm-5">
                    <label class="control-label">{{'MenuEditor.AddMenuItemPage_LblMenuItemPicture' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <div cd-file-upload="menuItemImageUploader" class="file-upload"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="description" class="control-label">{{'MenuEditor.AddMenuItemPage_LblMenuItemDescription' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <textarea class="form-control" id="description" name="description" ng-model="menuItem.description" placeholder="{{'MenuEditor.AddMenuItemPage_InputPlaceholderMenuItemDescription' | i18n}}"></textarea>
                </div>
            </div>
        </div>
    </div>
    <hr/>
</div>
<div class="form-horizontal" ng-form name="relatedModifierForm" cd-validation-of-model="relatedModifier">
    <div class="form-group">
        <div class="col-md-6">
            <h4>{{'MenuEditor.AddMenuItemPage_TitleRelatedModifiers' | i18n}}</h4>
            <div cd-related-modifiers-tree="menuItem.relatedModifiers"></div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <div class="col-xs-12">
                    <div class="form-inline">
                        <button class="btn btn-default" title="{{'MenuEditor.AddMenuItemPage_BtnTooltipAddRelatedModifier' | i18n}}" ng-click="addRelatedModifier(relatedModifierForm)">
                            <span class="icon-plus"></span>
                            <span>{{'MenuEditor.AddMenuItemPage_BtnTextAddRelatedModifier' | i18n}}</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <label class="control-label">{{'MenuEditor.AddMenuItemPage_LblRelatedModifierImage' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <div cd-file-upload="relatedModifierImageUploader" class="file-upload"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="relatedModifierName" class="control-label">{{'MenuEditor.AddMenuItemPage_LblRelatedModifierName' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="relatedModifierName" name="relatedModifierName" ng-model="relatedModifier.name" placeholder="{{'MenuEditor.AddMenuItemPage_InputPlaceholderRelatedModifierName' | i18n}}" required />
                    <span class="help-block validation-message" ng-show="relatedModifierForm.relatedModifierName.$error.required">
                        {{'MenuEditor.AddMenuItemPage_InputRelatedModifierNameRequired' | i18n}}
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="relatedModifierPrice" class="control-label">{{'MenuEditor.AddMenuItemPage_LblRelatedModifierPrice' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="relatedModifierPrice" name="relatedModifierPrice" ng-model="relatedModifier.price" placeholder="{{'MenuEditor.AddMenuItemPage_InputPlaceholderRelatedModifierPrice' | i18n}}" cd-currency-input />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="relatedModifierDescription" class="control-label">{{'MenuEditor.AddMenuItemPage_LblRelatedModifierDescription' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <textarea class="form-control" id="relatedModifierDescription" name="relatedModifierDescription" ng-model="relatedModifier.description" placeholder="{{'MenuEditor.AddMenuItemPage_InputPlaceholderRelatedModifierDescription' | i18n}}"></textarea>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="form-group">
        <div class="col-xs-12 text-center">
            <button class="btn btn-default" title="{{'MenuEditor.AddMenuItemPage_BtnTooltipSaveMenuItem' | i18n}}" ng-click="saveMenuItem()">
                <span class="icon-checkmark"></span>
                <span>{{'MenuEditor.AddMenuItemPage_BtnTextSaveMenuItem' | i18n}}</span>
            </button>
            <button class="btn btn-default" title="{{'MenuEditor.AddMenuItemPage_BtnTooltipCancel' | i18n}}" ng-click="cancel()">
                <span class="icon-cross"></span>
                <span>{{'MenuEditor.AddMenuItemPage_BtnTextCancel' | i18n}}</span>
            </button>
        </div>
    </div>
</div>