﻿<div class="form-horizontal" ng-form name="commonModifiersGroupForm" cd-validation-of-model="commonModifiersGroup">
    <h1 class="text-uppercase">{{'MenuEditor.CommonModifiersGroupPage_Title' | i18n}} > {{commonModifiersGroup.name}}</h1>
    <hr />
    <div class="form-group">
        <div class="col-md-6">
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="name" class="control-label">{{'MenuEditor.CommonModifiersGroupPage_LblCommonModifiersGroupName' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="name" name="name" ng-model="commonModifiersGroup.name" placeholder="{{'MenuEditor.CommonModifiersGroupPage_InputPlaceholderCommonModifiersGroupName' | i18n}}" required />
                    <span class="help-block validation-message" ng-show="commonModifiersGroupForm.name.$error.required">
                        {{'MenuEditor.CommonModifiersGroupPage_InputCommonModifiersGroupNameRequired' | i18n}}
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="isActive" class="control-label">{{'MenuEditor.CommonModifiersGroupPage_LblCommonModifiersGroupIsActive' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="isActive" name="isActive" ng-model="commonModifiersGroup.isActive" />
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="sorting" class="control-label">{{'MenuEditor.CommonModifiersGroupPage_LblCommonModifiersGroupMenuItemsSorting' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <select class="form-control" id="sorting" name="sorting" ng-model="commonModifiersGroup.sorting" ng-options="x.id as x.name for x in menuItemsSortings"></select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="isActive" class="control-label">{{'MenuEditor.CommonModifiersGroupPage_LblCommonModifiersGroupStores' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <tags-input type="text" id="stores" name="stores" ng-model="commonModifiersGroup.stores" placeholder="{{'MenuEditor.CommonModifiersGroupPage_InputPlaceholderCommonModifiersGroupStores' | i18n}}" display-property="name" min-tags="1">
                        <auto-complete source="getStores($query)" display-property="name"></auto-complete>
                    </tags-input>
                    <span class="help-block validation-message" ng-show="commonModifiersGroupForm.stores.$error.minTags">
                        {{'MenuEditor.CommonModifiersGroupPage_InputCommonModifiersGroupStoresRequired' | i18n}}
                    </span>
                    <span class="help-block validation-message" ng-show="commonModifiersGroupForm.stores.$error.leftoverText">
                        {{'MenuEditor.CommonModifiersGroupPage_InputCommonModifiersGroupStoresInvalid' | i18n}}
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <div class="col-xs-12">
                    <label class="control-label">{{'MenuEditor.CommonModifiersGroupPage_LblCommonModifiersGroupPicture' | i18n}}</label>
                </div>
                <div class="col-xs-12">
                    <div cd-file-upload="fileUpload" class="file-upload"></div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="form-group">
        <div class="col-lg-6 col-md-9">
            <div cd-common-modifiers-groups-categories cd-menu-items-categories="menuItemsCategories" cd-common-modifiers-group="commonModifiersGroup" cd-on-category-open="onCategoryOpen" cd-on-category-close="onCategoryClose"></div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12 text-center">
            <button class="btn btn-default" title="{{'MenuEditor.CommonModifiersGroupPage_BtnTooltipUpdateCommonModifiersGroup' | i18n}}" ng-click="updateCommonModifiersGroup()">
                <span class="icon-checkmark"></span>
                <span>{{'MenuEditor.CommonModifiersGroupPage_BtnTextUpdateCommonModifiersGroup' | i18n}}</span>
            </button>
            <button class="btn btn-default" title="{{'MenuEditor.CommonModifiersGroupPage_BtnTooltipCancel' | i18n}}" ng-click="cancel()">
                <span class="icon-cross"></span>
                <span>{{'MenuEditor.CommonModifiersGroupPage_BtnTextCancel' | i18n}}</span>
            </button>
        </div>
    </div>
</div>