﻿<div class="form-horizontal" ng-form name="commonModifierForm" cd-validation-of-model="commonModifier">
    <h1 class="text-uppercase">{{'MenuEditor.CommonModifierPage_Title' | i18n}} > {{commonModifier.name}}</h1>
    <hr />
    <div class="form-group">
        <div class="col-md-6">
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="name" class="control-label">{{'MenuEditor.CommonModifierPage_LblCommonModifierName' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="name" name="name" ng-model="commonModifier.name" placeholder="{{'MenuEditor.CommonModifierPage_InputPlaceholderCommonModifierName' | i18n}}" required />
                    <span class="help-block validation-message" ng-show="commonModifierForm.name.$error.required">
                        {{'MenuEditor.CommonModifierPage_InputCommonModifierNameRequired' | i18n}}
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="price" class="control-label">{{'MenuEditor.CommonModifierPage_LblCommonModifierPrice' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="price" name="price" ng-model="commonModifier.price" placeholder="{{'MenuEditor.CommonModifierPage_InputPlaceholderCommonModifierPrice' | i18n}}"
                           ng-disabled="commonModifier.isOpenPrice" cd-currency-input/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="isOpenPrice" class="control-label">{{'MenuEditor.CommonModifierPage_LblCommonModifierIsOpenPrice' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="isOpenPrice" name="isOpenPrice" ng-model="commonModifier.isOpenPrice" />
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="uom" class="control-label">{{'MenuEditor.CommonModifierPage_LblCommonModifierUom' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <select class="form-control" id="uom" name="uom" ng-model="commonModifier.uom" ng-options="uom.id as uom.name for uom in uoms"></select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="groupId" class="control-label">{{'MenuEditor.CommonModifierPage_LblCommonModifierGroup' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <select class="form-control" id="groupId" name="groupId" ng-model="commonModifier.groupId" ng-options="group.id as group.name for group in commonModifiersGroups" required>
                        <option value="">{{'MenuEditor.CommonModifierPage_SelectOptionSelectCommonModifierGroup' | i18n}}</option>
                    </select>
                    <span class="help-block validation-message" ng-show="commonModifierForm.groupId.$error.required">
                        {{'MenuEditor.CommonModifierPage_SelectCommonModifierGroupRequired' | i18n}}
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="isActive" class="control-label">{{'MenuEditor.CommonModifierPage_LblCommonModifierIsActive' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="isActive" name="isActive" ng-model="commonModifier.isActive" />
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="firstFreeQuantity" class="control-label">{{'MenuEditor.CommonModifierPage_LblCommonModifierFirstFreeQuantity' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="firstFreeQuantity" name="firstFreeQuantity" ng-model="commonModifier.firstFreeQuantity" placeholder="{{'MenuEditor.CommonModifierPage_InputPlaceholderCommonModifierFirstFreeQuantity' | i18n}}" />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <div class="col-xs-12">
                    <label class="control-label">{{'MenuEditor.CommonModifierPage_LblCommonModifierPicture' | i18n}}</label>
                </div>
                <div class="col-xs-12">
                    <div cd-file-upload="fileUpload" class="file-upload"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    <textarea class="form-control" id="description" name="description" ng-model="commonModifier.description" placeholder="{{'MenuEditor.CommonModifierPage_InputPlaceholderCommonModifierDescription' | i18n}}"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="maxQty" class="control-label">{{'MenuEditor.CommonModifierPage_LblCommonModifierMaxQty' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="maxQty" name="maxQty" ng-model="commonModifier.maxQty" placeholder="{{'MenuEditor.CommonModifierPage_InputPlaceholderCommonModifierMaxQty' | i18n}}" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="minQty" class="control-label">{{'MenuEditor.CommonModifierPage_LblCommonModifierMinQty' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="minQty" name="minQty" ng-model="commonModifier.minQty" placeholder="{{'MenuEditor.CommonModifierPage_InputPlaceholderCommonModifierMinQty' | i18n}}" />
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12 text-center">
            <button class="btn btn-default" title="{{'MenuEditor.CommonModifierPage_BtnTooltipUpdateCommonModifier' | i18n}}" ng-click="updateCommonModifier()">
                <span class="icon-checkmark"></span>
                <span>{{'MenuEditor.CommonModifierPage_BtnTextUpdateCommonModifier' | i18n}}</span>
            </button>
            <button class="btn btn-default" title="{{'MenuEditor.CommonModifierPage_BtnTooltipCancel' | i18n}}" ng-click="cancel()">
                <span class="icon-cross"></span>
                <span>{{'MenuEditor.CommonModifierPage_BtnTextCancel' | i18n}}</span>
            </button>
        </div>
    </div>
</div>