﻿<div class="form-horizontal">
    <h1 class="text-uppercase">{{'MenuEditor.CommonModifiersListPage_Title' | i18n}}</h1>
    <hr />
    <div class="form-group">
        <div class="col-xs-12">
            <div class="form-inline">
                <select class="form-control" ng-model="viewModel.groupFilter" ng-options="group.id as group.name for group in groups" ng-change="filterChange()">
                    <option value="">{{'MenuEditor.CommonModifiersListPage_SelectOptionAllCommonModifiersGroups' | i18n}}</option>
                </select>
                <button class="btn btn-default" title="{{'MenuEditor.CommonModifiersListPage_BtnTooltipAddCommonModifier' | i18n}}" ng-click="addCommonModifier()">
                    <span class="icon-plus"></span>
                    <span>{{'MenuEditor.CommonModifiersListPage_BtnTextAddCommonModifier' | i18n}}</span>
                </button>
                <button class="btn btn-default" title="{{'MenuEditor.CommonModifiersListPage_BtnTooltipDuplicateCommonModifier' | i18n}}" ng-click="duplicateCommonModifier()" ng-disabled="!viewModel.canDuplicate">
                    <span class="icon-docs"></span>
                    <span>{{'MenuEditor.CommonModifiersListPage_BtnTextDuplicateCommonModifier' | i18n}}</span>
                </button>
                <button class="btn btn-default" title="{{'MenuEditor.CommonModifiersListPage_BtnTooltipDeleteCommonModifier' | i18n}}" ng-click="removeCommonModifiers()" ng-disabled="!viewModel.canDelete">
                    <span class="icon-trash"></span>
                    <span>{{'MenuEditor.CommonModifiersListPage_BtnTextDeleteCommonModifier' | i18n}}</span>
                </button>
                <label class="search-wrapper input-group" for="textFilter">
                    <input class="form-control" id="textFilter" type="text" ng-model="viewModel.textFilter" ng-model-options="{ debounce: 1000 }" ng-change="filterChange()" placeholder="{{'MenuEditor.CommonModifiersListPage_InputPlaceholderSearchCommonModifier' | i18n}}">
                </label>
                <button class="btn btn-default" title="{{'MenuEditor.CommonModifiersListPage_BtnTooltipEditPositions' | i18n}}" ng-click="editPositions()" ng-disabled="!viewModel.canEditPositions">
                    <span class="icon-menu"></span>
                    <span>{{'MenuEditor.CommonModifiersListPage_BtnTextEditPositions' | i18n}}</span>
                </button>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12">
            <div class="grid" ui-grid="gridOptions" ui-grid-pagination ui-grid-selection ui-grid-resize-columns></div>
        </div>
    </div>
</div>