﻿<div class="form-horizontal">
    <h1 class="text-uppercase">{{'MenuEditor.CommonModifiersGroupsListPage_Title' | i18n}}</h1>
    <hr />
    <div class="form-group">
        <div class="col-xs-12">
            <div class="form-inline">
                <button class="btn btn-default" title="{{'MenuEditor.CommonModifiersGroupsListPage_BtnTooltipAddCommonModifiersGroup' | i18n}}" ng-click="addCommonModifiersGroup()">
                    <span class="icon-plus"></span>
                    <span>{{'MenuEditor.CommonModifiersGroupsListPage_BtnTextAddCommonModifiersGroup' | i18n}}</span>
                </button>
                <button class="btn btn-default" title="{{'MenuEditor.CommonModifiersGroupsListPage_BtnTooltipDeleteCommonModifiersGroup' | i18n}}" ng-click="removeCommonModifiersGroups()" ng-disabled="!viewModel.canDelete">
                    <span class="icon-trash"></span>
                    <span>{{'MenuEditor.CommonModifiersGroupsListPage_BtnTextDeleteCommonModifiersGroup' | i18n}}</span>
                </button>
                <label class="search-wrapper input-group" for="textFilter">
                    <input class="form-control" id="textFilter" type="text" ng-model="viewModel.textFilter" ng-change="filterChange()" placeholder="{{'MenuEditor.CommonModifiersGroupsListPage_InputPlaceholderSearchCommonModifiersGroup' | i18n}}">
                </label>
                <button class="btn btn-default" title="{{'MenuEditor.CommonModifiersGroupsListPage_BtnTooltipEditPositions' | i18n}}" ng-click="editPositions()" ng-disabled="!viewModel.canEditPositions">
                    <span class="icon-menu"></span>
                    <span>{{'MenuEditor.CommonModifiersGroupsListPage_BtnTextEditPositions' | i18n}}</span>
                </button>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12">
            <div class="grid" ui-grid="gridOptions" ui-grid-selection></div>
        </div>
    </div>
</div>