﻿<div class="form-horizontal">
    <h1 class="text-uppercase">{{'MenuEditor.EditMenuItemsPositionsPage_Title' | i18n}}</h1>
    <hr />
    <div class="form-group">
        <div class="col-xs-12">
            <div class="form-inline">
                <select class="form-control" ng-model="viewModel.categoryId" ng-options="category.id as category.name for category in categories" ng-change="changeCategory()"></select>
                <button class="btn btn-default" title="{{'MenuEditor.EditMenuItemsPositionsPage_BtnTooltipSavePositions' | i18n}}" ng-click="savePositions()" ng-disabled="!viewModel.canSave">
                    <span class="icon-checkmark"></span>
                    <span>{{'MenuEditor.EditMenuItemsPositionsPage_BtnTextSavePositions' | i18n}}</span>
                </button>
                <button class="btn btn-default" title="{{'MenuEditor.EditMenuItemsPositionsPage_BtnTooltipResetPositions' | i18n}}" ng-click="reset()" ng-disabled="!viewModel.canReset">
                    <span class="icon-trash"></span>
                    <span>{{'MenuEditor.EditMenuItemsPositionsPage_BtnTextResetPositions' | i18n}}</span>
                </button>
                <button class="btn btn-default" title="{{'MenuEditor.EditMenuItemsPositionsPage_BtnTooltipCancel' | i18n}}" ng-click="cancel()">
                    <span class="icon-cross"></span>
                    <span>{{'MenuEditor.EditMenuItemsPositionsPage_BtnTextCancel' | i18n}}</span>
                </button>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12">
            <div class="ui-sortable" data-cd-sortable="sortable" data-cd-sortable-template="'src/app/menuEditor/views/sortable/MenuItemTemplate.html'"></div>
        </div>
    </div>
</div>