﻿<div class="form-horizontal" ng-form name="menuItemsCategoryForm" cd-validation-of-model="menuItemsCategory">
    <h1 class="text-uppercase">{{'MenuEditor.MenuItemsCategoryPage_Title' | i18n}} > {{menuItemsCategory.name}}</h1>
    <hr />
    <div class="form-group">
        <div class="col-md-6">
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="name" class="control-label">{{'MenuEditor.AddMenuItemsCategoryPage_LblMenuItemsCategoryName' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="name" name="name" ng-model="menuItemsCategory.name" placeholder="{{'MenuEditor.MenuItemsCategoryPage_InputPlaceholderMenuItemsCategoryName' | i18n}}" required />
                    <span class="help-block validation-message" ng-show="menuItemsCategoryForm.name.$error.required">
                        {{'MenuEditor.MenuItemsCategoryPage_InputMenuItemsCategoryNameRequired' | i18n}}
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="isActive" class="control-label">{{'MenuEditor.MenuItemsCategoryPage_LblMenuItemsCategoryIsActive' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="isActive" name="isActive" ng-model="menuItemsCategory.isActive" />
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="sorting" class="control-label">{{'MenuEditor.MenuItemsCategoryPage_LblMenuItemsCategoryMenuItemsSorting' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <select class="form-control" id="sorting" name="sorting" ng-model="menuItemsCategory.sorting" ng-options="x.id as x.name for x in menuItemsSortings"></select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="isActive" class="control-label">{{'MenuEditor.MenuItemsCategoryPage_LblMenuItemsCategoryStores' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <tags-input type="text" id="stores" name="stores" ng-model="menuItemsCategory.stores" placeholder="{{'MenuEditor.MenuItemsCategoryPage_InputPlaceholderMenuItemsCategoryStores' | i18n}}" display-property="name" min-tags="1">
                        <auto-complete source="getStores($query)" display-property="name"></auto-complete>
                    </tags-input>
                    <span class="help-block validation-message" ng-show="menuItemsCategoryForm.stores.$error.minTags">
                        {{'MenuEditor.MenuItemsCategoryPage_InputMenuItemsCategoryStoresRequired' | i18n}}
                    </span>
                    <span class="help-block validation-message" ng-show="menuItemsCategoryForm.stores.$error.leftoverText">
                        {{'MenuEditor.MenuItemsCategoryPage_InputMenuItemsCategoryStoresInvalid' | i18n}}
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <div class="col-xs-12">
                    <label class="control-label">{{'MenuEditor.MenuItemsCategoryPage_LblMenuItemsCategoryPicture' | i18n}}</label>
                </div>
                <div class="col-xs-12">
                    <div cd-file-upload="fileUpload" class="file-upload"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12 text-center">
            <button class="btn btn-default" title="{{'MenuEditor.MenuItemsCategoryPage_BtnTooltipUpdateMenuItemsCategory' | i18n}}" ng-click="updateMenuItemsCategory()">
                <span class="icon-checkmark"></span>
                <span>{{'MenuEditor.MenuItemsCategoryPage_BtnTextUpdateMenuItemsCategory' | i18n}}</span>
            </button>
            <button class="btn btn-default" title="{{'MenuEditor.MenuItemsCategoryPage_BtnTooltipCancel' | i18n}}" ng-click="cancel()">
                <span class="icon-cross"></span>
                <span>{{'MenuEditor.MenuItemsCategoryPage_BtnTextCancel' | i18n}}</span>
            </button>
        </div>
    </div>
</div>