﻿<div class="form-horizontal">
    <h1 class="text-uppercase">{{'MenuEditor.MenuItemsCategoriesListPage_Title' | i18n}}</h1>
    <hr />
    <div class="form-group">
        <div class="col-xs-12">
            <div class="form-inline">
                <button class="btn btn-default" title="{{'MenuEditor.MenuItemsCategoriesListPage_BtnTooltipAddMenuItemsCategory' | i18n}}" ng-click="addMenuItemsCategory()">
                    <span class="icon-plus"></span>
                    <span>{{'MenuEditor.MenuItemsCategoriesListPage_BtnTextAddMenuItemsCategory' | i18n}}</span>
                </button>
                <button class="btn btn-default" title="{{'MenuEditor.MenuItemsCategoriesListPage_BtnTooltipDeleteMenuItemsCategory' | i18n}}" ng-click="removeMenuItemsCategories()" ng-disabled="!viewModel.canDelete">
                    <span class="icon-trash"></span>
                    <span>{{'MenuEditor.MenuItemsCategoriesListPage_BtnTextDeleteMenuItemsCategory' | i18n}}</span>
                </button>
                <label class="search-wrapper input-group" for="textFilter">
                    <input class="form-control" id="textFilter" type="text" ng-model="viewModel.textFilter" ng-change="filterChange()" placeholder="{{'MenuEditor.MenuItemsCategoriesListPage_InputPlaceholderSearchMenuItemsCategory' | i18n}}">
                </label>
                <button class="btn btn-default" title="{{'MenuEditor.MenuItemsCategoriesListPage_BtnTooltipEditPositions' | i18n}}" ng-click="editPositions()" ng-disabled="!viewModel.canEditPositions">
                    <span class="icon-menu"></span>
                    <span>{{'MenuEditor.MenuItemsCategoriesListPage_BtnTextEditPositions' | i18n}}</span>
                </button>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12">
            <div class="grid" ui-grid="gridOptions" ui-grid-selection></div>
        </div>
    </div>
</div>