﻿<div class="form-horizontal">
    <h1 class="text-uppercase">{{'MenuEditor.MenuItemsListPage_Title' | i18n}}</h1>
    <hr/>
    <div class="form-group">
        <div class="col-xs-12">
            <div class="form-inline">
                <select class="form-control" ng-model="viewModel.categoryFilter" ng-options="category.id as category.name for category in categories" ng-change="filterChange()">
                    <option value="">{{'MenuEditor.MenuItemsListPage_SelectOptionAllMenuItemsCategories' | i18n}}</option>
                </select>
                <button class="btn btn-default" title="{{'MenuEditor.MenuItemsListPage_BtnTooltipAddMenuItem' | i18n}}" ng-click="addMenuItem()">
                    <span class="icon-plus"></span>
                    <span>{{'MenuEditor.MenuItemsListPage_BtnTextAddMenuItem' | i18n}}</span>
                </button>
                <button class="btn btn-default" title="{{'MenuEditor.MenuItemsListPage_BtnTooltipDuplicateMenuItem' | i18n}}" ng-click="duplicateMenuItem()" ng-disabled="!viewModel.canDuplicate">
                    <span class="icon-docs"></span>
                    <span>{{'MenuEditor.MenuItemsListPage_BtnTextDuplicateMenuItem' | i18n}}</span>
                </button>
                <button class="btn btn-default" title="{{'MenuEditor.MenuItemsListPage_BtnTooltipDeleteMenuItem' | i18n}}" ng-click="removeMenuItems()" ng-disabled="!viewModel.canDelete">
                    <span class="icon-trash"></span>
                    <span>{{'MenuEditor.MenuItemsListPage_BtnTextDeleteMenuItem' | i18n}}</span>
                </button>
                <label class="search-wrapper input-group" for="textFilter">
                    <input class="form-control" id="textFilter" type="text" ng-model="viewModel.textFilter" ng-model-options="{ debounce: 1000 }" ng-change="filterChange()" placeholder="{{'MenuEditor.MenuItemsListPage_InputPlaceholderSearchMenuItem' | i18n}}">
                </label>
                <button class="btn btn-default" title="{{'MenuEditor.MenuItemsListPage_BtnTooltipEditPositions' | i18n}}" ng-click="editPositions()" ng-disabled="!viewModel.canEditPositions">
                    <span class="icon-menu"></span>
                    <span>{{'MenuEditor.MenuItemsListPage_BtnTextEditPositions' | i18n}}</span>
                </button>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12">
            <div class="grid" ui-grid="gridOptions" ui-grid-pagination ui-grid-selection ui-grid-resize-columns></div>
        </div>
    </div>
</div>