﻿<div class="modal-header">
    <h1 class="modal-title">
        {{'MenuEditor.AddRelatedModifierToMenuItemDlg_Title' | i18n}}
        <span class="icon-cross pull-right" ng-click="cancel()" title="{{'MenuEditor.AddRelatedModifierToMenuItemDlg_BtnTooltipClose' | i18n}}"></span>
    </h1>
</div>
<div class="modal-body">
    <div class="form-horizontal" ng-form name="relatedModifierForm" cd-validation-of-model="relatedModifier">
        <div class="form-group">
            <div class="col-sm-5">
                <label class="control-label">{{'MenuEditor.AddRelatedModifierToMenuItemDlg_LblRelatedModifierImage' | i18n}}</label>
            </div>
            <div class="col-sm-7">
                <div cd-file-upload="relatedModifierImageUploader" class="file-upload"></div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-5">
                <label for="name" class="control-label">{{'MenuEditor.AddRelatedModifierToMenuItemDlg_LblRelatedModifierName' | i18n}}</label>
            </div>
            <div class="col-sm-7">
                <input type="text" class="form-control" id="name" name="name" ng-model="relatedModifier.name" placeholder="{{'MenuEditor.AddRelatedModifierToMenuItemDlg_InputPlaceholderRelatedModifierName' | i18n}}" required />
                <span class="help-block validation-message" ng-show="relatedModifierForm.name.$error.required">
                    {{'MenuEditor.AddRelatedModifierToMenuItemDlg_InputRelatedModifierNameRequired' | i18n}}
                </span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-5">
                <label for="price" class="control-label">{{'MenuEditor.AddRelatedModifierToMenuItemDlg_LblRelatedModifierPrice' | i18n}}</label>
            </div>
            <div class="col-sm-7">
                <input type="text" class="form-control" id="price" name="price" ng-model="relatedModifier.price" placeholder="{{'MenuEditor.AddRelatedModifierToMenuItemDlg_InputPlaceholderRelatedModifierPrice' | i18n}}" cd-currency-input />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-5">
                <label for="description" class="control-label">{{'MenuEditor.AddRelatedModifierToMenuItemDlg_LblRelatedModifierDescription' | i18n}}</label>
            </div>
            <div class="col-sm-7">
                <textarea class="form-control" id="description" name="description" ng-model="relatedModifier.description" placeholder="{{'MenuEditor.AddRelatedModifierToMenuItemDlg_InputPlaceholderRelatedModifierDescription' | i18n}}"></textarea>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="ok()" title="{{'MenuEditor.AddRelatedModifierToMenuItemDlg_BtnTooltipOk' | i18n}}">
        <span class="icon-checkmark"></span>
        {{'MenuEditor.AddRelatedModifierToMenuItemDlg_BtnTextOk' | i18n}}
    </button>
    <button class="btn btn-default" ng-click="cancel()" title="{{'MenuEditor.AddRelatedModifierToMenuItemDlg_BtnTooltipCancel' | i18n}}">
        <span class="icon-cross"></span>
        {{'MenuEditor.AddRelatedModifierToMenuItemDlg_BtnTextCancel' | i18n}}
    </button>
</div>