﻿<div class="form-horizontal" ng-form name="addStoreForm" cd-validation-of-model="store">
    <h1 class="text-uppercase">{{'Stores.AddStorePage_Title' | i18n}}</h1>
    <hr />
    <div class="form-group">
        <div class="col-md-6">
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="name" class="control-label">{{'Stores.AddStorePage_LblName' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="name" name="name" ng-model="store.name" placeholder="{{'Stores.AddStorePage_InputPlaceholderName' | i18n}}" required cd-server-validation-input="['exists']" />
                    <span class="help-block validation-message" ng-show="addStoreForm.name.$error.required">
                        {{'Stores.AddStorePage_InputNameRequired' | i18n}}
                    </span>
                    <span class="help-block validation-message" ng-show="addStoreForm.name.$error.exists">
                        {{'Stores.AddStorePage_InputNameAlreadyExists' | i18n : store.name}}
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="phoneNumber" class="control-label">{{'Stores.AddStorePage_LblPhoneNumber' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <input type="tel" class="form-control" id="phoneNumber" name="phoneNumber" ng-model="store.phoneNumber" placeholder="{{'Stores.AddStorePage_InputPlaceholderPhoneNumber' | i18n}}" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="email" class="control-label">{{'Stores.AddStorePage_LblEmail' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <input type="email" class="form-control" id="email" name="email" ng-model="store.email" placeholder="{{'Stores.AddStorePage_InputPlaceholderEmail' | i18n}}" />
                    <span class="help-block validation-message" ng-show="addStoreForm.email.$error.email">
                        {{'Stores.AddStorePage_InputEmailInvalid' | i18n}}
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-5">
                    <label for="country" class="control-label">{{'Stores.AddStorePage_LblCountry' | i18n}}</label>
                </label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="country" name="country" ng-model="store.country" placeholder="{{'Stores.AddStorePage_InputPlaceholderCountry' | i18n}}" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-5">
                    <label for="state" class="control-label">{{'Stores.AddStorePage_LblState' | i18n}}</label>
                </label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="state" name="state" ng-model="store.state" placeholder="{{'Stores.AddStorePage_InputPlaceholderState' | i18n}}" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="city" class="control-label">{{'Stores.AddStorePage_LblCity' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="city" name="city" ng-model="store.city" placeholder="{{'Stores.AddStorePage_InputPlaceholderCity' | i18n}}" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="address" class="control-label">{{'Stores.AddStorePage_LblAddress' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="address" name="address" ng-model="store.address" placeholder="{{'Stores.AddStorePage_InputPlaceholderAddress' | i18n}}" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="zip" class="control-label">{{'Stores.AddStorePage_LblZip' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="zip" name="zip" ng-model="store.zip" placeholder="{{'Stores.AddStorePage_InputPlaceholderZip' | i18n}}" />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="isActive" class="control-label">{{'Stores.AddStorePage_LblIsActive' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="isActive" name="isActive" ng-model="store.isActive" />
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="description" class="control-label">{{'Stores.AddStorePage_LblDescription' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <textarea class="form-control" id="description" name="description" ng-model="store.description" placeholder="{{'Stores.AddStorePage_InputPlaceholderDescription' | i18n}}"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="openingTimeStr" class="control-label">{{'Stores.AddStorePage_LblOpeningTime' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <button id="openingTimeStr" class="btn btn-block" title="{{'Stores.AddStorePage_BtnTooltipOpeningTime' | i18n}}" ng-click="showOpeningTime()">
                        <span>{{openingTimeString}}</span>
                    </button>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="businessType" class="control-label">{{'Stores.AddStorePage_LblBusinessType' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <select class="form-control" id="businessType" name="businessType" ng-model="store.businessType" ng-options="businessType.id as businessType.name for businessType in localizedBusinessTypes"></select>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12 text-center">
            <button class="btn btn-default" title="{{'Stores.AddStorePage_BtnTooltipSave' | i18n}}" ng-click="saveStore()">
                <span class="icon-checkmark"></span>
                <span>{{'Stores.AddStorePage_BtnTextSave' | i18n}}</span>
            </button>
            <button class="btn btn-default" title="{{'Stores.AddStorePage_BtnTooltipCancel' | i18n}}" ng-click="cancel()">
                <span class="icon-cross"></span>
                <span>{{'Stores.AddStorePage_BtnTextCancel' | i18n}}</span>
            </button>
        </div>
    </div>
</div>