﻿<div class="modal-header">
    <h1 class="modal-title">
        {{'Stores.OpeningTimeDialogPage_Title' | i18n}}
        <span class="icon-cross pull-right" ng-click="cancel()" title="{{'Stores.OpeningTimeDialogPage_BtnTooltipClose' | i18n}}"></span>
    </h1>
</div>
<div class="modal-body">
    <div class="form-horizontal" ng-form name="openingTimeForm" cd-validation-of-model="openingTime">
        <div class="form-group">
            <div class="col-sm-5">
                <div class="col-sm-2">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="mondayIsAvailable" name="mondayIsAvailable" ng-model="openingTime.mondayIsAvailable" />
                        </label>
                    </div>
                </div>
                <div class="col-sm-10">
                    <label for="mondayIsAvailable" class="control-label">{{'Stores.OpeningTimeDialogPage_LblMonday' | i18n}}</label>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="col-sm-2">
                    <label for="mondayTimeBegin" class="control-label">{{'Stores.OpeningTimeDialogPage_LblStart' | i18n}}</label>
                </div>
                <div class="col-sm-4">
                    <input type="text" id="mondayTimeBegin" name="mondayTimeBegin" cd-popup-timepicker ng-model="openingTime.mondayTimeBegin" placeholder="{{'Stores.OpeningTimeDialogPage_InputPlaceholderStart' | i18n}}" />
                    <span class="help-block validation-message" ng-show="summaryFilterForm.startDate.$error">{{'Summary.SummaryPage_InputStartDateInvalid' | i18n}}</span>
                </div>
                <div class="col-sm-2">
                    <label for="mondayTimeEnd" class="control-label">{{'Stores.OpeningTimeDialogPage_LblEnd' | i18n}}</label>
                </div>
                <div class="col-sm-4">
                    <input type="text" cd-popup-timepicker id="mondayTimeEnd" name="mondayTimeEnd" ng-model="openingTime.mondayTimeEnd" placeholder="{{'Stores.OpeningTimeDialogPage_InputPlaceholderEnd' | i18n}}" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-5">
                <div class="col-sm-2">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="tuesdayIsAvailable" name="tuesdayIsAvailable" ng-model="openingTime.tuesdayIsAvailable" />
                        </label>
                    </div>
                </div>
                <div class="col-sm-10">
                    <label for="tuesdayIsAvailable" class="control-label">{{'Stores.OpeningTimeDialogPage_LblTuesday' | i18n}}</label>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="col-sm-2">
                    <label for="tuesdayTimeBegin" class="control-label">{{'Stores.OpeningTimeDialogPage_LblStart' | i18n}}</label>
                </div>
                <div class="col-sm-4">
                    <input type="text" cd-popup-timepicker id="tuesdayTimeBegin" name="tuesdayTimeBegin" ng-model="openingTime.tuesdayTimeBegin" placeholder="{{'Stores.OpeningTimeDialogPage_InputPlaceholderStart' | i18n}}" />
                </div>
                <div class="col-sm-2">
                    <label for="tuesdayTimeEnd" class="control-label">{{'Stores.OpeningTimeDialogPage_LblEnd' | i18n}}</label>
                </div>
                <div class="col-sm-4">
                    <input type="text" cd-popup-timepicker id="tuesdayTimeEnd" name="tuesdayTimeEnd" ng-model="openingTime.tuesdayTimeEnd" placeholder="{{'Stores.OpeningTimeDialogPage_InputPlaceholderEnd' | i18n}}" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-5">
                <div class="col-sm-2">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="wednesdayIsAvailable" name="wednesdayIsAvailable" ng-model="openingTime.wednesdayIsAvailable" />
                        </label>
                    </div>
                </div>
                <div class="col-sm-10">
                    <label for="wednesdayIsAvailable" class="control-label">{{'Stores.OpeningTimeDialogPage_LblWednesday' | i18n}}</label>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="col-sm-2">
                    <label for="wednesdayTimeBegin" class="control-label">{{'Stores.OpeningTimeDialogPage_LblStart' | i18n}}</label>
                </div>
                <div class="col-sm-4">
                    <input type="text" cd-popup-timepicker id="wednesdayTimeBegin" name="wednesdayTimeBegin" ng-model="openingTime.wednesdayTimeBegin" placeholder="{{'Stores.OpeningTimeDialogPage_InputPlaceholderStart' | i18n}}" />
                </div>
                <div class="col-sm-2">
                    <label for="wednesdayTimeEnd" class="control-label">{{'Stores.OpeningTimeDialogPage_LblEnd' | i18n}}</label>
                </div>
                <div class="col-sm-4">
                    <input type="text" cd-popup-timepicker id="wednesdayTimeEnd" name="wednesdayTimeEnd" ng-model="openingTime.wednesdayTimeEnd" placeholder="{{'Stores.OpeningTimeDialogPage_InputPlaceholderEnd' | i18n}}" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-5">
                <div class="col-sm-2">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="thursdayIsAvailable" name="thursdayIsAvailable" ng-model="openingTime.thursdayIsAvailable" />
                        </label>
                    </div>
                </div>
                <div class="col-sm-10">
                    <label for="thursdayIsAvailable" class="control-label">{{'Stores.OpeningTimeDialogPage_LblThursday' | i18n}}</label>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="col-sm-2">
                    <label for="thursdayTimeBegin" class="control-label">{{'Stores.OpeningTimeDialogPage_LblStart' | i18n}}</label>
                </div>
                <div class="col-sm-4">
                    <input type="text" cd-popup-timepicker id="thursdayTimeBegin" name="thursdayTimeBegin" ng-model="openingTime.thursdayTimeBegin" placeholder="{{'Stores.OpeningTimeDialogPage_InputPlaceholderStart' | i18n}}" />
                </div>
                <div class="col-sm-2">
                    <label for="thursdayTimeEnd" class="control-label">{{'Stores.OpeningTimeDialogPage_LblEnd' | i18n}}</label>
                </div>
                <div class="col-sm-4">
                    <input type="text" cd-popup-timepicker id="thursdayTimeEnd" name="thursdayTimeEnd" ng-model="openingTime.thursdayTimeEnd" placeholder="{{'Stores.OpeningTimeDialogPage_InputPlaceholderEnd' | i18n}}" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-5">
                <div class="col-sm-2">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="fridayIsAvailable" name="fridayIsAvailable" ng-model="openingTime.fridayIsAvailable" />
                        </label>
                    </div>
                </div>
                <div class="col-sm-10">
                    <label for="fridayIsAvailable" class="control-label">{{'Stores.OpeningTimeDialogPage_LblFriday' | i18n}}</label>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="col-sm-2">
                    <label for="fridayTimeBegin" class="control-label">{{'Stores.OpeningTimeDialogPage_LblStart' | i18n}}</label>
                </div>
                <div class="col-sm-4">
                    <input type="text" cd-popup-timepicker id="fridayTimeBegin" name="fridayTimeBegin" ng-model="openingTime.fridayTimeBegin" placeholder="{{'Stores.OpeningTimeDialogPage_InputPlaceholderStart' | i18n}}" />
                </div>
                <div class="col-sm-2">
                    <label for="fridayTimeEnd" class="control-label">{{'Stores.OpeningTimeDialogPage_LblEnd' | i18n}}</label>
                </div>
                <div class="col-sm-4">
                    <input type="text" cd-popup-timepicker id="fridayTimeEnd" name="fridayTimeEnd" ng-model="openingTime.fridayTimeEnd" placeholder="{{'Stores.OpeningTimeDialogPage_InputPlaceholderEnd' | i18n}}" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-5">
                <div class="col-sm-2">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="saturdayIsAvailable" name="saturdayIsAvailable" ng-model="openingTime.saturdayIsAvailable" />
                        </label>
                    </div>
                </div>
                <div class="col-sm-10">
                    <label for="saturdayIsAvailable" class="control-label">{{'Stores.OpeningTimeDialogPage_LblSaturday' | i18n}}</label>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="col-sm-2">
                    <label for="saturdayTimeBegin" class="control-label">{{'Stores.OpeningTimeDialogPage_LblStart' | i18n}}</label>
                </div>
                <div class="col-sm-4">
                    <input type="text" cd-popup-timepicker id="saturdayTimeBegin" name="saturdayTimeBegin" ng-model="openingTime.saturdayTimeBegin" placeholder="{{'Stores.OpeningTimeDialogPage_InputPlaceholderStart' | i18n}}" />
                </div>
                <div class="col-sm-2">
                    <label for="saturdayTimeEnd" class="control-label">{{'Stores.OpeningTimeDialogPage_LblEnd' | i18n}}</label>
                </div>
                <div class="col-sm-4">
                    <input type="text" cd-popup-timepicker id="saturdayTimeEnd" name="saturdayTimeEnd" ng-model="openingTime.saturdayTimeEnd" placeholder="{{'Stores.OpeningTimeDialogPage_InputPlaceholderEnd' | i18n}}" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-5">
                <div class="col-sm-2">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="sundayIsAvailable" name="sundayIsAvailable" ng-model="openingTime.sundayIsAvailable" />
                        </label>
                    </div>
                </div>
                <div class="col-sm-10">
                    <label for="sundayIsAvailable" class="control-label">{{'Stores.OpeningTimeDialogPage_LblSunday' | i18n}}</label>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="col-sm-2">
                    <label for="sundayTimeBegin" class="control-label">{{'Stores.OpeningTimeDialogPage_LblStart' | i18n}}</label>
                </div>
                <div class="col-sm-4">
                    <input type="text" cd-popup-timepicker id="sundayTimeBegin" name="sundayTimeBegin" ng-model="openingTime.sundayTimeBegin" placeholder="{{'Stores.OpeningTimeDialogPage_InputPlaceholderStart' | i18n}}" />
                </div>
                <div class="col-sm-2">
                    <label for="sundayTimeEnd" class="control-label">{{'Stores.OpeningTimeDialogPage_LblEnd' | i18n}}</label>
                </div>
                <div class="col-sm-4">
                    <input type="text" cd-popup-timepicker id="sundayTimeEnd" name="sundayTimeEnd" ng-model="openingTime.sundayTimeEnd" placeholder="{{'Stores.OpeningTimeDialogPage_InputPlaceholderEnd' | i18n}}" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="ok()" title="{{'Stores.OpeningTimeDialogPage_BtnTooltipSave' | i18n}}">
        <span class="icon-checkmark"></span>
        {{'Stores.OpeningTimeDialogPage_BtnTextSave' | i18n}}
    </button>
    <button class="btn btn-default" ng-click="cancel()" title="{{'Stores.OpeningTimeDialogPage_BtnTooltipCancel' | i18n}}">
        <span class="icon-cross"></span>
        {{'Stores.OpeningTimeDialogPage_BtnTextCancel' | i18n}}
    </button>
</div>