﻿<div class="form-horizontal">
    <h1 class="text-uppercase">{{'Stores.StoresListPage_Title' | i18n}}</h1>
    <hr />
    <div class="form-group">
        <div class="col-xs-12">
            <div class="form-inline">
                <button class="btn btn-default" title="{{'Stores.StoresListPage_BtnTooltipAddStore' | i18n}}" ng-click="addStore()">
                    <span class="icon-plus"></span>
                    <span>{{'Stores.StoresListPage_BtnTextAddStore' | i18n}}</span>
                </button>
                <button class="btn btn-default" title="{{'Stores.StoresListPage_BtnTooltipDeleteStore' | i18n}}" ng-click="removeStores()" ng-disabled="!viewModel.canDelete">
                    <span class="icon-trash"></span>
                    <span>{{'Stores.StoresListPage_BtnTextDeleteStore' | i18n}}</span>
                </button>
                <label class="search-wrapper input-group" for="textFilter">
                    <input class="form-control" id="textFilter" type="text" ng-model="viewModel.textFilter" ng-change="filterChange()" placeholder="{{'Stores.StoresListPage_InputPlaceholderSearchStore' | i18n}}">
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12">
            <div class="grid" ui-grid="gridOptions" ui-grid-selection></div>
        </div>
    </div>
</div>