﻿<div class="drop-box" ng-model="helper.files" ngf-drop ngf-select ngf-reset-model-on-click="false" ngf-accept="'.png,.jpg,.jpeg'">
    <img class="img-responsive" ng-src="{{helper.placeholder}}" ng-if="helper.files.name == null" />
    <img class="img-responsive" ngf-src="helper.files" ng-if="helper.files.name != null" />
</div>