﻿<div ng-show="loading || error">
    <div class="loader-background"></div>
    <div class="loader-spinner" ng-show="loading">
        <div class="spinner-wrapper">
            <div class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
        </div>
    </div>
    <div class="loader-error" ng-show="error">
         <div class="error-wrapper text-center"><h1>Due to crytical server error further work of application isn't possible. Please, reload the page. Sorry for inconvenience.</h1></div>
    </div>
</div>