﻿<ul data-as-sortable="helper.dragControlListeners" data-ng-model="helper.items">
    <li data-ng-repeat="item in helper.items" data-as-sortable-item>
        <div data-as-sortable-item-handle ng-include="template"></div>
    </li>
</ul>
