﻿<div ng-repeat="consumer in consumers">
    <div class="row mobile-align-content-center">
        <div class="col-xs-12">
            <h1>{{consumer.header}}</h1>
            <p class="lighter">{{consumer.text}}</p>
        </div>
        <figure class="col-xs-12">
            <img class="img-responsive center-block consumer-static-image-for-mobile" ng-src="{{consumer.image}}" alt="device" />
        </figure>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="store store-center text-center">
            <a>
                <img class="img-responsive social-icons-round-border" src="/public/assets/images/google_play_button.png" alt="Google play" />
            </a>
            <a>
                <img class="img-responsive social-icons-round-border" src="/public/assets/images/app_store_button.png" alt="App store" />
            </a>
        </div>
    </div>
</div>