﻿<div id="pointer" class="row" scroll-menu>
    <div class="col-sm-8">
        <div class="row mobile-align-content-center scroll-menu" ng-repeat="consumer in consumers" ng-class="{active:$first}">
            <div class="col-sm-10">
                <div class="text-right">
                    <h1>{{consumer.header}}</h1>
                    <p class="text-right lighter">{{consumer.text}}</p>
                </div>
            </div>
            <figure class="col-sm-2">
                <img class="img-responsive" src="/public/assets/images/line.png" alt="line" />
            </figure>
        </div>
        <div class="row">
            <div class="col-sm-10">
                <div class="store store-right text-right">
                    <a>
                        <img class="img-responsive social-icons-round-border" src="/public/assets/images/google_play_button.png" alt="Google play" />
                    </a>
                    <a>
                        <img class="img-responsive social-icons-round-border" src="/public/assets/images/app_store_button.png" alt="App store" />
                    </a>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
    <figure class="col-sm-4">
        <img id="scroll-menu-image" class="img-responsive center-block" src="/public/assets/images/device_consumer_3_payment-1.png" alt="device" />
    </figure>
</div>