﻿<div class="footer-top mobile-align-content-center">
    <div class="container">
        <div class="row second-col-bottom-align">
            <div class="col-sm-7">
                <img class="img-responsive form-group" src="/public/assets/images/choose_bleu.png" alt="logo"/>
            </div>
            <div class="col-sm-5" ng-if="$root.state != 'contacts'">
                <a href="/#/contacts" class="btn btn-default btn-lg btn-lg-white pull-right form-group" role="button">CONTACT US</a>
            </div>
            <div class="col-sm-5" ng-if="$root.state == 'contacts'">
                <h1 class="white-blue lighter form-group text-right">(323) 505-BLEU (2538)</h1>
            </div>
        </div>
        <div class="row" ng-if="$root.state == 'contacts'">
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-sm-3">
                        <p class="white lighter form-group">General Inquiries:<br/><a class="white-blue" href="mailto:info@bleuco.com">info@bleuco.com</a></p>
                    </div>
                    <div class="col-sm-3">
                        <p class="white lighter form-group">Media Inquiries:<br /><a class="white-blue" href="mailto:hello@bleuco.com">hello@bleuco.com</a></p>
                    </div>
                    <div class="col-sm-3">
                        <p class="white lighter form-group">Support:<br /><a class="white-blue" href="mailto:support@bleuco.com">support@bleuco.com</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <p class="white lighter form-group text-right">5900 Wilshire Blvd<br/>Los Angeles, CA 90036</p>
            </div>
        </div>
    </div>
</div>
<div class="footer-bottom">
    <div class="container">
        <div class="row mobile-align-content-center">
            <div class="col-lg-5">
                <div class="contacts">
                    <div class="phone">
                        <span>(323) 505-BLEU (2538)</span>
                    </div>
                    <div class="row social-buttons">
                        <div class="col-xs-3">
                            <a href="#" class="btn btn-default btn-lg btn-lg-white" role="button">
                                <span class="socicon">b</span>
                            </a>
                        </div>
                        <div class="col-xs-3">
                            <a href="#" class="btn btn-default btn-lg btn-lg-white" role="button">
                                <span class="socicon">a</span>
                            </a>
                        </div>
                        <div class="col-xs-3">
                            <a href="#" class="btn btn-default btn-lg btn-lg-white" role="button">
                                <span class="socicon">c</span>
                            </a>
                        </div>
                        <div class="col-xs-3">
                            <a href="#" class="btn btn-default btn-lg btn-lg-white" role="button">
                                <span class="socicon">j</span>
                            </a>
                        </div>
                    </div>
                    <div class="copyright visible-lg">
                        <span>Copyright 2014 Bleu</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 footer-nav">
                <div class="row">
                    <div class="col-sm-3">
                        <ul class="list-unstyled">
                            <li><a href="/#/">Business</a></li>
                            <li><a href="/#/consumer">Consumer</a></li>
                            <li><a href="/#/solutions">Solutions</a></li>
                            <li><a href="/#/resellers/">Resellers</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <ul class="list-unstyled">
                            <li><a href="/#/support">Support</a></li>
                            <li><a href="/#/company">Company</a></li>
                            <li><a>Blog</a></li>
                            <li><a>Jobs</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <ul class="list-unstyled">
                            <li><a href="/#/privacy">Privacy</a></li>
                            <li><a href="/#/terms">Terms & Conditions</a></li>
                            <li><a href="#" class="btn btn-default btn-lg btn-lg-white" role="button">SUBSCRIBE FOR UPDATES</a></li>
                        </ul>
                    </div>
                </div>
                <div class="copyright hidden-lg">
                    <span>Copyright 2014 Bleu</span>
                </div>
            </div>
        </div>
    </div>
</div>