﻿<nav class="navbar navbar-default navbar-fixed-top" role="navigation" ng-controller="HeaderCtrl">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/#/">
                <img src="/public/assets/images/logo_top.png" alt="logo" />
            </a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/#/">BUSINESS</a></li>
                <li><a href="/#/consumer">CONSUMER</a></li>
                <li><a href="/#/resellers/">RESELLERS</a></li>
                <li><a href="/#/solutions">SOLUTIONS</a></li>
                <li><a href="/#/support">SUPPORT</a></li>
                <li class="visible-xs">
                    <a href="/account/login">SIGN IN</a>
                </li>
                <li class="hidden-xs">
                    <a href="/account/login" class="btn btn-default btn-lg" role="button">SIGN IN</a>
                </li>
            </ul>
        </div>
    </div>
</nav>