﻿<div class="row paragraph-padding">
    <div class="col-sm-6">
        <div class="form-group">
            <label for="your_name">Your Name<span class="dark-blue"> *</span></label>
            <input type="text" class="form-control" id="your_name" name="your_name" ng-model="reseller.your_name" required>
            <div class="error" ng-show="(submitted || resellers_form.your_name.$dirty) && resellers_form.your_name.$invalid">
                <span ng-show="resellers_form.your_name.$error.required">Please input a your name</span>
            </div>
        </div>
        <div class="form-group">
            <label for="title">Title<span class="dark-blue"> *</span></label>
            <input type="text" class="form-control" id="title" name="title" ng-model="reseller.title" required>
            <div class="error" ng-show="(submitted || resellers_form.title.$dirty) && resellers_form.title.$invalid">
                <span ng-show="resellers_form.title.$error.required">Please input a title</span>
            </div>
        </div>
        <div class="form-group">
            <label for="website">Website</label>
            <input type="url" class="form-control" id="website" name="website" ng-model="reseller.website">
            <div class="error" ng-show="(submitted || resellers_form.website.$dirty) && resellers_form.website.$invalid">
                <span ng-show="resellers_form.website.$error.url">Please input a url</span>
            </div>

        </div>
        <div class="form-group">
            <label for="email">Email<span class="dark-blue"> *</span></label>
            <input type="email" class="form-control" id="email" name="email" ng-model="reseller.email" required>
            <div class="error" ng-show="(submitted || resellers_form.email.$dirty) && resellers_form.email.$invalid">
                <span ng-show="resellers_form.email.$error.required || resellers_form.email.$error.email">Please input an email</span>
            </div>
        </div>
        <div class="form-group">
            <label for="phone_number">Phone Number<span class="dark-blue"> *</span></label>
            <input type="text" class="form-control" id="phone_number" name="phone_number" ng-model="reseller.phone_number" required>
            <div class="error" ng-show="(submitted || resellers_form.phone_number.$dirty) && resellers_form.phone_number.$invalid">
                <span ng-show="resellers_form.phone_number.$error.required">Please input a phone number</span>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label for="company_name">Company Name<span class="dark-blue"> *</span></label>
            <input type="text" class="form-control" id="company_name" name="company_name" ng-model="reseller.company_name" required>
            <div class="error" ng-show="(submitted || resellers_form.company_name.$dirty) && resellers_form.company_name.$invalid">
                <span ng-show="resellers_form.company_name.$error.required">Please input a company name</span>
            </div>
        </div>
        <div class="form-group">
            <label for="address">Address<span class="dark-blue"> *</span></label>
            <input type="text" class="form-control" id="address" name="address" ng-model="reseller.address" required>
            <div class="error" ng-show="(submitted || resellers_form.address.$dirty) && resellers_form.address.$invalid">
                <span ng-show="resellers_form.address.$error.required">Please input an address</span>
            </div>
        </div>
        <div class="form-group">
            <label for="city">City</label>
            <input type="text" class="form-control" id="city" name="city" ng-model="reseller.city">
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="state">State</label>
                    <input type="text" class="form-control" id="state" name="state" ng-model="reseller.state">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="zip_code">ZIP</label>
                    <input type="text" class="form-control" id="zip_code" name="zip_code" ng-model="reseller.zip_code">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="fax">FAX#</label>
            <input type="text" class="form-control" id="fax" name="fax" ng-model="reseller.fax">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <label class="form-group">Accounting Contact</label>
    </div>
    <div class="col-sm-4">
        <input type="text" class="form-control form-group" placeholder="Name" name="accounting_contact_name" ng-model="reseller.accounting_contact_name" />
    </div>
    <div class="col-sm-4">
        <input type="text" class="form-control form-group" placeholder="Phone" name="accounting_contact_phone" ng-model="reseller.accounting_contact_phone" />
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <label class="form-group">Purchasing Contact</label>
    </div>
    <div class="col-sm-4">
        <input type="text" class="form-control form-group" placeholder="Name" name="purchasing_contact_name" ng-model="reseller.purchasing_contact_name" />
    </div>
    <div class="col-sm-4">
        <input type="text" class="form-control form-group" placeholder="Phone" name="purchasing_contact_phone" ng-model="reseller.purchasing_contact_phone" />
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <label class="form-group">Marketing Contact</label>
    </div>
    <div class="col-sm-4">
        <input type="text" class="form-control form-group" placeholder="Name" name="marketing_contact_name" ng-model="reseller.marketing_contact_name" />
    </div>
    <div class="col-sm-4">
        <input type="text" class="form-control form-group" placeholder="Phone" name="marketing_contact_phone" ng-model="reseller.marketing_contact_phone" />
    </div>
</div>
<div class="row paragraph-padding">
    <div class="col-xs-12 text-center">
        <a class="btn btn-default btn-lg resellers-button" role="button" ng-click="getNextPage(2, resellers_form)">&nbsp;&nbsp;NEXT&nbsp;&nbsp;</a>
    </div>
</div>