﻿<fieldset class="row form-group">
    <div class="col-lg-5">
        <div class="row form-group">
            <label for="years_in_business" class="col-sm-6">Years in business</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="years_in_business" name="years_in_business" ng-model="reseller.years_in_business">
            </div>
        </div>
    </div>
    <div class="col-lg-7">
        <div class="row form-group">
            <div class="col-sm-3">
                <label>Business type</label>
            </div>
            <div class="col-sm-3">
                <label>
                    <input type="checkbox" name="business_type_corporation" ng-model="reseller.business_type_corporation" ng-true-value="'YES'" ng-false-value="''"> Corporation
                </label>
            </div>
            <div class="col-sm-3">
                <label>
                    <input type="checkbox" name="business_type_partnership" ng-model="reseller.business_type_partnership" ng-true-value="'YES'" ng-false-value="''"> Partnership
                </label>
            </div>
            <div class="col-sm-3">
                <label>
                    <input type="checkbox" name="business_type_proprietor" ng-model="reseller.business_type_proprietor" ng-true-value="'YES'" ng-false-value="''"> Proprietor
                </label>
            </div>
        </div>
    </div>
</fieldset>
<fieldset class="row form-group second-col-bottom-align-lg">
    <div class="col-lg-5">
        <label class="form-group">Which Distributor do you purchase from:</label>
        <div class="row form-group">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-sm-6">
                        <label>
                            <input type="checkbox" name="distributor_decision_point" ng-model="reseller.distributor_decision_point" ng-true-value="'YES'" ng-false-value="''"> decision point
                        </label>
                    </div>
                    <div class="col-sm-6">
                        <label>
                            <input type="checkbox" name="distributor_bluestar" ng-model="reseller.distributor_bluestar" ng-true-value="'YES'" ng-false-value="''"> bluestar
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label>
                            <input type="checkbox" name="distributor_scansource" ng-model="reseller.distributor_scansource" ng-true-value="'YES'" ng-false-value="''"> scansource
                        </label>
                    </div>
                    <div class="col-sm-6">
                        <label>
                            <input type="checkbox" name="distributor_ready_distribution" ng-model="reseller.distributor_ready_distribution" ng-true-value="'YES'" ng-false-value="''"> ready distribution
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row form-group">
            <label for="other_distributor" class="col-sm-3 no-margin-bottom-for-label">other</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="other_distributor" name="other_distributor" ng-model="reseller.other_distributor">
            </div>
        </div>
    </div>
    <div class="col-lg-7">
        <label class="form-group">Please provide one distributor account # (used to verify reseller status). Can number above if unavailable.</label>
        <div class="row">
            <div class="col-sm-6">
                <input type="text" class="form-control form-group" placeholder="Name" name="other_distributor_account_name" ng-model="reseller.other_distributor_account_name">
            </div>
            <div class="col-sm-6">
                <input type="text" class="form-control form-group" placeholder="Phone" name="other_distributor_account_phone" ng-model="reseller.other_distributor_account_phone">
            </div>
        </div>
    </div>
</fieldset>

<fieldset class="form-group">
    <legend>How would you classify your company? (check all that apply)</legend>
    <div class="row form-group">
        <div class="col-lg-6">
            <div class="row">
                <div class="col-sm-4">
                    <label>
                        <input type="checkbox" name="classify_company_reseller" ng-model="reseller.classify_company_reseller" ng-true-value="'YES'" ng-false-value="''"> Reseller
                    </label>
                </div>
                <div class="col-sm-4">
                    <label>
                        <input type="checkbox" name="classify_company_var" ng-model="reseller.classify_company_var" ng-true-value="'YES'" ng-false-value="''"> VAR
                    </label>
                </div>
                <div class="col-sm-4">
                    <label>
                        <input type="checkbox" name="classify_company_sys_integrator" ng-model="reseller.classify_company_sys_integrator" ng-true-value="'YES'" ng-false-value="''"> Sys Integrator
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <label>
                        <input type="checkbox" name="classify_company_chain" ng-model="reseller.classify_company_chain" ng-true-value="'YES'" ng-false-value="''"> Chain
                    </label>
                </div>
                <div class="col-sm-4">
                    <label>
                        <input type="checkbox" name="classify_company_training" ng-model="reseller.classify_company_training" ng-true-value="'YES'" ng-false-value="''"> Training
                    </label>
                </div>
                <div class="col-sm-4">
                    <label>
                        <input type="checkbox" name="classify_company_franchise" ng-model="reseller.classify_company_franchise" ng-true-value="'YES'" ng-false-value="''"> Franchise
                    </label>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="row">
                <div class="col-sm-4">
                    <label>
                        <input type="checkbox" name="classify_company_consultant" ng-model="reseller.classify_company_consultant" ng-true-value="'YES'" ng-false-value="''"> Consultant
                    </label>
                </div>
                <div class="col-sm-4">
                    <label>
                        <input type="checkbox" name="classify_company_oem" ng-model="reseller.classify_company_oem" ng-true-value="'YES'" ng-false-value="''"> OEM
                    </label>
                </div>
                <div class="col-sm-4">
                    <label>
                        <input type="checkbox" name="classify_company_developer" ng-model="reseller.classify_company_developer" ng-true-value="'YES'" ng-false-value="''"> Developer
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <label>
                        <input type="checkbox" name="classify_company_distributor" ng-model="reseller.classify_company_distributor" ng-true-value="'YES'" ng-false-value="''"> Distributor
                    </label>
                </div>
                <div class="col-sm-4">
                    <label>
                        <input type="checkbox" name="classify_company_mail_order" ng-model="reseller.classify_company_mail_order" ng-true-value="'YES'" ng-false-value="''"> Mail Order
                    </label>
                </div>
                <div class="col-sm-4">
                    <label>
                        <input type="checkbox" name="classify_company_e_commerce" ng-model="reseller.classify_company_e_commerce" ng-true-value="'YES'" ng-false-value="''"> E-Commerce
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="row form-group">
        <label for="classify_company_other_list" class="col-sm-2">other (list)</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="classify_company_other_list" name="classify_company_other_list" ng-model="reseller.classify_company_other_list">
        </div>
    </div>
</fieldset>
<fieldset class="row form-group">
    <div class="col-lg-6">
        <div class="row form-group">
            <label for="prior_year_annual_revenue" class="col-sm-7">Prior year annual revenue:</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="prior_year_annual_revenue" name="prior_year_annual_revenue" ng-model="reseller.prior_year_annual_revenue" />
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="row form-group">
            <label for="projected_revenue_this_year" class="col-sm-7">Projected revenue this year:</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="projected_revenue_this_year" name="projected_revenue_this_year" ng-model="reseller.projected_revenue_this_year" />
            </div>
        </div>
    </div>
</fieldset>
<fieldset class="form-group">
    <legend>Percentage of revenue (totals 100%)</legend>
    <div class="row">
        <div class="col-sm-4">
            <div class="row form-group">
                <label for="percentage_of_revenue_hardware" class="col-sm-4 control-label">Hardware</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="percentage_of_revenue_hardware" name="percentage_of_revenue_hardware" ng-model="reseller.percentage_of_revenue_hardware">
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="row form-group">
                <label for="percentage_of_revenue_software" class="col-sm-4 control-label ">Software</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="percentage_of_revenue_software" name="percentage_of_revenue_software" ng-model="reseller.percentage_of_revenue_software">
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="row form-group">
                <label for="percentage_of_revenue_services" class="col-sm-4 control-label">Services</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="percentage_of_revenue_services" name="percentage_of_revenue_services" ng-model="reseller.percentage_of_revenue_services">
                </div>
            </div>
        </div>
    </div>
</fieldset>
<fieldset class="form-group">
    <legend>What geographical area do you serve?</legend>
    <div class="row form-group">
        <div class="col-sm-3">
            <label>
                <input type="checkbox" name="geographical_area_local" ng-model="reseller.geographical_area_local" ng-true-value="'YES'" ng-false-value="''"> Local (50 mile)
            </label>
        </div>
        <div class="col-sm-3">
            <label>
                <input type="checkbox" name="geographical_area_state" ng-model="reseller.geographical_area_state" ng-true-value="'YES'" ng-false-value="''"> State wide
            </label>
        </div>
        <div class="col-sm-3">
            <label>
                <input type="checkbox" name="geographical_area_regional" ng-model="reseller.geographical_area_regional" ng-true-value="'YES'" ng-false-value="''"> Regional
            </label>
        </div>
        <div class="col-sm-3">
            <label>
                <input type="checkbox" name="geographical_area_international" ng-model="reseller.geographical_area_international" ng-true-value="'YES'" ng-false-value="''"> International
            </label>
        </div>
    </div>
</fieldset>
<fieldset class="form-group">
    <legend>Total</legend>
    <div class="row">
        <div class="col-lg-6">
            <div class="row">
                <div class="col-sm-6">
                    <div class="row form-group">
                        <label for="total_employees" class="col-sm-7">Employees</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="total_employees" name="total_employees" ng-model="reseller.total_employees">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row form-group">
                        <label for="total_engineers" class="col-sm-7">Engineers</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="total_engineers" name="total_engineers" ng-model="reseller.total_engineers">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="row">
                <div class="col-sm-6">
                    <div class="row form-group">
                        <label for="total_inside_sales" class="col-sm-7">Inside Sales</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="total_inside_sales" name="total_inside_sales" ng-model="reseller.total_inside_sales">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row form-group">
                        <label for="total_outside_sales" class="col-sm-7">Outside Sales</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="total_outside_sales" name="total_outside_sales" ng-model="reseller.total_outside_sales">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</fieldset>
<fieldset class="form-group">
    <legend>Indicate which types of marketing activities you engage in</legend>
    <div class="row form-group">
        <div class="col-lg-6">
            <div class="row">
                <div class="col-sm-4">
                    <label>
                        <input type="checkbox" name="marketing_activities_seminars" ng-model="reseller.marketing_activities_seminars" ng-true-value="'YES'" ng-false-value="''"> Seminars
                    </label>
                </div>
                <div class="col-sm-4">
                    <label>
                        <input type="checkbox" name="marketing_activities_newsletters" ng-model="reseller.marketing_activities_newsletters" ng-true-value="'YES'" ng-false-value="''"> Newsletters
                    </label>
                </div>
                <div class="col-sm-4">
                    <label>
                        <input type="checkbox" name="marketing_activities_print_adds" ng-model="reseller.marketing_activities_print_adds" ng-true-value="'YES'" ng-false-value="''"> Print Adds
                    </label>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="row">
                <div class="col-sm-4">
                    <label>
                        <input type="checkbox" name="marketing_activities_trade_shows" ng-model="reseller.marketing_activities_trade_shows" ng-true-value="'YES'" ng-false-value="''"> Trade Shows
                    </label>
                </div>
                <div class="col-sm-5">
                    <label>
                        <input type="checkbox" name="marketing_activities_direct_response" ng-model="reseller.marketing_activities_direct_response" ng-true-value="'YES'" ng-false-value="''"> Direct Responce
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <label for="marketing_activities_other" class="col-sm-1">other</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="marketing_activities_other" name="marketing_activities_other" ng-model="reseller.marketing_activities_other">
        </div>
    </div>
</fieldset>
<div class="row">
    <div class="col-xs-12 text-center">
        <a class="btn btn-default btn-lg resellers-button" role="button" ng-click="getPrevPage(1)">CANCEL</a>
        <a class="btn btn-default btn-lg resellers-button" role="button" ng-click="getNextPage(3, resellers_form)">&nbsp;&nbsp;NEXT&nbsp;&nbsp;</a>
    </div>
</div>