﻿<fieldset class="form-group">
    <div class="row form-group">
        <div class="col-sm-5">
            <p class="lighter text-justify">Please list other primary vendors you have a formal (reseller agreements) relationship with. Include key certifications.</p>
        </div>
        <div class="col-sm-7">
            <textarea class="form-control" rows="6" name="other_primary_vendors" ng-model="reseller.other_primary_vendors"></textarea>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-sm-5">
            <p class="lighter text-justify">Please provide a description of your primary "value added" services (integration, training, custom development, etc.)</p>
        </div>
        <div class="col-sm-7">
            <textarea class="form-control" rows="6" name="value_added_services" ng-model="reseller.value_added_services"></textarea>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-sm-5">
            <p class="lighter text-justify">What other products do you sell that are similar or complimentary to Bleu or other Bleu software?</p>
        </div>
        <div class="col-sm-7">
            <textarea class="form-control" rows="6" name="similar_products" ng-model="reseller.similar_products"></textarea>
        </div>
    </div>
</fieldset>
<div class="row">
    <div class="col-xs-12 text-center">
        <a class="btn btn-default btn-lg resellers-button" role="button" ng-click="getPrevPage(2)">CANCEL</a>
        <a class="btn btn-default btn-lg resellers-button" role="button" ng-click="submitForm(resellers_form)" ng-class="isSubmitting ? 'disabled' : ''">{{isSubmitting ? 'SUBMITTING...' : 'SUBMIT'}}</a>
    </div>
</div>