﻿<solutions-slide>
    <div ng-repeat="templatesGroup in solutionTemplates">
        <section>
            <div class="container section-container">
                <div class="row">
                    <div class="col-sm-3" ng-repeat="template in templatesGroup.Group">
                        <div class="image-transition-on-hover" ng-click="clickOnCircle(template.id)" ng-class="activeTemplate == template.id ? 'active' : ''">
                            <img class="center-block solutions-circles" ng-src="{{template.images.gray}}" alt="image" />
                            <img class="center-block solutions-circles" ng-src="{{template.images.color}}" alt="image" />
                        </div>
                        <div class="solutions-circle-header-text">
                            <p class="text-center lighter">{{template.header}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="solutions-slide-section" ng-repeat="template in templatesGroup.Group" ng-attr-id="{{template.id}}" ng-class="template.background">
            <div class="container section-container">
                <div class="col-lg-9">
                    <h1 class="extra-large-header white-shadow">{{template.header}}</h1>
                    <p class="solutions-line-height text-justify paragraph-padding white-shadow lighter">{{template.text}}</p>
                </div>
            </div>
        </section>
    </div>
</solutions-slide>