﻿<div ng-repeat="templatesGroup in solutionTemplates">
    <div ng-repeat="template in templatesGroup.Group">
        <section>
            <div class="container section-container">
                <div class="row">
                    <div class="col-xs-12">
                        <figure>
                            <img class="center-block solutions-circles" ng-src="{{template.images.color}}" alt="image"/>
                        </figure>
                        <div class="solutions-circle-header-text">
                            <p class="text-center lighter">{{template.header}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section ng-attr-id="{{template.id}}" ng-class="template.background">
            <div class="container section-container">
                <div class="col-xs-12">
                    <h1 class="extra-large-header white-shadow">{{template.header}}</h1>
                    <p class="solutions-line-height text-justify paragraph-padding white-shadow lighter">{{template.text}}</p>
                </div>
            </div>
        </section>
    </div>
</div>