﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Reporting</title>
    @Styles.Render("~/styles/layout")
    @RenderSection("styles", false)
    @Scripts.Render("~/scripts/layout")
    @RenderSection("scripts", false)
</head>
<body>
    @RenderBody()
</body>
</html>