﻿<div class="form-horizontal">
    <h1 class="text-uppercase">{{'Devices.DevicesListPage_Title' | i18n}}</h1>
    <hr />
    <!--<div class="form-group">
        <div class="col-xs-12">
            <div class="form-inline">
                <button class="btn btn-default" title="{{'Devices.DevicesListPage_BtnTooltipAddDevice' | i18n}}" ng-click="addDevice()">
                    <span class="icon-plus"></span>
                    <span>{{'Devices.DevicesListPage_BtnTextAddDevice' | i18n}}</span>
                </button>
            </div>
        </div>
    </div>-->
    <div class="form-group">
        <div class="col-xs-12">
            <div class="grid" ui-grid="gridOptions" ui-grid-resize-columns ui-grid-infinite-scroll></div>
        </div>
    </div>
</div>