﻿<div class="form-horizontal" ng-form name="addDeviceForm" cd-validation-of-model="device">
    <hr />
    <div class="form-group">
        <div class="col-md-6">
            <!--<div class="form-group">
                <div class="col-sm-5">
                    <label for="id" class="control-label">{{'Devices.DevicePage_LblId' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="id" name="id" ng-model="device.id" placeholder="{{'Devices.DevicePage_InputPlaceholderId' | i18n}}" required cd-server-validation-input="['exists']" />
                    <span class="help-block validation-message" ng-show="addDeviceForm.id.$error.required">
                        {{'Devices.DevicePage_InputIdRequired' | i18n}}
                    </span>
                    <span class="help-block validation-message" ng-show="addDeviceForm.id.$error.exists">
                        {{'Devices.DevicePage_InputIdAlreadyExists' | i18n : device.id}}
                    </span>
                </div>
            </div>-->
            <div class="form-group">
                <label class="col-sm-5">
                    <label for="name" class="control-label">{{'Devices.DevicePage_LblName' | i18n}}</label>
                </label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="name" name="name" ng-model="device.name" placeholder="{{'Devices.DevicePage_InputPlaceholderName' | i18n}}" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="isConfirmed" class="control-label">{{'Devices.DevicePage_LblIsConfirmed' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="isConfirmed" name="isConfirmed" ng-model="device.isConfirmed" />
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-5">
                    <label for="name" class="control-label">{{'Devices.DevicePage_LblStoreName' | i18n}}</label>
                </label>
                <div class="col-sm-7">
                    <select class="form-control" id="storeId" name="storeId" ng-model="device.storeId" ng-options="store.id as store.name for store in stores" required></select>
                    <span class="help-block validation-message" ng-show="addDeviceForm.storeId.$error.required">
                        {{'Devices.DevicePage_InputStoreRequired' | i18n}}
                    </span>
                </div>
            </div>
        </div>

    </div>
    <div class="form-group">
        <div class="col-xs-12 text-center">
            <button class="btn btn-default" title="{{'Devices.DevicePage_BtnTooltipSave' | i18n}}" ng-click="updateDevice()">
                <span class="icon-checkmark"></span>
                <span>{{'Devices.DevicePage_BtnTextSave' | i18n}}</span>
            </button>
            <button class="btn btn-default" title="{{'Devices.DevicePage_BtnTooltipCancel' | i18n}}" ng-click="cancel()">
                <span class="icon-cross"></span>
                <span>{{'Devices.DevicePage_BtnTextCancel' | i18n}}</span>
            </button>
        </div>
    </div>
</div>