﻿/* new variables */
/* override variables */
@font-face {
  font-family: 'bleu_font';
  src: url(../fonts/bleu_font.eot?cdk8vi);
  src: url(../fonts/bleu_font.eot?#iefixcdk8vi) format('embedded-opentype'), url(../fonts/bleu_font.woff?cdk8vi) format('woff'), url(../fonts/bleu_font.ttf?cdk8vi) format('truetype'), url(../fonts/bleu_font.svg?cdk8vi#bleu_font) format('svg');
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'bleu_font';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-drag_handle:before {
  content: "\e600"; }

.icon-image:before {
  content: "\e603"; }

.icon-add_group:before {
  content: "\e615"; }

.icon-add_user:before {
  content: "\e618"; }

.icon-checkmark:before {
  content: "\e61b"; }

.icon-group:before {
  content: "\e61c"; }

.icon-filter:before {
  content: "\e611"; }

.icon-mail:before {
  content: "\e601"; }

.icon-pencil:before {
  content: "\e616"; }

.icon-user:before {
  content: "\e602"; }

.icon-vcard:before {
  content: "\e604"; }

.icon-search:before {
  content: "\e605"; }

.icon-new:before {
  content: "\e617"; }

.icon-clock:before {
  content: "\e621"; }

.icon-calendar:before {
  content: "\e612"; }

.icon-publish:before {
  content: "\e606"; }

.icon-creditcard:before {
  content: "\e607"; }

.icon-logout:before {
  content: "\e613"; }

.icon-cross:before {
  content: "\e608"; }

.icon-plus:before {
  content: "\e614"; }

.icon-info:before {
  content: "\e609"; }

.icon-arrow:before {
  content: "\e61e"; }

.icon-add-to-group:before {
  content: "\e61f"; }

.icon-move-to-group:before {
  content: "\e620"; }

.icon-menu:before {
  content: "\e60a"; }

.icon-docs:before {
  content: "\e61d"; }

.icon-pictures:before {
  content: "\e61a"; }

.icon-trash:before {
  content: "\e60b"; }

.icon-upload:before {
  content: "\e619"; }

.icon-next:before {
  content: "\e622"; }

.icon-previous:before {
  content: "\e623"; }

.icon-arrow-left2:before {
  content: "\e624"; }

.icon-arrow-right2:before {
  content: "\e625"; }

.icon-arrow-left:before {
  content: "\e60c"; }

.icon-arrow-down:before {
  content: "\e60d"; }

.icon-arrow-up:before {
  content: "\e60e"; }

.icon-arrow-right:before {
  content: "\e60f"; }

.icon-arrow-long:before {
  content: "\e626"; }

.icon-sortable:before {
  content: "\e610"; }

/*# sourceMappingURL=icons.css.map */