﻿<input id="profilepanel" type="checkbox" class="hidden" />
<div class="navbar-inverse navbar navbar-fixed-top">
    <div class="container-fluid">
        <button type="button" class="pull-left navbar-toggle collapsed" data-toggle="collapse" data-target="#leftmenu" aria-expanded="false" aria-controls="navbar">
            <span class="icon-menu"></span>
        </button>
        <a class="navbar-brand hidden-xs" href="#/summary"><img class="header-logo" src="/src/assets/images/logo.png" /></a>
        <div class="nav navbar-nav navbar-right">
            <label for="profilepanel" class="profile-panel-toggle pull-right">
                <span class="icon-user"></span>
                <span class="icon-arrow-down"></span>
                <span class="icon-arrow-up"></span>
            </label>
        </div>
    </div>
</div>
<div class="profile-panel navbar-inverse navbar navbar-fixed-top">
    <div class="container-fluid">
        <div class="nav navbar-nav navbar-right">
            <ul class="text-right">
                <!--<li>
                    <a href="#/messages" title="{{'Main.ProfilePanel_TooltipMessages' | i18n}}">
                        <span class="icon-mail"></span><span class="hidden-xs">{{'Main.ProfilePanel_MenuItemMessages' | i18n}}</span>
                    </a>
                </li>-->
                <li>
                    <a href="#/profile" title="{{'Main.ProfilePanel_TooltipProfile' | i18n}}">
                        <span class="icon-vcard"></span><span class="hidden-xs">{{'Main.ProfilePanel_MenuItemProfile' | i18n}}</span>
                    </a>
                </li>
                <li>
                    <a href="/account/logout" title="{{'Main.ProfilePanel_TooltipLogout' | i18n}}">
                        <span class="icon-logout"></span><span class="hidden-xs">{{'Main.ProfilePanel_MenuItemLogout' | i18n}}</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
