﻿<ul class="nav nav-sidebar">
    <li ng-repeat="section in menu">
        <h4>{{section.label | i18n}}</h4>
        <ul>
            <li ng-repeat="item in section.items">
                <a ui-sref="{{item.name}}">
                    {{item.label | i18n}}
                </a>
            </li>
        </ul>
    </li>
</ul>
