﻿<accordion close-others="false" class="common-modifiers-groups-categories">
    <accordion-group ng-repeat="menuItemCategory in categories" is-open="menuItemCategory.isOpen">
        <accordion-heading>
            <div class="category-head-content">
                <div class="row" ng-click="categoryClick(menuItemCategory)">
                    <div class="pull-left category-first">
                        <button class="btn btn-default btn-xs">
                            <span ng-class="{'icon-arrow-right': !menuItemCategory.isOpen, 'icon-arrow-down': menuItemCategory.isOpen}"></span>
                        </button>
                        <img ng-src="{{menuItemCategory.image}}" />
                    </div>
                    <div class="col-xs-9 col-sm-10 col-md-10 col-lg-9 category-name">
                        <b>{{menuItemCategory.name}}</b>
                    </div>
                </div>
            </div>
        </accordion-heading>
        <div class="category-menu-item" ng-repeat="menuItem in menuItemCategory.menuItems" ng-if="!menuItemCategory.isLoading && !menuItemCategory.isEmpty">
            <div class="category-menu-item-content">
                <div class="row">
                    <div class="pull-left category-first">
                        <input type="checkbox" ng-checked="isMenuItemChecked(menuItem.id)" ng-click="checkMenuItem(menuItem.id)" />
                        <img ng-src="{{menuItem.image}}" />
                    </div>
                    <div class="col-xs-9 col-sm-10 col-md-10 col-lg-9 category-name">
                        <b>{{menuItem.name}}</b>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="menuItemCategory.isLoading">
            {{'MenuEditor.CommonModifiersGroupsCategories_Loading' | i18n}}
        </div>
        <div ng-if="!menuItemCategory.isLoading && menuItemCategory.isEmpty">
            {{'MenuEditor.CommonModifiersGroupsCategories_Empty' | i18n}}
        </div>
    </accordion-group>
</accordion>