﻿<div class="tree-node">
    <div class="tree-node-content" ui-tree-handle>
        <div class="row">
            <div class="pull-left tree-node-first">
                <button class="btn btn-default btn-xs" data-nodrag ng-click="toggle(this)" ng-if="node.relatedModifiers.length > 0">
                    <span ng-class="{'icon-arrow-right': collapsed, 'icon-arrow-down': !collapsed}"></span>
                </button>
                <img ng-src="{{getRelatedModifierImage(node.imageId)}}" />
            </div>
            <div class="col-xs-6 col-sm-8 col-md-6 col-lg-7 tree-node-name">
                {{node.name}}
            </div>
            <div class="pull-right tree-node-operations">
                <button class="btn btn-default btn-xs" data-nodrag="" ng-click="editRelatedModifier(this)">
                    <span class="icon-pencil"></span>
                </button>
                <button class="btn btn-default btn-xs" data-nodrag="" ng-click="duplicateRelatedModifier(this)">
                    <span class="icon-docs"></span>
                </button>
                <button class="btn btn-default btn-xs" data-nodrag="" ng-click="removeRelatedModifier(this)">
                    <span class="icon-trash"></span>
                </button>
            </div>
        </div>
    </div>
</div>
<ol ui-tree-nodes ng-model="node.relatedModifiers" ng-class="{hidden: collapsed}">
    <li ng-repeat="node in node.relatedModifiers" ui-tree-node ng-include="'src/app/menuEditor/views/directives/RelatedModifiersTreeNode.html'">
    </li>
</ol>