﻿<div ui-tree data-empty-placeholder-enabled="false" class="related-modifiers-tree">
    <ol ui-tree-nodes ng-model="relatedModifiers">
        <li ng-repeat="node in relatedModifiers" ui-tree-node ng-include="'src/app/menuEditor/views/directives/RelatedModifiersTreeNode.html'"></li>
    </ol>
</div>