﻿<div class="form-horizontal">
    <h1 class="text-uppercase">{{'Summary.SummaryPage_Title' | i18n}}</h1>
    <hr />
    <div class="form-group" cd-sales-summary="salesSummary"></div>
    <h1 class="text-uppercase">{{'Summary.SummaryPage_LblSales' | i18n}}</h1>
    <hr />
    <div class="form-group" ng-form name="summaryFilterForm" cd-validation-of-model="summaryFilter">
        <div class="col-lg-2 col-md-2">
            <div class="form-group">
                <div class="col-xs-12">
                    <label class="control-label text-uppercase">{{'Summary.SummaryPage_LblPeriod' | i18n}}:</label>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-5">
            <div class="form-group">
                <div class="col-sm-5">
                    <label class="control-label" for="startDate">{{'Summary.SummaryPage_LblStartDate' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <input type="text" id="startDate" name="startDate" cd-popup-datepicker ng-model="summaryFilter.startDate" ng-change="onSummaryParamsChange()" placeholder="{{'Summary.SummaryPage_InputPlaceholderStartDate' | i18n}}" />
                    <span class="help-block validation-message" ng-show="summaryFilterForm.startDate.$error">{{'Summary.SummaryPage_InputStartDateInvalid' | i18n}}</span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-5">
            <div class="form-group">
                <div class="col-sm-5">
                    <label class="control-label" for="endDate">{{'Summary.SummaryPage_LblEndDate' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <input type="text" id="endDate" name="endDate" cd-popup-datepicker ng-model="summaryFilter.endDate" ng-change="onSummaryParamsChange()" placeholder="{{'Summary.SummaryPage_InputPlaceholderEndDate' | i18n}}" />
                    <span class="help-block validation-message" ng-show="summaryFilterForm.endDate.$error">{{'Summary.SummaryPage_InputEndDateInvalid' | i18n}}</span>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <div class="col-xs-12">
                    <button class="btn btn-default" title="{{'Summary.SummaryPage_BtnTooltipApply' | i18n}}" ng-c ng-click="applySummaryFilter()">
                        <span class="icon-checkmark"></span>
                        <span>{{'Summary.SummaryPage_BtnApply' | i18n}}</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <nvd3-line-chart data="salesData"
                     id="salesSummary"
                     isarea="true"
                     xaxistickformat="xAxisTickFormatFunction()"
                     yaxistickformat="yAxisTickFormatFunction()"
                     showxaxis="true"
                     showyaxis="true"
                     width="1000"
                     height="400"
                     interactive="true"
                     tooltips="true"
                     color="colorFunction()">
        <svg></svg>
    </nvd3-line-chart>
    <hr />
    <h1>{{'Summary.SummaryPage_LblMostPopularItems' | i18n}}</h1>
    <div class="form-group">
        <div class="col-xs-12">
            <div class="grid" ui-grid="gridOptions" ui-grid-resize-columns ui-grid-infinite-scroll></div>
        </div>
    </div>
</div>


