﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="@Url.Content("/public/assets/images/favicon.ico")" type="image/x-icon">
    <title>Bleu</title>
    @Styles.Render("~/styles/layout")
    @RenderSection("styles", required: false)
</head>
    <body ng-app="bleu">
        @RenderBody()
        @Scripts.Render("~/scripts/layout")
        @RenderSection("scripts", required: false)
    </body>
</html>