﻿@using Stimulsoft.Report.Mvc
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Bleu Reports</title>
</head>
<body>
    @Html.Stimulsoft().StiMvcViewer(new StiMvcViewerOptions
    {
        Actions =
        {
            GetReportSnapshot = "GetReportSnapshot",
            ViewerEvent = "ViewerEvent"
        },
        Server =
       {
           RequestTimeout = 50000,
           UseRelativeUrls = true
       }
    })
</body>
</html>
