﻿<div class="form-group summary-info">
    <div class="col-sm-4">
        <div>
            <div class="row text-center">{{'Customers.CustomersSummary_TitleTotalCustomers' | i18n}}</div>
            <h3 class="row text-center">{{ summary.total }}</h3>
        </div>
    </div>
    <div class="col-sm-4">
        <div>
            <div class="row text-center">{{'Customers.CustomersSummary_TitleAvgSpend' | i18n}}</div>
            <h3 class="row text-center">{{ summary.avgSpend | currency}}</h3>
        </div>
    </div>
    <div class="col-sm-4">
        <div>
            <div class="row text-center">{{'Customers.CustomersSummary_TitleTotalSpent' | i18n}}</div>
            <h3 class="row text-center">{{ summary.totalSpend | currency}}</h3>
        </div>
    </div>
</div>