﻿<div class="form-horizontal">
    <div class="form-group">
        <div class="embed-report-wrapper col-sm-9 col-md-10">
            <iframe class="embed-report" src="{{reportUri}}"></iframe>
        </div>
    </div>
</div>
