﻿<div class="form-horizontal" ng-form name="reportsFilterForm" cd-validation-of-model="reportsFilter">
    <h1 class="text-uppercase">{{'Reports.CustomReportsPage_Title' | i18n}}</h1>
    <hr />
    <div class="form-group">
        <div class="col-lg-2 col-md-2">
            <div class="form-group">
                <div class="col-xs-12">
                    <label class="control-label text-uppercase">{{'Reports.CustomReportsPage_LblPeriod' | i18n}}:</label>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-5">
            <div class="form-group">
                <div class="col-sm-5">
                    <label class="control-label" for="startDate">{{'Reports.CustomReportsPage_LblStartDate' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <input type="text" id="startDate" name="startDate" cd-popup-datepicker ng-model="reportsFilter.startDate" ng-change="onReportParamsChange()" placeholder="{{'Reports.CustomReportsPage_InputPlaceholderStartDate' | i18n}}" />
                    <span class="help-block validation-message" ng-show="reportsFilterForm.startDate.$error">{{'Reports.CustomReportsPage_InputStartDateInvalid' | i18n}}</span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-5">
            <div class="form-group">
                <div class="col-sm-5">
                    <label class="control-label" for="endDate">{{'Reports.CustomReportsPage_LblEndDate' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <input type="text" id="endDate" name="endDate" cd-popup-datepicker ng-model="reportsFilter.endDate" ng-change="onReportParamsChange()" placeholder="{{'Reports.CustomReportsPage_InputPlaceholderEndDate' | i18n}}" />
                    <span class="help-block validation-message" ng-show="reportsFilterForm.endDate.$error">{{'Reports.CustomReportsPage_InputEndDateInvalid' | i18n}}</span>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <div class="col-xs-12 text-right">
                    <button class="btn btn-default" title="{{'Reports.CustomReportsPage_BtnTooltipClear' | i18n}}" ng-click="clearReportsFilter()">
                        <span class="icon-cross"></span>
                        <span>{{'Reports.CustomReportsPage_BtnTextClear' | i18n}}</span>
                    </button>
                    <button class="btn btn-default" title="{{'Reports.CustomReportsPage_BtnTooltipHide' | i18n}}" ng-click="hideReportsFilters()" ng-if="viewModel.isFilterShow">
                        <span class="icon-filter"></span>
                        <span>{{'Reports.CustomReportsPage_BtnTextHide' | i18n}}</span>
                    </button>
                    <button class="btn btn-default" title="{{'Reports.CustomReportsPage_BtnTooltipShow' | i18n}}" ng-click="showReportsFilters()" ng-if="!viewModel.isFilterShow">
                        <span class="icon-filter"></span>
                        <span>{{'Reports.CustomReportsPage_BtnTextShow' | i18n}}</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div ng-show="viewModel.isFilterShow">
        <div class="form-group">
            <div class="col-sm-6">
                <div class="form-group">
                    <div class="col-sm-5">
                        <label class="control-label" for="customerName">{{'Reports.CustomReportsPage_LblCustomerName' | i18n}}</label>
                    </div>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="customerName" name="customerName" ng-model="reportsFilter.customerName" ng-change="onReportParamsChange()" placeholder="{{'Reports.CustomReportsPage_InputPlaceholderCustomerName' | i18n}}" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-5">
                        <label class="control-label" for="customersGroups">{{'Reports.CustomReportsPage_LblCustomersGroups' | i18n}}</label>
                    </div>
                    <div class="col-sm-7">
                        <select type="text" class="form-control" id="customersGroups" name="customersGroups" ng-model="reportsFilter.customerGroupId" ng-change="onReportParamsChange()" ng-options="customersGroup.id as customersGroup.name for customersGroup in customersGroups">
                            <option value="">{{'Reports.CustomReportsPage_SelectOptionAllCustomersGroups' | i18n}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-5">
                        <label class="control-label" for="stores">{{'Reports.CustomReportsPage_LblStores' | i18n}}</label>
                    </div>
                    <div class="col-sm-7">
                        <select type="text" class="form-control" id="stores" name="stores" ng-model="reportsFilter.storeId" ng-change="onReportParamsChange()" ng-options="store.id as store.name for store in stores">
                            <option value="">{{'Reports.CustomReportsPage_SelectOptionAllStores' | i18n}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <div class="col-sm-5">
                        <label class="control-label" for="menuItem">{{'Reports.CustomReportsPage_LblMenuItems' | i18n}}</label>
                    </div>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="menuItem" name="menuItem" ng-model="reportsFilter.menuItem" ng-change="onReportParamsChange()" placeholder="{{'Reports.CustomReportsPage_InputPlaceholderMenuItem' | i18n}}" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-5">
                        <label class="control-label" for="menuItemCategories">{{'Reports.CustomReportsPage_LblMenuItemsCategories' | i18n}}</label>
                    </div>
                    <div class="col-sm-7">
                        <select type="text" class="form-control" id="menuItemCategories" name="menuItemCategories" ng-model="reportsFilter.menuItemCategoryId" ng-change="onReportParamsChange()" ng-options="menuItemCategory.id as menuItemCategory.name for menuItemCategory in menuItemsCategories">
                            <option value="">{{'Reports.CustomReportsPage_SelectOptionAllMenuItemsCategories' | i18n}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-5">
                        <label class="control-label" for="terminals">{{'Reports.CustomReportsPage_LblDevices' | i18n}}</label>
                    </div>
                    <div class="col-sm-7">
                        <select type="text" class="form-control" id="terminals" name="terminals" ng-model="reportsFilter.terminalId" ng-change="onReportParamsChange()" ng-options="x.id as x.name for x in terminals">
                            <option value="">{{'Reports.CustomReportsPage_SelectOptionAllDevices' | i18n}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <hr />
    </div>
    <div class="form-group reports-list">
        <div class="col-sm-4">
            <h2 class="text-uppercase">{{'Reports.CustomReportsPage_SalesSummarySectionTitle' | i18n}}:</h2>
            <ul>
                <li><a ui-sref="root.customSalesReportsSummary(reportsParams)">{{'Reports.CustomReportsPage_SalesSummaryReportTitle' | i18n}}</a></li>
                <li><a ui-sref="root.customSalesReportsByDay(reportsParams)">{{'Reports.CustomReportsPage_ByDayReportTitle' | i18n}}</a></li>
                <li><a ui-sref="root.customSalesReportsByWeekdays(reportsParams)">{{'Reports.CustomReportsPage_ByWeekdaysReportTitle' | i18n}}</a></li>
                <li><a ui-sref="root.customSalesReportsByHours(reportsParams)">{{'Reports.CustomReportsPage_ByHoursReportTitle' | i18n}}</a></li>
            </ul>
            <h2 class="text-uppercase">{{'Reports.CustomReportsPage_SalesByEmployeeSectionTitle' | i18n}}:</h2>
            <ul>
                <li><a ui-sref="root.customSalesReportsByEmployee(reportsParams)">{{'Reports.CustomReportsPage_ByEmployeeReportTitle' | i18n}}</a></li>
            </ul>
        </div>
        <div class="col-sm-4">
            <h2 class="text-uppercase">{{'Reports.CustomReportsPage_SalesByCustomerSectionTitle' | i18n}}:</h2>
            <ul>
                <li><a ui-sref="root.customSalesReportsByCustomer(reportsParams)">{{'Reports.CustomReportsPage_ByCusomerReportTitle' | i18n}}</a></li>
                <li><a ui-sref="root.customSalesReportsByCustomerGroup(reportsParams)">{{'Reports.CustomReportsPage_ByCusomerGroupReportTitle' | i18n}}</a></li>
            </ul>
            <h2 class="text-uppercase">{{'Reports.CustomReportsPage_SalesByLocationSectionTitle' | i18n}}:</h2>
            <ul>
                <li><a ui-sref="root.customSalesReportsByStore(reportsParams)">{{'Reports.CustomReportsPage_ByStoreReportTitle' | i18n}}</a></li>
                <li><a ui-sref="root.customSalesReportsByTerminal(reportsParams)">{{'Reports.CustomReportsPage_ByTerminalReportTitle' | i18n}}</a></li>
            </ul>
        </div>
        <div class="col-sm-4">
            <h2 class="text-uppercase">{{'Reports.CustomReportsPage_ItemSalesSectionTitle' | i18n}}:</h2>
            <ul>
                <li><a ui-sref="root.customSalesReportsByItem(reportsParams)">{{'Reports.CustomReportsPage_ByItemReportTitle' | i18n}}</a></li>
                <li><a ui-sref="root.customSalesReportsByCategory(reportsParams)">{{'Reports.CustomReportsPage_ByCategoryReportTitle' | i18n}}</a></li>
            </ul>
        </div>
    </div>
    <hr />
    <div class="form-group reports-list">
        <div class="col-sm-6">
            <h2 class="text-uppercase">{{'Reports.FastReportsPage_PosSectionTitle' | i18n}}:</h2>
            <ul>
                <li><a ui-sref="root.customZReport">{{'Reports.FastReportsPage_ZReportReportTitle' | i18n}}</a></li>
                <li><a ui-sref="root.customPaymentsSummaryReport">{{'Reports.FastReportsPage_PaymentsSummaryReportTitle' | i18n}}</a></li>
            </ul>
        </div>
        <div class="col-sm-6">
            <h2 class="text-uppercase">{{'Reports.FastReportsPage_PaymentsSectionTitle' | i18n}}:</h2>
            <ul>
                <li><a ui-sref="root.customPaymentsByDateReport">{{'Reports.FastReportsPage_PaymentsByDateReportTitle' | i18n}}</a></li>
            </ul>
        </div>
    </div>
</div>