﻿<div class="form-horizontal" ng-form name="reportsFilterForm" cd-validation-of-model="reportsFilter" cd-content-height>
    <h1 class="text-uppercase">{{'Reports.CustomersContactsReportPage_Title' | i18n}}</h1>
    <hr />
    <div class="form-group">
        <div class="col-xs-12 text-right">
            <button class="btn btn-default" title="{{'Reports.CustomersContactsReportPage_BtnTooltipGenerate' | i18n}}" ng-click="onGenerateReportClick()">
                <span class="icon-docs"></span>
                <span>{{'Reports.CustomersContactsReportPage_BtnTextGenerate' | i18n}}</span>
            </button>
            <button class="btn btn-default" title="{{'Reports.CustomersContactsReportPage_BtnTooltipHide' | i18n}}" ng-click="hideReportsFilters()" ng-if="viewModel.isFilterShow">
                <span class="icon-filter"></span>
                <span>{{'Reports.CustomersContactsReportPage_BtnTextHide' | i18n}}</span>
            </button>
            <button class="btn btn-default" title="{{'Reports.CustomersContactsReportPage_BtnTooltipShow' | i18n}}" ng-click="showReportsFilters()" ng-if="!viewModel.isFilterShow">
                <span class="icon-filter"></span>
                <span>{{'Reports.CustomersContactsReportPage_BtnTextShow' | i18n}}</span>
            </button>
        </div>
    </div>
    <hr />
    <div ng-show="viewModel.isFilterShow">
        <div class="form-group">
            <div class="col-sm-6">
                <div class="form-group">
                    <div class="col-sm-5">
                        <label class="control-label" for="customersGroups">{{'Reports.CustomersContactsReportPage_LblCustomerGroup' | i18n}}</label>
                    </div>
                    <div class="col-sm-7">
                        <tags-input type="text" id="customersGroups" name="customersGroups" ng-model="reportsFilter.customerGroups" placeholder="{{'Reports.CustomersContactsReportPage_InputPlaceholderGroups' | i18n}}" disp display-pro disp display-property="name" key-property="id" min-tags="0">
                            <auto-complete source="getCustomersGroups($query)" display-property="name"></auto-complete>
                        </tags-input>
                        <span class="help-block validation-message" ng-show="reportsFilterForm.customerGroups.$error.minTags">
                            {{'Reports.CustomersContactsReportPage_InputGroupsRequired' | i18n}}
                        </span>
                        <span class="help-block validation-message" ng-show="reportsFilterForm.customerGroups.$error.leftoverText">
                            {{'Reports.CustomersContactsReportPage_InputGroupsInvalid' | i18n}}
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <div class="col-xs-12 text-right">
                        <button class="btn btn-default" title="{{'Reports.CustomersContactsReportPage_BtnTooltipClear' | i18n}}" ng-click="clearReportsFilter()">
                            <span class="icon-cross"></span>
                            <span>{{'Reports.CustomersContactsReportPage_BtnTextClear' | i18n}}</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <hr />
    </div>
</div>
<div class="form-group">
    <div class="embed-fast-report-wrapper col-sm-9 col-md-10" ng-style="{'top': reportFrameTopPosition}">
        <iframe class="embed-fast-report" src="{{reportUri}}"></iframe>
    </div>
</div>


