﻿<div class="form-horizontal">
    <h1 class="text-uppercase">{{'Reports.FastReportsPage_Title' | i18n}}</h1>
    <hr />
    <div class="form-group reports-list">
        <div class="col-sm-4">
            <h2 class="text-uppercase">{{'Reports.FastReportsPage_SalesSummarySectionTitle' | i18n}}:</h2>
            <ul>
                <li><a ui-sref="root.salesReportsSummary">{{'Reports.FastReportsPage_SalesSummaryReportTitle' | i18n}}</a></li>
                <li><a ui-sref="root.salesReportsByDay">{{'Reports.FastReportsPage_ByDayReportTitle' | i18n}}</a></li>
                <li><a ui-sref="root.salesReportsByWeekdays">{{'Reports.FastReportsPage_ByWeekdaysReportTitle' | i18n}}</a></li>
                <li><a ui-sref="root.salesReportsByHours">{{'Reports.FastReportsPage_ByHoursReportTitle' | i18n}}</a></li>
            </ul>
            <h2 class="text-uppercase">{{'Reports.FastReportsPage_SalesByEmployeeSectionTitle' | i18n}}:</h2>
            <ul>
                <li><a ui-sref="root.salesReportsByEmployee">{{'Reports.FastReportsPage_ByEmployeeReportTitle' | i18n}}</a></li>
            </ul>
        </div>
        <div class="col-sm-4">
            <h2 class="text-uppercase">{{'Reports.FastReportsPage_SalesByCustomerSectionTitle' | i18n}}:</h2>
            <ul>
                <li><a ui-sref="root.salesReportsByCustomer">{{'Reports.FastReportsPage_ByCustomerReportTitle' | i18n}}</a></li>
                <li><a ui-sref="root.salesReportsByCustomerGroup">{{'Reports.FastReportsPage_ByCustomerGroupReportTitle' | i18n}}</a></li>
            </ul>
            <h2 class="text-uppercase">{{'Reports.FastReportsPage_SalesByLocationSectionTitle' | i18n}}:</h2>
            <ul>
                <li><a ui-sref="root.salesReportsByStore">{{'Reports.FastReportsPage_ByStoreReportTitle' | i18n}}</a></li>
                <li><a ui-sref="root.salesReportsByTerminal">{{'Reports.FastReportsPage_ByTerminalReportTitle' | i18n}}</a></li>
            </ul>
        </div>
        <div class="col-sm-4">
            <h2 class="text-uppercase">{{'Reports.FastReportsPage_ItemSalesSectionTitle' | i18n}}:</h2>
            <ul>
                <li><a ui-sref="root.salesReportsByItem">{{'Reports.FastReportsPage_ByItemReportTitle' | i18n}}</a></li>
                <li><a ui-sref="root.salesReportsByCategory">{{'Reports.FastReportsPage_ByCategoryReportTitle' | i18n}}</a></li>
            </ul>
        </div>
    </div>
    <hr/>
    <div class="form-group reports-list">
        <div class="col-sm-6">
            <h2 class="text-uppercase">{{'Reports.FastReportsPage_AddressesAndContactsSectionTitle' | i18n}}:</h2>
            <ul>
                <li><a ui-sref="root.customersReportsAddresses">{{'Reports.FastReportsPage_AddressesReportTitle' | i18n}}</a></li>
                <li><a ui-sref="root.customersReportsContacts">{{'Reports.FastReportsPage_ContactsReportTitle' | i18n}}</a></li>
            </ul>
        </div>
    </div>
    <hr/>
    <div class="form-group reports-list">
        <div class="col-sm-6">
            <h2 class="text-uppercase">{{'Reports.FastReportsPage_PosSectionTitle' | i18n}}:</h2>
            <ul>
                <li><a ui-sref="root.zReportsReport">{{'Reports.FastReportsPage_ZReportReportTitle' | i18n}}</a></li>
                <li><a ui-sref="root.zReportsPaymentsSummary">{{'Reports.FastReportsPage_PaymentsSummaryReportTitle' | i18n}}</a></li>
            </ul>
        </div>
        <div class="col-sm-6">
            <h2 class="text-uppercase">{{'Reports.FastReportsPage_PaymentsSectionTitle' | i18n}}:</h2>
            <ul>
                <li><a ui-sref="root.zReportsPaymentsByDate">{{'Reports.FastReportsPage_PaymentsByDateReportTitle' | i18n}}</a></li>
            </ul>
        </div>
    </div>
</div>