﻿<div class="form-horizontal" ng-form name="reportsFilterForm" cd-validation-of-model="reportsFilter" cd-content-height>
    <h1 class="text-uppercase">{{'Reports.SalesByMenuItemReportPage_Title' | i18n}}</h1>
    <hr />
    <div class="form-group">
        <div class="col-xs-12 text-right">
            <button class="btn btn-default" title="{{'Reports.SalesByMenuItemReportPage_BtnTooltipGenerate' | i18n}}" ng-click="onGenerateReportClick()">
                <span class="icon-docs"></span>
                <span>{{'Reports.SalesByMenuItemReportPage_BtnTextGenerate' | i18n}}</span>
            </button>
            <button class="btn btn-default" title="{{'Reports.SalesByMenuItemReportPage_BtnTooltipHide' | i18n}}" ng-click="hideReportsFilters()" ng-if="viewModel.isFilterShow">
                <span class="icon-filter"></span>
                <span>{{'Reports.SalesByMenuItemReportPage_BtnTextHide' | i18n}}</span>
            </button>
            <button class="btn btn-default" title="{{'Reports.SalesByMenuItemReportPage_BtnTooltipShow' | i18n}}" ng-click="showReportsFilters()" ng-if="!viewModel.isFilterShow">
                <span class="icon-filter"></span>
                <span>{{'Reports.SalesByMenuItemReportPage_BtnTextShow' | i18n}}</span>
            </button>
        </div>
    </div>
    <hr />
    <div ng-show="viewModel.isFilterShow">
        <div class="form-group">
            <div class="col-lg-2 col-md-2">
                <div class="form-group">
                    <div class="col-xs-12">
                        <label class="control-label text-uppercase">{{'Reports.SalesByMenuItemReportPage_LblPeriod' | i18n}}:</label>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-5">
                <div class="form-group">
                    <div class="col-sm-5">
                        <label class="control-label" for="startDate">{{'Reports.SalesByMenuItemReportPage_LblStartDate' | i18n}}</label>
                    </div>
                    <div class="col-sm-7">
                        <input type="text" id="startDate" name="startDate" cd-popup-datepicker ng-model="reportsFilter.startDate" ng-change="onReportParamsChange()" placeholder="{{'Reports.SalesByMenuItemReportPage_InputPlaceholderStartDate' | i18n}}" />
                        <span class="help-block validation-message" ng-show="reportsFilterForm.startDate.$error">{{'Reports.SalesByMenuItemReportPage_InputStartDateInvalid' | i18n}}</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-5">
                <div class="form-group">
                    <div class="col-sm-5">
                        <label class="control-label" for="endDate">{{'Reports.SalesByMenuItemReportPage_LblEndDate' | i18n}}</label>
                    </div>
                    <div class="col-sm-7">
                        <input type="text" id="endDate" name="endDate" cd-popup-datepicker ng-model="reportsFilter.endDate" ng-change="onReportParamsChange()" placeholder="{{'Reports.SalesByMenuItemReportPage_InputPlaceholderEndDate' | i18n}}" />
                        <span class="help-block validation-message" ng-show="reportsFilterForm.endDate.$error">{{'Reports.SalesByMenuItemReportPage_InputEndDateInvalid' | i18n}}</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <div class="col-xs-12 text-right">
                        <button class="btn btn-default" title="{{'Reports.SalesByMenuItemReportPage_BtnTooltipClear' | i18n}}" ng-click="clearReportsFilter()">
                            <span class="icon-cross"></span>
                            <span>{{'Reports.SalesByMenuItemReportPage_BtnTextClear' | i18n}}</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="form-group">
            <div class="col-sm-6">
                <div class="form-group">
                    <div class="col-sm-5">
                        <label class="control-label" for="menuItem">{{'Reports.SalesByMenuItemReportPage_LblMenuItems' | i18n}}</label>
                    </div>
                    <div class="col-sm-7">
                        <tags-input type="text" id="menuItem" name="menuItem" ng-model="reportsFilter.menuItems" placeholder="{{'Reports.SalesByMenuItemReportPage_InputPlaceholderItems' | i18n}}" disp disp display-pro disp display-property="name" key-property="id" min-tags="0">
                            <auto-complete source="getMenuItems($query)" display-property="name"></auto-complete>
                        </tags-input>
                        <span class="help-block validation-message" ng-show="reportsFilterForm.menuItems.$error.minTags">
                            {{'Reports.SalesByMenuItemReportPage_InputItemsRequired' | i18n}}
                        </span>
                        <span class="help-block validation-message" ng-show="reportsFilterForm.menuItems.$error.leftoverText">
                            {{'Reports.SalesByMenuItemReportPage_InputItemsInvalid' | i18n}}
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-5">
                        <label class="control-label" for="menuItemCategories">{{'Reports.SalesByMenuItemReportPage_LblMenuItemsCategories' | i18n}}</label>
                    </div>
                    <div class="col-sm-7">
                        <tags-input type="text" id="menuItemCategories" name="menuItemCategories" ng-model="reportsFilter.menuItemCategories" placeholder="{{'Reports.SalesByMenuItemReportPage_InputPlaceholderCategories' | i18n}}" disp display-pro disp display-property="name" key-property="id" min-tags="0">
                            <auto-complete source="getMenuItemsCategories($query)" display-property="name"></auto-complete>
                        </tags-input>
                        <span class="help-block validation-message" ng-show="reportsFilterForm.customerGroups.$error.minTags">
                            {{'Reports.SalesByMenuItemReportPage_InputCategoriesRequired' | i18n}}
                        </span>
                        <span class="help-block validation-message" ng-show="reportsFilterForm.customerGroups.$error.leftoverText">
                            {{'Reports.SalesByMenuItemReportPage_InputCategoriesInvalid' | i18n}}
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <div class="col-sm-5">
                        <label class="control-label" for="stores">{{'Reports.SalesByMenuItemReportPage_LblStores' | i18n}}</label>
                    </div>
                    <div class="col-sm-7">
                        <tags-input type="text" id="stores" name="stores" ng-model="reportsFilter.stores" placeholder="{{'Reports.SalesByMenuItemReportPage_InputPlaceholderStores' | i18n}}" disp display-pro disp display-property="name" min-tags="0">
                            <auto-complete source="getStores($query)" display-property="name"></auto-complete>
                        </tags-input>
                        <span class="help-block validation-message" ng-show="reportsFilterForm.stores.$error.minTags">
                            {{'Reports.SalesByMenuItemReportPage_InputStoresRequired' | i18n}}
                        </span>
                        <span class="help-block validation-message" ng-show="reportsFilterForm.stores.$error.leftoverText">
                            {{'Reports.SalesByMenuItemReportPage_InputStoresInvalid' | i18n}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <hr />
    </div>
</div>
<div class="form-group">
    <div class="embed-fast-report-wrapper col-sm-9 col-md-10" ng-style="{'top': reportFrameTopPosition}">
        <iframe class="embed-fast-report" src="{{reportUri}}"></iframe>
    </div>
</div>







