﻿<div class="form-horizontal" ng-form name="reportsFilterForm" cd-validation-of-model="reportsFilter" cd-content-height>
    <h1 class="text-uppercase">{{'Reports.SalesByCustomerGroupReportPage_Title' | i18n}}</h1>
    <hr />
    <div class="form-group">
        <div class="col-xs-12 text-right">
            <button class="btn btn-default" title="{{'Reports.SalesByCustomerGroupReportPage_BtnTooltipGenerate' | i18n}}" ng-click="onGenerateReportClick()">
                <span class="icon-docs"></span>
                <span>{{'Reports.SalesByCustomerGroupReportPage_BtnTextGenerate' | i18n}}</span>
            </button>
            <button class="btn btn-default" title="{{'Reports.SalesByCustomerGroupReportPage_BtnTooltipHide' | i18n}}" ng-click="hideReportsFilters()" ng-if="viewModel.isFilterShow">
                <span class="icon-filter"></span>
                <span>{{'Reports.SalesByCustomerGroupReportPage_BtnTextHide' | i18n}}</span>
            </button>
            <button class="btn btn-default" title="{{'Reports.SalesByCustomerGroupReportPage_BtnTooltipShow' | i18n}}" ng-click="showReportsFilters()" ng-if="!viewModel.isFilterShow">
                <span class="icon-filter"></span>
                <span>{{'Reports.SalesByCustomerGroupReportPage_BtnTextShow' | i18n}}</span>
            </button>
        </div>
    </div>
    <hr />
    <div ng-show="viewModel.isFilterShow">
        <div class="form-group">
            <div class="col-lg-2 col-md-2">
                <div class="form-group">
                    <div class="col-xs-12">
                        <label class="control-label text-uppercase">{{'Reports.SalesByCustomerGroupReportPage_LblPeriod' | i18n}}:</label>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-5">
                <div class="form-group">
                    <div class="col-sm-5">
                        <label class="control-label" for="startDate">{{'Reports.SalesByCustomerGroupReportPage_LblStartDate' | i18n}}</label>
                    </div>
                    <div class="col-sm-7">
                        <input type="text" id="startDate" name="startDate" cd-popup-datepicker ng-model="reportsFilter.startDate" ng-change="onReportParamsChange()" placeholder="{{'Reports.SalesByCustomerGroupReportPage_InputPlaceholderStartDate' | i18n}}" />
                        <span class="help-block validation-message" ng-show="reportsFilterForm.startDate.$error">{{'Reports.SalesByCustomerGroupReportPage_InputStartDateInvalid' | i18n}}</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-5">
                <div class="form-group">
                    <div class="col-sm-5">
                        <label class="control-label" for="endDate">{{'Reports.SalesByCustomerGroupReportPage_LblEndDate' | i18n}}</label>
                    </div>
                    <div class="col-sm-7">
                        <input type="text" id="endDate" name="endDate" cd-popup-datepicker ng-model="reportsFilter.endDate" ng-change="onReportParamsChange()" placeholder="{{'Reports.SalesByCustomerGroupReportPage_InputPlaceholderEndDate' | i18n}}" />
                        <span class="help-block validation-message" ng-show="reportsFilterForm.endDate.$error">{{'Reports.SalesByCustomerGroupReportPage_InputEndDateInvalid' | i18n}}</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <div class="col-xs-12 text-right">
                        <button class="btn btn-default" title="{{'Reports.SalesByCustomerGroupReportPage_BtnTooltipClear' | i18n}}" ng-click="clearReportsFilter()">
                            <span class="icon-cross"></span>
                            <span>{{'Reports.SalesByCustomerGroupReportPage_BtnTextClear' | i18n}}</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="form-group">
            <div class="col-sm-6">
                <div class="form-group">
                    <div class="col-sm-5">
                        <label class="control-label" for="stores">{{'Reports.SalesByCustomerGroupReportPage_LblStores' | i18n}}</label>
                    </div>
                    <div class="col-sm-7">
                        <tags-input type="text" id="stores" name="stores" ng-model="reportsFilter.stores" placeholder="{{'Reports.SalesByCustomerGroupReportPage_InputPlaceholderStores' | i18n}}" disp display-pro disp display-property="name" min-tags="0">
                            <auto-complete source="getStores($query)" display-property="name"></auto-complete>
                        </tags-input>
                        <span class="help-block validation-message" ng-show="reportsFilterForm.stores.$error.minTags">
                            {{'Reports.SalesByCustomerGroupReportPage_InputStoresRequired' | i18n}}
                        </span>
                        <span class="help-block validation-message" ng-show="reportsFilterForm.stores.$error.leftoverText">
                            {{'Reports.SalesByCustomerGroupReportPage_InputStoresInvalid' | i18n}}
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <div class="col-sm-5">
                        <label class="control-label" for="customersGroups">{{'Reports.SalesByCustomerGroupReportPage_LblCustomersGroups' | i18n}}</label>
                    </div>
                    <div class="col-sm-7">
                        <tags-input type="text" id="customersGroups" name="customersGroups" ng-model="reportsFilter.customerGroups" placeholder="{{'Reports.SalesByCustomerGroupReportPage_InputPlaceholderGroups' | i18n}}" disp display-pro disp display-property="name" key-property="id" min-tags="0">
                            <auto-complete source="getCustomersGroups($query)" display-property="name"></auto-complete>
                        </tags-input>
                        <span class="help-block validation-message" ng-show="reportsFilterForm.customerGroups.$error.minTags">
                            {{'Reports.SalesByCustomerGroupReportPage_InputGroupsRequired' | i18n}}
                        </span>
                        <span class="help-block validation-message" ng-show="reportsFilterForm.customerGroups.$error.leftoverText">
                            {{'Reports.SalesByCustomerGroupReportPage_InputGroupsInvalid' | i18n}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <hr />
    </div>
</div>
<div class="form-group">
    <div class="embed-fast-report-wrapper col-sm-9 col-md-10" ng-style="{'top': reportFrameTopPosition}">
        <iframe class="embed-fast-report" src="{{reportUri}}"></iframe>
    </div>
</div>






