﻿<div class="form-horizontal">
    <h1 class="text-uppercase">{{'Discounts.DiscountsListPage_Title' | i18n}}</h1>
    <hr />
    <div class="form-group">
        <div class="col-xs-12">
            <div class="form-inline">
                <button class="btn btn-default" title="{{'Discounts.DiscountsListPage_BtnTooltipAddDiscount' | i18n}}" ng-click="addDiscount()">
                    <span class="icon-plus"></span>
                    <span>{{'Discounts.DiscountsListPage_BtnTextAddDiscount' | i18n}}</span>
                </button>
                <button class="btn btn-default" title="{{'Discounts.DiscountsListPage_BtnTooltipDeleteDiscounts' | i18n}}" ng-click="removeDiscounts()" ng-disabled="!viewModel.canDelete">
                    <span class="icon-trash"></span>
                    <span>{{'Discounts.DiscountsListPage_BtnTextDeleteDiscounts' | i18n}}</span>
                </button>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12">
            <div class="grid" ui-grid="gridOptions" ui-grid-selection></div>
        </div>
    </div>
</div>