﻿<div class="form-horizontal" ng-form name="discountForm" cd-validation-of-model="discount">
    <h1 class="text-uppercase">{{'Discounts.DiscountPage_Title' | i18n}} > {{discount.name}}</h1>
    <hr />
    <div class="form-group">
        <div class="col-md-6">
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="name" class="control-label">{{'Discounts.DiscountPage_LblName' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="name" name="name" ng-model="discount.name" placeholder="{{'Discounts.DiscountPage_InputPlaceholderName' | i18n}}" required cd-server-validation-input="['exists']" />
                    <span class="help-block validation-message" ng-show="discountForm.name.$error.required">
                        {{'Discounts.DiscountPage_InputNameRequired' | i18n}}
                    </span>
                    <span class="help-block validation-message" ng-show="discountForm.name.$error.exists">
                        {{'Discounts.DiscountPage_InputNameExists' | i18n}}
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="type" class="control-label">{{'Discounts.DiscountPage_LblType' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <select class="form-control" id="type" name="type" ng-model="discount.type" ng-options="type.id as type.name for type in localizedDiscountTypes"></select>
                </div>
            </div>
            <div class="form-group" ng-if="discount.type == discountTypes.Percent">
                <div class="col-sm-5">
                    <label for="percentValue" class="control-label">{{'Discounts.DiscountPage_LblValue' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="percentValue" name="percentValue" ng-model="discount.value" placeholder="{{'Discounts.DiscountPage_InputPlaceholderValue' | i18n}}" cd-percentage-input />
                </div>
            </div>
            <div class="form-group" ng-if="discount.type == discountTypes.MoneyOff">
                <div class="col-sm-5">
                    <label for="currencyValue" class="control-label">{{'Discounts.DiscountPage_LblValue' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="currencyValue" name="currencyValue" ng-model="discount.value" placeholder="{{'Discounts.DiscountPage_InputPlaceholderValue' | i18n}}" cd-currency-input/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="isActive" class="control-label">{{'Discounts.DiscountPage_LblIsActive' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="isActive" name="isActive" ng-model="discount.isActive" />
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="description" class="control-label">{{'Discounts.DiscountPage_LblDescription' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <textarea class="form-control" id="description" name="description" ng-model="discount.description" placeholder="{{'Discounts.DiscountPage_InputPlaceholderDescription' | i18n}}"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12 text-center">
            <button class="btn btn-default" title="{{'Discounts.DiscountPage_BtnTooltipUpdate' | i18n}}" ng-click="updateDiscount()">
                <span class="icon-checkmark"></span>
                <span>{{'Discounts.DiscountPage_BtnTextUpdate' | i18n}}</span>
            </button>
            <button class="btn btn-default" title="{{'Discounts.DiscountPage_BtnTooltipCancel' | i18n}}" ng-click="cancel()">
                <span class="icon-cross"></span>
                <span>{{'Discounts.DiscountPage_BtnTextCancel' | i18n}}</span>
            </button>
        </div>
    </div>
</div>