﻿@{
    ViewBag.Title = "Home Page";
}

<div class="col-md-4">
    <div class="form-group">
        <label class="text-uppercase control-label" style="font-size: 20px">Edit Reports:</label>
    </div>
    <div class="form-group">
        @Html.ActionLink("By Day", "SalesByDay")
    </div>
</div>