﻿<div class="form-horizontal" ng-form name="addTaxForm" cd-validation-of-model="tax">
    <h1 class="text-uppercase">{{'Taxes.AddTaxPage_Title' | i18n}}</h1>
    <hr />
    <div class="form-group">
        <div class="col-md-6">
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="name" class="control-label">{{'Taxes.AddTaxPage_LblName' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="name" name="name" ng-model="tax.name" placeholder="{{'Taxes.AddTaxPage_InputPlaceholderName' | i18n}}" required cd-server-validation-input="['exists']" />
                    <span class="help-block validation-message" ng-show="addTaxForm.name.$error.required">
                        {{'Taxes.AddTaxPage_InputNameRequired' | i18n}}
                    </span>
                    <span class="help-block validation-message" ng-show="addTaxForm.name.$error.exists">
                        {{'Taxes.AddTaxPage_InputNameExists' | i18n}}
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="value" class="control-label">{{'Taxes.AddTaxPage_LblValue' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="value" name="value" ng-model="tax.value" placeholder="{{'Taxes.AddTaxPage_InputPlaceholderValue' | i18n}}" cd-percentage-input />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="description" class="control-label">{{'Taxes.AddTaxPage_LblDescription' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <textarea class="form-control" id="description" name="description" ng-model="tax.description" placeholder="{{'Taxes.AddTaxPage_InputPlaceholderDescription' | i18n}}"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12 text-center">
            <button class="btn btn-default" title="{{'Taxes.AddTaxPage_BtnTooltipSave' | i18n}}" ng-click="saveTax()">
                <span class="icon-checkmark"></span>
                <span>{{'Taxes.AddTaxPage_BtnTextSave' | i18n}}</span>
            </button>
            <button class="btn btn-default" title="{{'Taxes.AddTaxPage_BtnTooltipCancel' | i18n}}" ng-click="cancel()">
                <span class="icon-cross"></span>
                <span>{{'Taxes.AddTaxPage_BtnTextCancel' | i18n}}</span>
            </button>
        </div>
    </div>
</div>