﻿<div class="form-horizontal">
    <h1 class="text-uppercase">{{'Taxes.TaxesListPage_Title' | i18n}}</h1>
    <hr />
    <div class="form-group">
        <div class="col-xs-12">
            <div class="form-inline">
                <button class="btn btn-default" title="{{'Taxes.TaxesListPage_BtnTooltipAddTax' | i18n}}" ng-click="addTax()">
                    <span class="icon-plus"></span>
                    <span>{{'Taxes.TaxesListPage_BtnTextAddTax' | i18n}}</span>
                </button>
                <button class="btn btn-default" title="{{'Taxes.TaxesListPage_BtnTooltipDeleteTaxes' | i18n}}" ng-click="removeTaxes()" ng-disabled="!viewModel.canDelete">
                    <span class="icon-trash"></span>
                    <span>{{'Taxes.TaxesListPage_BtnTextDeleteTaxes' | i18n}}</span>
                </button>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12">
            <div class="grid" ui-grid="gridOptions" ui-grid-selection></div>
        </div>
    </div>
</div>