﻿<div class="form-horizontal" ng-form name="taxForm" cd-validation-of-model="tax">
    <h1 class="text-uppercase">{{'Taxes.TaxPage_Title' | i18n}} > {{tax.name}}</h1>
    <hr />
    <div class="form-group">
        <div class="col-md-6">
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="name" class="control-label">{{'Taxes.TaxPage_LblName' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="name" name="name" ng-model="tax.name" placeholder="{{'Taxes.TaxPage_InputPlaceholderName' | i18n}}" required cd-server-validation-input="['exists']"/>
                    <span class="help-block validation-message" ng-show="taxForm.name.$error.required">
                        {{'Taxes.TaxPage_InputNameRequired' | i18n}}
                    </span>
                    <span class="help-block validation-message" ng-show="taxForm.name.$error.exists">
                        {{'Taxes.TaxPage_InputNameExists' | i18n}}
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="value" class="control-label">{{'Taxes.TaxPage_LblValue' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="value" name="value" ng-model="tax.value" placeholder="{{'Taxes.TaxPage_InputPlaceholderValue' | i18n}}" cd-percentage-input />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="description" class="control-label">{{'Taxes.TaxPage_LblDescription' | i18n}}</label>
                </div>
                <div class="col-sm-7">
                    <textarea class="form-control" id="description" name="description" ng-model="tax.description" placeholder="{{'Taxes.TaxPage_InputPlaceholderDescription' | i18n}}"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12 text-center">
            <button class="btn btn-default" title="{{'Taxes.TaxPage_BtnTooltipUpdate' | i18n}}" ng-click="updateTax()">
                <span class="icon-checkmark"></span>
                <span>{{'Taxes.TaxPage_BtnTextUpdate' | i18n}}</span>
            </button>
            <button class="btn btn-default" title="{{'Taxes.TaxPage_BtnTooltipCancel' | i18n}}" ng-click="cancel()">
                <span class="icon-cross"></span>
                <span>{{'Taxes.TaxPage_BtnTextCancel' | i18n}}</span>
            </button>
        </div>
    </div>
</div>