﻿@import "../variables";
@import "../bootstrap/variables";

.embed-report-wrapper {
    position: fixed;
    top: $navbar-height+1px;
    bottom: 0;
    margin-left: $grid-gutter-width /2;
    margin-right: $grid-gutter-width /2;

    & .embed-report {
        width: 100%;
        height: 100%;
        border: 0;
    }
}

.embed-fast-report-wrapper { 
    position: fixed;
    bottom: 0;
    margin-top:  $navbar-height+1px;
    margin-left: $grid-gutter-width /2;
    margin-right: $grid-gutter-width /2;

    & .embed-fast-report {
        width: 100%;
        height: 100%;
        border: 0;
    }
}


