﻿<div class="form-horizontal">
    <h1 class="text-uppercase">{{'Receipts.ReceiptPage_Title' | i18n}}</h1>
    <hr />
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="form-group">
                <div class="col-xs-12">
                    <div cd-file-upload="receiptLogoImageUploader" class="file-upload"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    <input type="text" class="form-control" id="name" name="name" ng-model="receiptSettings.name" placeholder="{{'Receipts.ReceiptPage_InputPlaceholderReceiptName' | i18n}}" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    <input type="text" class="form-control" id="address" name="address" ng-model="receiptSettings.address" placeholder="{{'Receipts.ReceiptPage_InputPlaceholderReceiptAddress' | i18n}}" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-6">
                    <span>Transaction#<br /><br />Date, time<br />Quality of seats</span>
                </div>
                <div class="col-xs-6 text-right">
                    <span><br /><br />Order#<br />Staff member</span>
                </div>
            </div>
            <hr/>
            <div class="form-group">
                <div class="col-xs-6">
                    <span>Item 1<br />Item 2</span>
                </div>
                <div class="col-xs-6 text-right">
                    <span>Price 1<br />Price 2</span>
                </div>
            </div>
            <hr/>
            <div class="form-group">
                <div class="col-xs-6">
                    <span>Sales category 1<br />Sales category 2</span>
                </div>
                <div class="col-xs-6 text-right">
                    <span>Price 1<br />Price 2</span>
                </div>
            </div>
            <hr/>
            <div class="form-group">
                <div class="col-xs-6">
                    <span>Sub-total<br />Tax 1</span>
                </div>
                <div class="col-xs-6 text-right">
                    <span>Price<br />Price 1</span>
                </div>
            </div>
            <hr/>
            <div class="form-group">
                <div class="col-xs-6">
                    <span>Total</span>
                </div>
                <div class="col-xs-6 text-right">
                    <span>Price</span>
                </div>
            </div>
            <hr/>
            <div class="form-group">
                <div class="col-xs-6">
                    <span>Cash<br />Change</span>
                </div>
                <div class="col-xs-6 text-right">
                    <span>Price<br />Price</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    <input type="text" class="form-control" id="endingPhrase" name="endingPhrase" ng-model="receiptSettings.endingPhrase" placeholder="{{'Receipts.ReceiptPage_InputPlaceholderReceiptEndingPhrase' | i18n}}" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12 text-center">
                    <button class="btn btn-default" title="{{'Receipts.ReceiptPage_BtnTooltipUpdate' | i18n}}" ng-click="updateReceiptSettings()">
                        <span class="icon-checkmark"></span>
                        <span>{{'Receipts.ReceiptPage_BtnTextUpdate' | i18n}}</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>